<form [formGroup]="attendanceForm" class="row" (submit)="onSubmit()">
    <div class="d-flex justify-content-between">
        <h6>Attendance Section</h6>
        <span class="status" [ngClass]="resultTextClass" style="font-size: x-small;" class="badge align-self-baseline">
            {{resultText}} <fa-icon [icon]="resultIcon"
            class="fa-lg fa-regular ml-2"></fa-icon>
        </span>
    </div>

    <div class="col-md-3">
        <label class="form-label" onAtendeeStatusChange>Attendee Status<sup>*</sup></label>
        <div>
            <div class="form-check form-check-inline">
                <input type="radio" class="form-check-input" value="present" id="present" formControlName="attendee_status" (change)="onAtendeeStatusChange($event)"
                    [attr.disabled]="submittedStatus?true:null" name="attendee_status" id="present" [checked]="attendeeStatus=='present'">
                <label class="form-label" for="present">Present</label>
            </div>
            <div class="form-check form-check-inline">
                <input type="radio" class="form-check-input" value="absent" id="absent" formControlName="attendee_status" (change)="onAtendeeStatusChange($event)"
                    name="attendee_status" [checked]="attendeeStatus=='absent'" [attr.disabled]="submittedStatus?true:null">
                <label class="form-label" for="absent">Absent</label>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <label for="marks" class="form-label">Marks</label><sup>*</sup>
        <input type="number" placeholder="Score" formControlName="marks"
            class="form-control form-control-sm" id="marks" [readOnly]="submittedStatus || isAttendeeAbsent || isVerifier" min="0" max="100" [required]="submittedStatus">
            <!-- [ngClass]="{ 'is-invalid': enrolled && enrollmentform['fostac_training_date'].errors }">
        <div *ngIf="enrolled && enrollmentform['fostac_training_date'].errors" class="invalid-feedback">
            <div *ngIf="enrollmentform['fostac_training_date'].errors['required']">Fostac Training is required</div>
        </div> -->
    </div>

    <div class="row mt-3">
        <div class="col-6">
            <button type="submit" class="btn btn-sm btn-primary"
                [disabled]="!enrolledStatus || submittedStatus">Submit</button>
        </div>
    </div>
</form>