.chart-container{
    min-height: 430px;
}

.alert{
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
}

.chart-title-div {
    color: #252930; 
    margin-top: -10px;
}

.chart-title {
    font-size: 15px;
}