<div>
    <div class="app-content pt-3 p-md-3 p-lg-4">
        <div class="container-xxl">
            <ul class="nav nav-pills w-100 d-flex justify-content-start m-0 p-0">
                <li class="nav-item d-flex border border-1 rounded-top-3 py-2 px-2">
                    <a *ngFor="let loc of delhiTrainingLoactions" class="nav-link mx-1" style="cursor: pointer;"
                        [ngClass]="{'active': activeTab===loc}" (click)="toogleTabs(loc)">{{loc}}</a>
                </li>
            </ul>
            <div class="border border-1 rounded-3 rounded-start-0 p-3">
                <div class="row g-3 mb-4 align-items-center justify-content-between">
                    <div class="col-auto">
                        <h1 class="app-page-title mb-0">Batch List of {{activeTab}}</h1>
                    </div>
                    <div class="col-auto">
                        <div class="page-utilities">
                            <div class="row g-2 justify-content-start justify-content-md-end align-items-center">
                                <div class="col-auto">
                                    <select class="form-select form-select-sm w-auto cursor-pointer" [(ngModel)]="itemsNumber"
                                        (click)="pageNumber=1">
                                        <option value=10>10</option>
                                        <option value=25 selected>25</option>
                                        <option value=50>50</option>
                                        <option value=100>100</option>
                                    </select>
                                </div>
                                <div class="col-auto">
                                    <button class="btn btn-sm mx-1"
                                        [ngClass]="serviceType==='Catering'?'btn-primary':'btn-secondary'" type="button"
                                        (click)="setServiceType('Catering')">
                                        Catering
                                    </button>
                                    <button class="btn btn-sm mx-1"
                                        [ngClass]="serviceType==='Retail'?'btn-primary':'btn-secondary'" type="button"
                                        (click)="setServiceType('Retail')">
                                        Retail
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-content" id="orders-table-tab-content">
                    <div class="tab-pane fade show active" id="orders-all" role="tabpanel"
                        aria-labelledby="orders-all-tab">
                        <div class="app-card app-card-orders-table shadow-sm mb-5">
                            <form class="app-card-body" [formGroup]="updationForm" (submit)="onSubmit($event)">
                                <div class="table-responsive">
                                    <table class="table app-table-hover table-striped mb-0 text-left"
                                        id="data-to-export">
                                        <thead>
                                            <tr>
                                                <th class="cell">S.No</th>
                                                <th class="cell">Batch Code</th>
                                                <th class="cell">No. of candidate</th>
                                                <th class="cell">Status</th>
                                                <th class="cell">venue</th>
                                                <th class="cell">Training Date</th>
                                                <th class="cell">Trainer</th>
                                                <th class="cell">View</th>
                                            </tr>
                                        </thead>
                                        <tbody class="accordion accordion-flush">
                                            <tr *ngFor="let batch of filteredData | paginate: { itemsPerPage: itemsNumber, currentPage: pageNumber }; let i=index"
                                                class="list-tr accordion-header">
                                                <td class="cell col-1"><span
                                                        class="truncate">{{i+itemsNumber*(pageNumber-1)+1}}</span></td>
                                                <td class="cell col-1"><span class="truncate"
                                                        title="View Case">{{batch.batchCode}}</span></td>
                                                <td class="cell col-2"><span
                                                        class="truncate">{{batch.candidateNo}}</span>
                                                </td>
                                                <td class="cell col-1"><span class="truncate">{{batch.status}}</span>
                                                </td>
                                                <td class="cell col-2"><span class="truncate">
                                                        {{!editMode[batch._id]?batch.venue?batch.venue:'N/A':''}}
                                                        <select *ngIf="editMode[batch._id]" name=""
                                                            class="form-select form-select-xs"
                                                            [formControlName]="'venue' + batch._id">
                                                            <option value="" disabled selected>Select Venue</option>
                                                            <option value="IIEST">IIEST</option>
                                                        </select>
                                                    </span>
                                                </td>
                                                <td class="cell col-2"><span class="truncate">
                                                        {{!editMode[batch._id]?batch.trainingDate?getFormatedDate(batch.trainingDate):'N/A':''}}
                                                        <input *ngIf="editMode[batch._id]" type="datetime-local"
                                                            [formControlName]="'training_date' + batch._id"
                                                            class="form-control form-control-xs">
                                                    </span>
                                                </td>
                                                <td class="cell col-2"><span class="truncate">
                                                        {{!editMode[batch._id]?batch.trainer?batch.trainer:'N/A':''}}
                                                        <select *ngIf="editMode[batch._id]" name=""
                                                            class="form-select form-select-xs"
                                                            [formControlName]="'trainer' + batch._id">
                                                            <option value="" disabled selected>Select Trainer</option>
                                                            <option value="Manisha Kumari">Manisha Kumari</option>
                                                        </select>
                                                    </span>
                                                </td>
                                                <td class="cell"><span class="truncate">
                                                        <fa-icon class="text-primary selector" [icon]="faEye"
                                                            (click)="showCaseList(batch.candidateDetails)"></fa-icon>
                                                        
                                                        <fa-icon *ngIf="!editMode[batch._id] && batch.status === 'completed'"
                                                            class="text-primary selector px-2" [icon]="faPen"
                                                            (click)="openEditMode(batch._id, i)"></fa-icon>
                                                        <button *ngIf="editMode[batch._id]" [id]="batch._id"
                                                            class="btn mx-2 btn-primary btn-xs">save</button>
                                                        <fa-icon *ngIf="editMode[batch._id]" class="text-primary selector"
                                                            [icon]="faCancel" (click)="closeEditMode(batch._id)"></fa-icon>
                                                    </span>
                                                </td>
                                            </tr>
                                            <!-- <div class=""> -->
                                            <!-- <tr class="accordion-collapse" [ngClass]="{'collapse': editMode}" autocomplete="off" id="one"
                                                [formGroup]="updationForm" (onSubmit)="editMode=true"
                                                aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                                                <td class="cell"><span class="truncate">33</span></td>
                                                <td class="cell"><span class="truncate" title="View Case">33</span></td>
                                                <td class="cell"><span class="truncate">22</span>
                                                </td>
                                                <td class="cell"><span class="truncate">22</span>
                                                </td>
                                                <td class="cell"><span class="truncate">12</span>
                                                </td>
                                                <td class="cell"><span class="truncate">
                                                    <div class="">
                                                        <input type="datetime-local" class="form-control form-control-xs" formControlName="training_date">
                                                    </div>
                                                        
                                                    </span>
                                                </td>
                                                <td class="cell"><span class="truncate">
                                                      \
                                                    </span>
                                                </td>
                                                <td class="cell"><span class="truncate">
                                                        <button class="btn btn-primary btn-sm" (click)="onSubmit()">save</button>
                                                    </span>
                                                </td>
                                            </tr> -->

                                            <!-- </div> -->
                                            <!-- <div id="flush-collapseOne" class="accordion-collapse"
                                                aria-labelledby="flush-headingOne"
                                                data-bs-parent="#accordionFlushExample"> -->

                                            <!-- </div> -->

                                        </tbody>
                                        <tbody *ngIf="!filteredData || filteredData.length===0">
                                            <tr>
                                                <td colspan="15" class="text-center fw-bold">----------------- No Data
                                                    Found
                                                    ----------------</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div><!--//table-responsive-->

                            </form><!--//app-card-body-->
                        </div><!--//app-card-->

                        <div class="d-flex" *ngIf="showPagination"
                            [ngClass]="filteredData?'justify-content-between':'justify-content-end'">
                            <div *ngIf="filteredData" class="text-sm" style="font-size: 14px;">{{filteredData.length}}
                                of
                                {{totalCount}}</div>
                            <pagination-controls previousLabel="Prev" nextLabel="Next"
                                (pageChange)="onTableDataChange($event)"></pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>