<div>
    <div class="app-content pt-3 p-md-3 p-lg-4">
        <div class="container-xxl">
            <ul class="nav nav-pills w-100 d-flex justify-content-start m-0 p-0">
                <li class="nav-item d-flex border border-1 rounded-top-3 py-2 px-2">
                    <a *ngFor="let loc of delhiTrainingLoactions" class="nav-link mx-1" style="cursor: pointer;"
                        [ngClass]="{'active': activeTab===loc}" (click)="toogleTabs(loc)">{{loc}}</a>
                </li>
            </ul>
            <div class="border border-1 rounded-3 rounded-start-0 p-3">
                <div class="row g-3 mb-4 align-items-center justify-content-between">
                    <div class="col-auto">
                        <h1 class="app-page-title mb-0">Batch List of {{activeTab}}</h1>
                    </div>
                    <div class="col-auto">
                        <div class="page-utilities">
                            <div class="row g-2 justify-content-start justify-content-md-end align-items-center">
                                <div class="col-auto">
                                    <button class="btn btn-sm mx-1"
                                        [ngClass]="serviceType==='Catering'?'btn-primary':'btn-secondary'" type="button"
                                        (click)="setServiceType('Catering')">
                                        Catering
                                    </button>
                                    <button class="btn btn-sm mx-1"
                                        [ngClass]="serviceType==='Retail'?'btn-primary':'btn-secondary'" type="button"
                                        (click)="setServiceType('Retail')">
                                        Retail
                                    </button>
                                </div>
                                <!-- <div class="col-auto">
                                <select class="form-select form-select-sm w-auto cursor-pointer" [(ngModel)]="itemsNumber"
                                    (click)="pageNumber=1">
                                    <option value=10>10</option>
                                    <option value=25 selected>25</option>
                                    <option value=50>50</option>
                                    <option value=100>100</option>
    
                                </select>
                            </div> -->
                                <!-- <div class="col-auto">
                                <form class="form">
                                    <div class="input-group">
                                        <fa-icon [icon]="faMagnifyingGlass" class="fa-sm"
                                            style="position: absolute; padding: 9px 10px;"
                                            [ngClass]="isSearch === false ? 'd-block':'d-none'"></fa-icon>
                                    </div>
                                    <input type="text" id="search-orders" [(ngModel)]="searchQuery" name="searchorders"
                                        class="form-control form-control-sm search-orders" (input)="onSearchChange()">
                                </form>
                            </div> -->
                                <!-- <div class="col-auto">
                                <select class="form-select form-select-sm w-auto cursor-pointer"
                                    [(ngModel)]="selectedFilter">
                                    <option *ngIf="panelType=='Fostac Panel'" value="byRecipientName" selected>Search by
                                        Recipient Name</option>
                                    <option *ngIf="panelType=='Foscos Panel'" value="byOperatorName" selected>Search by
                                        Operator Name</option>
                                    <option value="byFboName">Search by Fbo Name</option>
                                    <option value="byOwnerName">Search by Owner Name</option>
                                    <option value="byContact">Search by Contact no.</option>
                                    <option value="byState">Search by State</option>
                                </select>
                            </div> -->
                                <!-- <div class="col-auto">
                                <fa-icon (click)="exportToCsv()" class="fa-2xl cursor-pointer"
                                    style="margin: 7px 7px; color: #1957a9;" [icon]="faFileCsv"
                                    title="Export as CSV"></fa-icon>
                            </div> -->
                            </div>
                        </div>
                    </div>
                </div>

                <div class="tab-content" id="orders-table-tab-content">
                    <div class="tab-pane fade show active" id="orders-all" role="tabpanel"
                        aria-labelledby="orders-all-tab">
                        <div class="app-card app-card-orders-table shadow-sm mb-5">
                            <div class="app-card-body">
                                <div class="table-responsive">
                                    <table class="table app-table-hover table-striped mb-0 text-left"
                                        id="data-to-export">
                                        <thead>
                                            <tr>
                                                <th class="cell">S.No</th>
                                                <th class="cell">Batch Code</th>
                                                <th class="cell">No. of candidate</th>
                                                <th class="cell">Status</th>
                                                <th class="cell">venue</th>
                                                <th class="cell">Training Date</th>
                                                <th class="cell">Trainer</th>
                                                <th class="cell">View</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr class="list-tr"
                                                *ngFor="let batch of filteredData | paginate: { itemsPerPage: itemsNumber, currentPage: pageNumber }; let i=index">
                                                <td class="cell"><span
                                                        class="truncate">{{i+itemsNumber*(pageNumber-1)+1}}</span></td>
                                                <td class="cell"><span class="truncate"
                                                        title="View Case">{{batch.batchCode}}</span></td>
                                                <td class="cell"><span class="truncate">{{batch.candidateNo}}</span>
                                                </td>
                                                <td class="cell"><span class="truncate">{{batch.status}}</span>
                                                </td>
                                                <td class="cell"><span class="truncate">{{batch.status}}</span>
                                                </td>
                                                <td class="cell"><span class="truncate">
                                                        <input type="datetime-local" class="form-control form-control-xs" [readOnly]="!editMode">
                                                    </span>
                                                </td>
                                                <td class="cell"><span class="truncate">
                                                        <select name="" id="" class="form-select form-select-xs" [disabled]="!editMode">
                                                            <option value="" disabled selected>Select Trainer</option>
                                                        </select>
                                                    </span>
                                                </td>
                                                <td class="cell"><span class="truncate">
                                                        <fa-icon class="text-primary selector" [icon]="faEye"
                                                            (click)="showCaseList(batch.candidateDetails)"></fa-icon>
                                                        <fa-icon *ngIf="!editMode" class="text-primary selector px-2" [icon]="faPen"
                                                        (click)="editMode = true"></fa-icon>
                                                        <fa-icon *ngIf="editMode" class="text-primary selector px-2" [icon]="faSave"
                                                        (click)="editMode = false"></fa-icon>
                                                    </span>
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tbody *ngIf="!filteredData || filteredData.length===0">
                                            <tr>
                                                <td colspan="15" class="text-center fw-bold">----------------- No Data
                                                    Found
                                                    ----------------</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div><!--//table-responsive-->

                            </div><!--//app-card-body-->
                        </div><!--//app-card-->

                        <div class="d-flex" *ngIf="showPagination"
                            [ngClass]="filteredData?'justify-content-between':'justify-content-end'">
                            <div *ngIf="filteredData" class="text-sm" style="font-size: 14px;">{{filteredData.length}}
                                of
                                {{totalCount}}</div>
                            <pagination-controls previousLabel="Prev" nextLabel="Next"
                                (pageChange)="onTableDataChange($event)"></pagination-controls>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>