<div class="modal-header bg-secondary">
    <h6 class="modal-title text-white" id="modal-basic-title">Recipients</h6>
    <button type="button" class="btn-close btn-close-white" aria-label="Close" (click)="activeModal.dismiss()"></button>
</div>
<div>
    <form *ngIf="type=='area'" [formGroup]="areaAllocationForm" autocomplete="off" (ngSubmit)="onSubmit()">
        <div class="modal-body">
            <div class="row">
                <div class="col-md-4">
                    <label for="state" class="form-label">State<sup>*</sup></label>
                    <select id="state" [ngClass]="{ 'is-invalid': submitted && form['state'].errors }"
                        formControlName="state" class="form-select form-select-sm" (change)="onStateSelect($event)">
                        <option value="" disabled selected>Select the State</option>
                        <option *ngFor="let state of statesList" [value]="state">{{state}}</option>
                        <!-- <option value="New Delhi">New Delhi</option> -->

                    </select>
                    <div *ngIf="submitted && form['state'].errors" class="invalid-feedback">
                        <div *ngIf="form['state'].errors['required']">State is required</div>
                    </div>
                </div>
                <div class="col-md-4" *ngIf="type === 'area'">
                    <label for="district" class="form-label">District<sup>*</sup></label>
                    <select id="district" [ngClass]="{ 'is-invalid': submitted && form['district'].errors }"
                        formControlName="district" class="form-select form-select-sm"
                        (change)="onDistrictSelect($event)">
                        <option value="" disabled selected>Select the District</option>
                        <option *ngFor="let district of districts" [value]="district">{{district}}</option>

                    </select>
                    <div *ngIf="submitted && form['district'].errors" class="invalid-feedback">
                        <div *ngIf="form['district'].errors['required']">District is required</div>
                    </div>
                </div>
                <div class="col-md-4" *ngIf="type === 'area'">
                    <label for="pincodes" class="form-label">Pincodes<sup>*</sup></label>
                    <app-multi-select #multiSelect (selectedArrayChange)="getPincodes($event)" [options]="pincodes"
                        [placeHolder]="'Pincodes'"></app-multi-select>
                    <div *ngIf="submitted && form['pincodes'].errors" class="invalid-feedback">
                        <div *ngIf="form['pincodes'].errors">Product Name is required</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer text-left">
            <button type="submit" class="btn btn-sm btn-outline-dark">Allocate Area</button>
        </div>
    </form>
    <form *ngIf="type=='manager'" [formGroup]="reportingManagerForm" autocomplete="off" (ngSubmit)="onSubmit()">
        <div class="modal-body">
            <div class="row">
                <div class="col-md-6">
                    <label for="reportingManager" class="form-label">Reporting Manager<sup>*</sup></label>
                    <select id="reportingManager"
                        [ngClass]="{ 'is-invalid': submitted && form['reportingManager'].errors }"
                        formControlName="reportingManager" class="form-select form-select-sm">
                        <option value="" disabled selected>Select the Reporting Manager</option>
                        <option value="New Delhi">HR manager</option>
                    </select>
                    <div *ngIf="submitted && form['reportingManager'].errors" class="invalid-feedback">
                        <div *ngIf="form['reportingManager'].errors['required']">Reporting Manager is required
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer text-left">
            <button type="submit" class="btn btn-sm btn-outline-dark">Repoting Manager</button>
        </div>
    </form>
</div>