<form [formGroup]="enrollmentForm" class="row" (submit)="onEnroll()">
    <div class="d-flex justify-content-between">
        <h6>Enrollment Section</h6>
        <div class="status" [ngClass]="enrolledStatus?'text-success':'text-warning'" style="font-size: large;">{{enrolledStatus?'Enrolled':'Not-Enrolled'}} <fa-icon [icon]="enrolledStatus?faCircleCheck:faCircleExclamation"
                class="fa-lg fa-regular ml-2"></fa-icon></div>
    </div>

    <div class="col-md-3">
        <label for="tentative_training_date" class="form-label">Tentative Training Date</label><sup>*</sup>
        <input type="date" placeholder="Tentative Training Date" formControlName="tentative_training_date"
            class="form-control form-control-sm" id="tentative_training_date" [readOnly]="true"
            [ngClass]="{ 'is-invalid': enrolled && enrollmentform['tentative_training_date'].errors }">
        <div *ngIf="enrolled && enrollmentform['tentative_training_date'].errors" class="invalid-feedback">
            <div *ngIf="enrollmentform['tentative_training_date'].errors['required']">Tentative Training Date is required</div>
        </div>
    </div>

    <div class="col-md-3">
        <label for="fostac_training_date" class="form-label">Foatac Training Date</label><sup>*</sup>
        <input type="date" placeholder="Fostac Training Date" formControlName="fostac_training_date"
            class="form-control form-control-sm" id="fostac_training_date" [readOnly]="enrolledStatus"
            [ngClass]="{ 'is-invalid': enrolled && enrollmentform['fostac_training_date'].errors }">
        <div *ngIf="enrolled && enrollmentform['fostac_training_date'].errors" class="invalid-feedback">
            <div *ngIf="enrollmentform['fostac_training_date'].errors['required']">Fostac Training is required</div>
        </div>
    </div>

    <div class="col-md-3">
        <label for="roll_no" class="form-label">Enrollment no.</label><sup>*</sup>
        <input type="text" placeholder="Enrollment no." formControlName="roll_no" class="form-control form-control-sm"
            id="roll_no" [ngClass]="{ 'is-invalid': enrolled && enrollmentform['roll_no'].errors }" [readOnly]="enrolledStatus"
            >
        <div *ngIf="enrolled && enrollmentform['roll_no'].errors" class="invalid-feedback">
            <div *ngIf="enrollmentform['roll_no'].errors['required']">Roll no. is required</div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-6">
            <button type="submit" class="btn btn-sm btn-primary" [disabled]="enrolledStatus">Enroll</button>
        </div>
    </div>
</form>