<div>
  <div class="app-content pt-3 p-md-3 p-lg-4">
    <div class="container-xxl">
      <div class="row g-3 mb-4 align-items-center justify-content-between px-0 ">
        <div class="col-12 d-flex justify-content-between align-items-center px-0">
          <h1 class="app-page-title mb-2">Operation {{productType}} Form
            <p class="Customer-id">({{customerId}})</p>
          </h1>
        </div>
 
        <ul class="nav nav-pills w-100 d-flex justify-content-end my-0 py-0">
          <li class="nav-item d-flex border border-1 rounded-top-3 py-2 px-2 mx-1">
            <a class="nav-link mx-1"  [ngClass]="{'active': activeTab==='form'}" (click)="toogleTabs('form')">Form</a>
            <a class="nav-link mx-1"  [ngClass]="{'active': activeTab==='documentation'}" (click)="toogleTabs('documentation')">Documents</a>
          </li>
        </ul>
          
        <!-- <div class="">Customer ID</div> -->
        <div *ngIf="activeTab==='form'" class="row gy-4 mb-3 border py-3 px-3 border-1 my-0 rounded-3 rounded-end-0">
          <!-- verifiaction section: this section is for verifing the recipient where we takes the basic details of the recipient and verify it-->
          <app-verification-section
            class="g-1 p-3 border border-1 rounded-3 pb-3"
            [candidateId]="candidateId"
            [productType]="productType"
            (emitCustomerId)="getCustomerId($event)"
            (emitSalesDate)="getSalesData($event)"
            (emitVerifiedID)="getVerifiedDataId($event)" 
            (emitVerifiedStatus)="getVerifiedStatus($event)"
            (emitDocuments)="getDocuments($event)"
            (refreshAuditLog)="generalsec.getCaseNotes()">
          </app-verification-section>

          <!-- enrollment section: this section is for enrolling and giving training date and enrollment number -->
          <app-enrollment-section
            *ngIf="productType === 'Fostac'"
            class="g-1 p-3 mt-2 border border-1 rounded-3 pb-3"
            [salesDate]="salesDate"
            [verifiedStatus]="verifiedStatus"
            [verifiedDataId]="verifiedDataId"
            (emitEnrolledStatus)="getEnrolledStatus($event)"
            (emitEnrolledDataId)="getEnrolledDataId($event)"
            (refreshAuditLog)="generalsec.getCaseNotes()">
          </app-enrollment-section>

          <app-documentation-section 
            *ngIf="productType === 'Foscos'"
            class="g-1 p-3 mt-2 border border-1 rounded-3 pb-3"
            [verifiedStatus]="verifiedStatus">
          </app-documentation-section>

          <!-- Attendance section: trainers can mark attendance by the help of this section and this is also only visible to trainers -->
          <app-attendance-section 
            *ngIf="productType === 'Fostac'" 
            class="g-1 p-3 mt-2 border border-1 rounded-3 pb-3"
            [enrolledStatus]="enrolledStatus" 
            [enrolledDataId]="enrolledDataId"
            (emitAttenanceStatus)="getAttendanceStatus($event)"
            (emitAttenSecResult)="getAttenSecResult($event)"
            (refreshAuditLog)="generalsec.getCaseNotes()">
          </app-attendance-section>

          <app-revert-section 
            *ngIf="productType === 'Foscos'"
            class="g-1 p-3 mt-2 border border-1 rounded-3 pb-3">
          </app-revert-section>

          <app-certification-section 
            class="g-1 p-3 mt-2 border border-1 rounded-3 pb-3"
            [candidateID]="candidateId"
            [attendanceStatus]="attendanceStatus"
            [attenSecResult]="attenSecResult"
            [projectType]="productType">
          </app-certification-section>

          <!-- general section: this section is for tracking recpients record like case notes and officer notes -->
          <app-general-section 
            class="g-1 p-3 mt-2 border border-1 rounded-3 pb-3"
            [candidateId]="candidateId"
            [productType]="productType">
          </app-general-section>

        </div>
        <div *ngIf="activeTab==='documentation'" class="row gy-4 mb-3 border py-3 px-3 border-1 my-0 rounded-3 rounded-end-0">
          <div class="">
            <h6>Documents of </h6>
          </div>

          <ul class="doc-list row px-3 mx-3">
            <li *ngFor="let doc of documents">
              <p>{{doc.name}}</p>
              <a [href]="'http://localhost:3000/' + doc.src" [download]="doc.name + '.pdf'" target="_blank">
                <fa-icon class="fa-2xl mx-2 text-primary cursor-pointer" [icon]="faFilePdf" title="Download Certificate"></fa-icon>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>