<div class="app-content pt-3 p-md-3 p-lg-4">
    <div class="container-xxl border border-1 rounded-3 pt-3">
        <div class="row g-3 mb-4 align-items-center justify-content-between">
            <div class="col-auto">
                <h1 class="app-page-title mb-0">Case List of {{panelType.split(' ')[0]}} {{serviceType?('(' + serviceType + ')'):''}}</h1>
            </div>
            <div class="col-auto">
                <div class="page-utilities">
                    <div class="row g-2 justify-content-start justify-content-md-end align-items-center">
                        <ng-container *ngIf="!forTraining">
                            <div *ngIf="panelType==='Fostac Panel'" class="col-auto">
                                <button class="btn btn-sm mx-1"
                                    [ngClass]="serviceType==='Catering'?'btn-primary':'btn-secondary'" type="button"
                                    (click)="setServiceType('Catering')">
                                    Catering
                                </button>
                                <button class="btn btn-sm mx-1"
                                    [ngClass]="serviceType==='Retail'?'btn-primary':'btn-secondary'" type="button"
                                    (click)="setServiceType('Retail')">
                                    Retail
                                </button>
                            </div>
                            <div *ngIf="panelType==='Foscos Panel'" class="col-auto">
                                <button class="btn btn-sm mx-1"
                                    [ngClass]="serviceType==='Registration'?'btn-primary':'btn-secondary'" type="button"
                                    (click)="setServiceType('Registration')">
                                    Registration
                                </button>
                                <button class="btn btn-sm mx-1"
                                    [ngClass]="serviceType==='State'?'btn-primary':'btn-secondary'" type="button"
                                    (click)="setServiceType('State')">
                                    State
                                </button>
                            </div>
                        </ng-container>
                        <div class="col-auto">
                            <select class="form-select form-select-sm w-auto cursor-pointer" [(ngModel)]="itemsNumber"
                                (click)="pageNumber=1">
                                <option value=10>10</option>
                                <option value=25 selected>25</option>
                                <option value=50>50</option>
                                <option value=100>100</option>

                            </select>
                        </div>
                        <div class="col-auto">
                            <form class="form">
                                <div class="input-group">
                                    <fa-icon [icon]="faMagnifyingGlass" class="fa-sm"
                                        style="position: absolute; padding: 9px 10px;"
                                        [ngClass]="isSearch === false ? 'd-block':'d-none'"></fa-icon>
                                </div>
                                <input type="text" id="search-orders" [(ngModel)]="searchQuery" name="searchorders"
                                    class="form-control form-control-sm search-orders" (input)="onSearchChange()">
                            </form>
                        </div>
                        <div class="col-auto">
                            <select class="form-select form-select-sm w-auto cursor-pointer"
                                [(ngModel)]="selectedFilter">
                                <option *ngIf="panelType=='Fostac Panel'" value="byRecipientName" selected>Search by
                                    Recipient Name</option>
                                <option *ngIf="panelType=='Foscos Panel'" value="byOperatorName" selected>Search by
                                    Operator Name</option>
                                <option value="byFboName">Search by Fbo Name</option>
                                <option value="byOwnerName">Search by Owner Name</option>
                                <option value="byContact">Search by Contact no.</option>
                                <option value="byLocation">Search by Location</option>
                            </select>
                        </div>
                        <!-- <div class="col-auto">
                            <fa-icon (click)="exportToCsv()" class="fa-2xl cursor-pointer"
                                style="margin: 7px 7px; color: #1957a9;" [icon]="faFileCsv"
                                title="Export as CSV"></fa-icon>
                           
                        </div> -->
                    </div><!--//row-->
                </div><!--//table-utilities-->
            </div><!--//col-auto-->
        </div><!--//row-->


        <div class="tab-content" id="orders-table-tab-content">
            <div class="tab-pane fade show active" id="orders-all" role="tabpanel" aria-labelledby="orders-all-tab">
                <div class="app-card app-card-orders-table shadow-sm mb-5">
                    <div class="app-card-body">
                        <div class="table-responsive">
                            <table *ngIf="panelType==='Fostac Panel' || panelType==='FSSAI Training Panel'"
                                class="table app-table-hover table-striped mb-0 text-left" id="data-to-export">
                                <thead>
                                    <tr>
                                        <th class="cell">S.No</th>
                                        <th class="cell">Recipient Name</th>
                                        <th class="cell">Fbo Name</th>
                                        <th class="cell">Owner Name</th>
                                        <th class="cell">Recipient Contact</th>
                                        <th class="cell">District</th>
                                        <th class="cell">State</th>
                                        <!-- <th *ngIf="forTraining" class="cell">Enrollment No.</th> -->
                                        <!-- <th class="cell">Type of Licence</th> -->
                                        <th class="cell">Sales Executive</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="list-tr"
                                        *ngFor="let data of filteredData | paginate: { itemsPerPage: itemsNumber, currentPage: pageNumber, id: 'case-list' }; let i=index">
                                        <td class="cell"><span
                                                class="truncate">{{i+itemsNumber*(pageNumber-1)+1}}</span></td>
                                        <td class="cell"><span class="truncate text-capitalize selector"
                                                (click)="collectResData(data._id)"
                                                title="View Case text-capitalize">{{data.name.toLowerCase()}}</span></td>
                                        <td class="cell"><span
                                                class="truncate text-capitalize">{{data.salesInfo.fboInfo.fbo_name.toLowerCase()}}</span></td>
                                        <td class="cell"><span
                                                class="truncate text-capitalize">{{data.salesInfo.fboInfo.owner_name.toLowerCase()}}</span></td>
                                        <td class="cell"><span class="truncate">{{data.phoneNo}}</span></td>
                                        <td class="cell"><span
                                                class="truncate text-capitalize">{{data.salesInfo.fboInfo.district.toLowerCase()}}</span></td>
                                        <td class="cell"><span class="truncate text-capitalize">{{data.salesInfo.fboInfo.state.toLowerCase()}}</span>
                                        </td>
                                        <!-- <td *ngIf="forTraining" class="cell">{{data.enrollment_no}}<span
                                                class="truncate"></span>
                                        </td> -->
                                        <td class="cell"><span
                                                class="truncate text-capitalize">{{data.salesInfo.employeeInfo.employee_name.toLowerCase()}}</span>
                                        </td>
                                    </tr>
                                </tbody>
                                <tbody *ngIf="!filteredData || filteredData.length===0">
                                    <tr>
                                        <td colspan="15" class="text-center fw-bold">----------------- No Data Found
                                            ----------------</td>
                                    </tr>
                                </tbody>
                            </table>

                            <table *ngIf="panelType==='HRA Panel'"
                                class="table app-table-hover table-striped mb-0 text-left" id="data-to-export">
                                <thead>
                                    <tr>
                                        <th class="cell">S.No</th>
                                        <th class="cell">Manager Name</th>
                                        <th class="cell">Address</th>
                                        <th class="cell">Fbo Name</th>
                                        <th class="cell">Owner Name</th>
                                        <th class="cell">KOB</th>
                                        <th class="cell">No. of Food Handlers</th>
                                        <th class="cell">HRA Total</th>
                                        <!-- <th class="cell">State</th> -->
                                        <th class="cell">Sales Executive</th>
                                        <!-- <th class="cell">Stage</th> -->
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr
                                        *ngFor="let data of filteredData | paginate: { itemsPerPage: itemsNumber, currentPage: pageNumber, id:'case-list' }; let i=index">
                                        <td class="cell"><span
                                                class="truncate">{{i+itemsNumber*(pageNumber-1)+1}}</span></td>
                                        <td class="cell"><span class="truncate text-capitalize selector"
                                                (click)="collectResData(data._id)">{{data.managerName.toLowerCase()}}</span></td>
                                        <td class="cell"><span
                                                class="truncate text-capitalize selector">{{data.address.toLowerCase()}}</span></td>
                                        <td *ngIf="data.salesInfo.fboInfo; else noData" class="cell"><span
                                                class="truncate text-capitalize">{{data.salesInfo.fboInfo.fbo_name.toLowerCase()}}</span></td>
                                        <td *ngIf="data.salesInfo.fboInfo; else noData" class="cell"><span
                                                class="truncate text-capitalize">{{data.salesInfo.fboInfo.owner_name.toLowerCase()}}</span></td>
                                        <td class="cell"><span
                                                class="truncate">{{data.kob}}</span>
                                        </td>
                                        <td class="cell"><span
                                                class="truncate">{{data.foodHandlersCount}}</span></td>
                                        <td *ngIf="data.salesInfo.fboInfo" class="cell"><span
                                                class="truncate">{{data.salesInfo.hraInfo.hra_total}}</span></td>
                                        <td *ngIf="data.salesInfo.fboInfo && data.salesInfo.employeeInfo; else noData"
                                            class="cell">
                                            <span class="truncate text-capitalize">{{data.salesInfo.employeeInfo.employee_name.toLowerCase()}}</span>
                                        </td>
                                        <!-- <td *ngIf="data.salesInfo.fboInfo" class="cell"><span class="truncate">-</span>
                                        </td> -->
                                        <ng-template #noData>
                                            <td class="cell">
                                                <span class="truncate">-</span>
                                            </td>
                                        </ng-template>
                                    </tr>
                                </tbody>
                                <tbody *ngIf="!filteredData || filteredData.length===0">
                                    <tr>
                                        <td colspan="15" class="text-center fw-bold">----------------- No Data Found
                                            ----------------</td>
                                    </tr>
                                </tbody>
                            </table>

                            
                            <table *ngIf="panelType==='Foscos Panel'"
                                class="table app-table-hover table-striped mb-0 text-left" id="data-to-export">
                                <thead>
                                    <tr>
                                        <th class="cell">S.No</th>
                                        <th class="cell">Operator Name</th>
                                        <th class="cell">Address</th>
                                        <th class="cell">Fbo Name</th>
                                        <th class="cell">Owner Name</th>
                                        <th class="cell">Licence Type</th>
                                        <th class="cell">Foscos Total</th>
                                        <!-- <th class="cell">State</th> -->
                                        <th class="cell">Sales Executive</th>
                                        <!-- <th class="cell">Stage</th> -->
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr
                                        *ngFor="let data of filteredData | paginate: { itemsPerPage: itemsNumber, currentPage: pageNumber, id: 'case-list' }; let i=index">
                                        <td class="cell"><span
                                                class="truncate">{{i+itemsNumber*(pageNumber-1)+1}}</span></td>
                                        <td class="cell"><span class="truncate text-capitalize selector text-capitalize"
                                                (click)="collectResData(data._id)">{{data.operatorName.toLowerCase()}}</span></td>
                                        <td class="cell"><span
                                                class="truncate text-capitalize">{{data.address.toLowerCase()}}</span></td>
                                        <td *ngIf="data.salesInfo.fboInfo; else noData" class="cell text-capitalize"><span
                                                class="truncate">{{data.salesInfo.fboInfo.fbo_name.toLowerCase()}}</span></td>
                                        <td *ngIf="data.salesInfo.fboInfo; else noData" class="cell text-capitalize"><span
                                                class="truncate">{{data.salesInfo.fboInfo.owner_name.toLowerCase()}}</span></td>
                                        <td class="cell"><span
                                                class="truncate">{{data.salesInfo.foscosInfo.license_category}}</span>
                                        </td>
                                        <td class="cell"><span
                                                class="truncate">{{data.salesInfo.foscosInfo.foscos_total}}</span></td>
                                        <!-- <td *ngIf="data.salesInfo.fboInfo" class="cell"><span
                                                class="truncate">{{data.salesInfo.fboInfo.state}}</span></td> -->
                                        <td *ngIf="data.salesInfo.fboInfo && data.salesInfo.employeeInfo; else noData"
                                            class="cell">
                                            <span class="truncate text-capitalize">{{data.salesInfo.employeeInfo.employee_name.toLowerCase()}}</span>
                                        </td>
                                        <!-- <td *ngIf="data.salesInfo.fboInfo" class="cell"><span class="truncate">-</span>
                                        </td> -->
                                        <ng-template #noData>
                                            <td class="cell">
                                                <span class="truncate">-</span>
                                            </td>
                                        </ng-template>
                                    </tr>
                                </tbody>
                                <tbody *ngIf="!filteredData || filteredData.length===0">
                                    <tr>
                                        <td colspan="15" class="text-center fw-bold">----------------- No Data Found
                                            ----------------</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div><!--//table-responsive-->

                    </div><!--//app-card-body-->
                </div><!--//app-card-->

                <div class="d-flex" *ngIf="showPagination"
                    [ngClass]="filteredData?'justify-content-between':'justify-content-end'">
                    <div *ngIf="filteredData && !forTraining" class="text-sm" style="font-size: 13px;">
                        {{filteredData.length}} filtered
                        from ({{totalCount}} {{serviceType}} Cases of {{totalCase}} total)</div>
                    <div *ngIf="filteredData && forTraining" class="text-sm" style="font-size: 13px;">
                        {{filteredData.length}} filtered
                        from {{totalCount}} {{serviceType}} Cases</div>
                    <pagination-controls previousLabel="Prev" nextLabel="Next"
                        (pageChange)="onTableDataChange($event)" id="case-list"></pagination-controls>
                </div>
            </div>
        </div>
    </div>
</div>

<ngx-loading [show]="loading"></ngx-loading>