<div class="modal-header bg-secondary">
    <h6 *ngIf="type==='area'" class="modal-title text-white" id="modal-basic-title">Area Allocation of {{employee.employee_name}}</h6>
    <h6 *ngIf="type==='manager'" class="modal-title text-white" id="modal-basic-title">Reporting Manager for {{employee.employee_name}}</h6>
    <button type="button" class="btn-close btn-close-white" aria-label="Close" (click)="activeModal.dismiss()"></button>
</div>
<div>
    <form *ngIf="type=='area'" [formGroup]="areaAllocationForm" autocomplete="off" (ngSubmit)="onSubmit()">
        <div class="modal-body">
            <div class="row">
                <div class="col-md-4">
                    <label for="state" class="form-label">State<sup>*</sup></label>
                    <select id="state" [ngClass]="{ 'is-invalid': submitted && areaForm['state'].errors }"
                        formControlName="state" class="form-select form-select-sm" (change)="onStateSelect($event)">
                        <option value="" disabled selected>Select the State</option>
                        <option *ngFor="let state of statesList" [value]="state">{{state}}</option>
                        <!-- <option value="New Delhi">New Delhi</option> -->

                    </select>
                    <div *ngIf="submitted && areaForm['state'].errors" class="invalid-feedback">
                        <div *ngIf="areaForm['state'].errors['required']">State is required</div>
                    </div>
                </div>
                <div class="col-md-4" *ngIf="type === 'area'">
                    <label for="district" class="form-label">District<sup>*</sup></label>
                    <select id="district" [ngClass]="{ 'is-invalid': submitted && areaForm['district'].errors }"
                        formControlName="district" class="form-select form-select-sm"
                        (change)="onDistrictSelect($event)">
                        <option value="" disabled selected>Select the District</option>
                        <option *ngFor="let district of districts" [value]="district">{{district}}</option>
                    </select>
                    <div *ngIf="submitted && areaForm['district'].errors" class="invalid-feedback">
                        <div *ngIf="areaForm['district'].errors['required']">District is required</div>
                    </div>
                </div>
                <div class="col-md-4" *ngIf="type === 'area'">
                    <label for="pincodes" class="form-label">Pincodes<sup>*</sup></label>
                    <app-multi-select #multiSelect (selectedArrayChange)="getPincodes($event)" [options]="pincodes"
                        [placeHolder]="'Pincodes'"></app-multi-select>
                    <div *ngIf="submitted && areaForm['pincodes'].errors" class="invalid-feedback">
                        <div *ngIf="areaForm['pincodes'].errors">Product Name is required</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer text-left">
            <button type="submit" class="btn btn-sm btn-outline-dark">Allocate Area</button>
        </div>
    </form>
    <form *ngIf="type=='manager'" [formGroup]="reportingManagerForm" autocomplete="off" (ngSubmit)="onManagerAssignment()">
        <div class="modal-body">
            <div class="row">
                <div class="col-md-6">
                    <label for="reportingManager" class="form-label">Reporting Manager<sup>*</sup></label>
                    <select id="reportingManager"
                        [ngClass]="{ 'is-invalid': submitted && managerForm['reportingManager'].errors }"
                        formControlName="reportingManager" class="form-select form-select-sm">
                        <option value="" disabled selected>Select the Reporting Manager</option>
                        <option *ngFor="let reportingManager of allManagers" [value]="reportingManager._id">
                            {{reportingManager.name}}
                        </option>
                    </select>
                    <div *ngIf="submitted && managerForm['reportingManager'].errors" class="invalid-feedback">
                        <div *ngIf="managerForm['reportingManager'].errors['required']">Reporting Manager is required
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <label for="manager_name" class="form-label"> </label>
                    <input type="text" placeholder="" id="manager_name"
                      class="form-control form-control-sm" style="margin-top: 6.4px;" autocomplete="off" [value]="getNameWithID()"
                      [ngClass]="{ 'is-invalid': submitted && managerForm['reportingManager'].errors }" disabled="true" />
                  </div>
                <!-- <div class="d-inline m-0 p-0" style="position: relative;">
                    <input #searchElem type="search" (input)="filterSearch($event)" name="search"
                        formControlName="searchUser" placeholder="Search"
                        class="search-input" autocomplete="off" />
                    <ul *ngIf="!isSearchEmpty" class="search-suggestions">
                        <li style="text-decoration: none;" class="d-flex" *ngFor="let searchSuggestion of searchSuggestions"
                            (click)="fetchExistingUser(searchSuggestion)">
                           {{searchSuggestion.fbo_name}}({{searchSuggestion.customer_id}})
                        </li>
                    </ul>
                </div> -->
            </div>
        </div>
        <div class="modal-footer text-left">
            <button type="submit" class="btn btn-sm btn-outline-dark">Repoting Manager</button>
        </div>
    </form>
</div>