<div>
  <div class="app-content pt-3 p-md-3 p-lg-4">
    <div class="container-xxl">
      <div class="row g-3 mb-4 align-items-center justify-content-between">
        <div class="col-auto">
          <h1 class="app-page-title mb-2">Employee {{formType}} Form</h1>
          <div class="col-auto" [ngClass]="isEditMode ?'d-block': 'd-none'">
            <button type="submit" class="btn btn-sm btn-primary" (click)="backToRegister()">Register Form</button>
          </div>
        </div>
        <div class="row gy-4 mb-3">
          <form [formGroup]="form" class="row g-1 p-3 border border-1 rounded-3 pb-3" autocomplete="off"
            (ngSubmit)="onSubmit()" enctype="multipart/form-data">
            <div class="col-md-3">
              <label for="employee_name" class="form-label">Employee Name</label><sup>*</sup>
              <input type="text" placeholder="Employee Name" formControlName="employee_name"
                class="form-control form-control-sm" id="employee_name"
                [ngClass]="{ 'is-invalid': submitted && f['employee_name'].errors }">
              <div *ngIf="submitted && f['employee_name'].errors" class="invalid-feedback">
                <div *ngIf="f['employee_name'].errors['required']">Employee name is required</div>
              </div>
            </div>
            <div class="col-md-3">
              <label for="gender" class="form-label select-label">Gender</label><sup>*</sup>
              <select id="gender" [ngClass]="{ 'is-invalid': submitted && f['gender'].errors }" formControlName="gender"
                class="form-select form-select-sm">
                <option value="" disabled selected>Select the Gender</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
                <option value="other">Other</option>
              </select>
              <div *ngIf="submitted && f['gender'].errors" class="invalid-feedback">
                <div *ngIf="f['gender'].errors['required']">Gender is required</div>
              </div>
            </div>
            <div class="col-md-3">
              <label for="dob" class="form-label">Date of Birth</label><sup>*</sup>
              <input type="date" placeholder="Date of Birth" formControlName="dob" class="form-control form-control-sm"
                id="dob" [ngClass]="{ 'is-invalid': submitted && f['dob'].errors }" />
              <div *ngIf="submitted && f['dob'].errors" class="invalid-feedback">
                <div *ngIf="f['dob'].errors['required']">Date of Birth is required</div>
              </div>
            </div>

            <div class="col-md-3">
              <label for="email" class="form-label">Email</label><sup>*</sup>
              <input type="text" placeholder="Email" formControlName="email" id="email"
                class="form-control form-control-sm" autocomplete="off"
                [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" />
              <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                <div *ngIf="f['email'].errors['required']">Email is required</div>
                <div *ngIf="f['email'].errors['email']">Email is invalid</div>
              </div>
            </div>
       
            <div class="col-md-3">
              <label for="company_name" class="form-label">Company Name</label><sup>*</sup>
              <select id="company_name" [ngClass]="{ 'is-invalid': submitted && f['company_name'].errors }"
                formControlName="company_name" class="form-select form-select-sm">
                <option value="" disabled selected>Select the Company</option>
                <option value="Federation">Federation</option>
                <option value="Business Center">Business Center</option>
              </select>
              <div *ngIf="submitted && f['company_name'].errors" class="invalid-feedback">
                <div *ngIf="f['company_name'].errors['required']">Company Name is required</div>
              </div>
            </div>
            
            <div class="col-md-3">
              <label for="panel_type" class="form-label">Select Panel Type:</label><sup>*</sup>
              <select class="form-select form-select-sm" id="panel_type"
                [ngClass]="{ 'is-invalid': submitted && f['panel_type'].errors }" formControlName="panel_type">
                <option value="" disabled selected>Select the Panel</option>
                <option *ngFor="let panelType of getPanelType" [ngValue]="panelType">{{ panelType }}</option>
              </select>
              <div *ngIf="submitted && f['panel_type'].errors" class="invalid-feedback">
                <div *ngIf="f['panel_type'].errors['required']">Panel type is required</div>
              </div>
            </div>
            <div class="col-md-3">
              <label for="project_name" class="form-label">Project Name</label><sup>*</sup>
              <select id="project_name" [ngClass]="{ 'is-invalid': submitted && f['project_name'].errors }"
                formControlName="project_name" class="form-select form-select-sm">
                <option value="" disabled selected>Select the Project</option>
                <option *ngFor="let projectName of getProjectName" [ngValue]="projectName">{{ projectName }}</option>
              </select>
              <div *ngIf="submitted && f['project_name'].errors" class="invalid-feedback">
                <div *ngIf="f['project_name'].errors['required']">Project Name is required</div>
              </div>
            </div>
            <div class="col-md-3">
              <label for="doj" class="form-label">Date of Joining</label><sup>*</sup>
              <input type="date" placeholder="Date of Joining" formControlName="doj"
                class="form-control form-control-sm" id="doj"
                [ngClass]="{ 'is-invalid': submitted && f['doj'].errors }" />
              <div *ngIf="submitted && f['doj'].errors" class="invalid-feedback">
                <div *ngIf="f['doj'].errors['required']">Date of Joining is required</div>
              </div>
            </div>
            <div class="col-md-3">
              <label class="form-label">Post Type</label><sup>*</sup>
              <div class="d-flex gap-5">
                <div class="form-check form-check-sm">
                  <input type="radio" style="height: 20px; width: 20px;"
                 class="form-check-input form-check-input-sm" formControlName="post_type" [value]="post_types[0]" name="post_type"
                    (change)="onPostSelect(post_types[0])" [id]="post_types[0]" [ngClass]="{ 'is-invalid': submitted && f['post_type'].errors }">
                  <label class="form-label form-label-sm" [for]="post_types[0]" style="font-size: 14px;">{{post_types[0]}}</label>
                </div>
                <div class="form-check form-check-sm">

                  <input type="radio" style="height: 20px; width: 20px;" [id]="post_types[1]" name="post_type"
                    (change)="onPostSelect(post_types[1])" class="form-check-input form-check-input-sm" formControlName="post_type" [value]="post_types[1]" [ngClass]="{ 'is-invalid': submitted && f['post_type'].errors }">
                  <label class="form-label form-label-sm" [for]="post_types[1]" style="font-size: 14px;">{{post_types[1]}}</label>
                </div>
              </div>
              <div *ngIf="submitted && f['post_type'].errors" class="invalid-feedback" style="display: block;">
                <div *ngIf="f['post_type'].errors['required']">Post Type is required</div>
              </div>
            </div>
            <div class="col-md-3">
              <label for="department" class="form-label">Department</label><sup>*</sup>
              <select (change)="onDepartmentSelect()" id="department"
                [ngClass]="{ 'is-invalid': submitted && f['department'].errors }" formControlName="department"
                class="form-select form-select-sm">
                <option value="" disabled selected>Select the Department</option>
                <option *ngFor="let department of departments" [ngValue]="department">{{ department }}</option>
              </select>
              <div *ngIf="submitted && f['department'].errors" class="invalid-feedback">
                <div *ngIf="f['department'].errors['required']">Department Name is required</div>
              </div>
            </div>
            <div class="col-md-3">
              <label for="designation" class="form-label">Designation</label><sup>*</sup>
              <select id="designation" [ngClass]="{ 'is-invalid': submitted && f['designation'].errors }"
                formControlName="designation" class="form-select form-select-sm">
                <option value="" disabled selected>Select the Designation</option>
                <option *ngFor="let designation of designations" [ngValue]="designation">{{ designation }}</option>
              </select>
              <div *ngIf="submitted && f['designation'].errors" class="invalid-feedback">
                <div *ngIf="f['designation'].errors['required']">Designation is required</div>
              </div>
            </div>
            <div class="col-md-3">
              <label for="grade_pay" class="form-label">Grade Pay</label><sup>*</sup>
              <select id="grade_pay" [ngClass]="{ 'is-invalid': submitted && f['grade_pay'].errors }"
                formControlName="grade_pay" class="form-select form-select-sm">
                <option value="" disabled selected>Select the Grade Pay</option>
                <option *ngFor="let gradePay of getGradePay" [ngValue]="gradePay">{{ gradePay }}</option>
              </select>
              <div *ngIf="submitted && f['grade_pay'].errors" class="invalid-feedback">
                <div *ngIf="f['grade_pay'].errors['required']">Grade Pay is required</div>
              </div>
            </div>
            <div class="col-md-3">
              <label for="salary" class="form-label">Salary</label><sup>*</sup>
              <input type="number" placeholder="Salary" formControlName="salary" class="form-control form-control-sm"
                id="salary" [ngClass]="{ 'is-invalid': submitted && f['salary'].errors }">
              <div *ngIf="submitted && f['salary'].errors" class="invalid-feedback">
                <div *ngIf="f['salary'].errors['required']">Salary is required</div>
              </div>
            </div>

            <div class="col-md-3">
              <label for="contact_no" class="form-label">Contact No.</label><sup>*</sup>
              <input type="number" placeholder="Contact No." formControlName="contact_no" autocomplete="off"
                class="form-control form-control-sm" id="contact_no"
                [ngClass]="{ 'is-invalid': submitted && f['contact_no'].errors }">
              <div *ngIf="submitted && f['contact_no'].errors" class="invalid-feedback">
                <div *ngIf="f['contact_no'].errors['required']">Contact is required</div>
              </div>
            </div>
            <div class="col-md-3">
              <label for="alternate_contact" class="form-label">Alternate Contact No.</label><sup>*</sup>
              <input type="number" placeholder="Alternate Contact No." formControlName="alternate_contact"
                autocomplete="off" class="form-control form-control-sm" id="alternate_contact"
                [ngClass]="{ 'is-invalid': submitted && f['alternate_contact'].errors }">
              <div *ngIf="submitted && f['alternate_contact'].errors" class="invalid-feedback">
                <div *ngIf="f['alternate_contact'].errors['required']">Address is required</div>
              </div>
            </div>
            <div class="col-md-3">
              <label for="zip_code" class="form-label">Zip</label><sup>*</sup>
              <input type="number" placeholder="Zip" formControlName="zip_code" autocomplete="off"
                class="form-control form-control-sm" id="zip_code"
                [ngClass]="{ 'is-invalid': submitted && f['zip_code'].errors }">
              <div *ngIf="submitted && f['zip_code'].errors" class="invalid-feedback">
                <div *ngIf="f['zip_code'].errors['required']">Zip Code is required</div>
              </div>
            </div>

            <div class="col-md-6">
              <label for="address" class="form-label">Address</label><sup>*</sup>
              <textarea type="text" placeholder="Address" rows="1" formControlName="address" autocomplete="off"
                class="form-control form-control-sm" id="address"
                [ngClass]="{ 'is-invalid': submitted && f['address'].errors }"></textarea>
              <div *ngIf="submitted && f['address'].errors" class="invalid-feedback">
                <div *ngIf="f['address'].errors['required']">Address is required</div>
              </div>
            </div>
            <div class="col-md-2">
              <label for="state" class="form-label">State</label><sup>*</sup>
              <select id="state" [ngClass]="{ 'is-invalid': submitted && f['state'].errors }" formControlName="state"
                class="form-select form-select-sm">
                <option value="" disabled selected>Select the State</option>
                <option value="Delhi">Delhi</option>
                <option value="UP">UP</option>
                <option value="HP">HP</option>
                <option value="Haryana">Haryana</option>
              </select>
              <div *ngIf="submitted && f['state'].errors" class="invalid-feedback">
                <div *ngIf="f['state'].errors['required']">State is required</div>
              </div>
            </div>
            <div class="col-md-2">
              <label for="city" class="form-label">City</label><sup>*</sup>
              <input type="text" placeholder="City" formControlName="city" class="form-control form-control-sm"
                id="city" [ngClass]="{ 'is-invalid': submitted && f['city'].errors }">
              <div *ngIf="submitted && f['city'].errors" class="invalid-feedback">
                <div *ngIf="f['city'].errors['required']">
                  City is required</div>
              </div>
            </div>

            <div class="col-md-2">
              <label for="country" class="form-label">Country</label><sup>*</sup>
              <input type="text" placeholder="Country" formControlName="country" autocomplete="off"
                class="form-control form-control-sm" id="country"
                [ngClass]="{ 'is-invalid': submitted && f['country'].errors }">
              <div *ngIf="submitted && f['country'].errors" class="invalid-feedback">
                <div *ngIf="f['country'].errors['required']">Country is required</div>
              </div>
            </div>
            <div class="col-md-3">
              <label for="empSignature" class="form-label">Signature</label><sup>*</sup>
              <input type="file" id="empSignature" formControlName="empSignature" (change)="onSignatureEnter($event)"
                class="form-control form-control-sm"
                [ngClass]="{ 'is-invalid': submitted && f['empSignature'].errors }">
              <div *ngIf="submitted && f['empSignature'].errors" class="invalid-feedback">
                <div *ngIf="f['empSignature'].errors['required']">Signature is required</div>
                <div *ngIf="f['empSignature'].errors['invalidFileType']">Invalid file type. Only .png files are allowed.
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <label for="employeeImage" class="form-label">Employee Image</label><sup>*</sup>
              <input type="file" id="employeeImage" formControlName="employeeImage" (change)="onEmpImageChange($event)"
                class="form-control form-control-sm"
                [ngClass]="{ 'is-invalid': submitted && f['employeeImage'].errors }">
              <div *ngIf="submitted && f['employeeImage'].errors" class="invalid-feedback">
                <div *ngIf="f['employeeImage'].errors['required']">Employee Image is required</div>
                <div *ngIf="f['employeeImage'].errors['invalidFileType']">Invalid file type. Only .png and .jpg files are allowed.
                </div>
              </div>
            </div>
            <div class="col-md-12">
            </div>
            <div class="col-6">
              <button *ngIf="isEditMode; else otherContent" type="submit" class="btn btn-sm btn-primary">Update</button>

              <ng-template #otherContent>
                <button type="submit" class="btn btn-sm btn-primary">Register</button>
              </ng-template>

            </div>
            <div class="col-6 d-grid gap-2 d-md-flex justify-content-md-end">
              <button type="button" (click)="onReset()" class="btn btn-sm btn-warning">Reset</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="app-content pt-3 p-md-3 p-lg-4">
      <div class="container-xxl border border-1 rounded-3">
        <app-employeelist (isEditRecord)="isEditRecord($event)" class="border"></app-employeelist>
      </div>
    </div>

  </div>