<div class="app-content pt-3 p-md-3 p-lg-4">
  <div class="container-xxl border border-1 rounded-3 pt-3">
    <div class="row g-3 mb-4 align-items-center justify-content-between">
      <div class="col-auto">
        <h1 class="app-page-title mb-0">Employee List</h1>
      </div>
      <div class="col-auto">
        <div class="page-utilities">
          <div class="row g-2 justify-content-start justify-content-md-end align-items-center">
            <div class="col-auto">
              <button class="btn btn-sm mx-1" [ngClass]="isActive===true?'btn-primary':'btn-secondary'" type="button"
                (click)="filterEmp(true)">
                Active
              </button>
              <button class="btn btn-sm mx-1" [ngClass]="isActive===false?'btn-primary':'btn-secondary'" type="button"
                (click)="filterEmp(false)">
                Inactive
              </button>
            </div>
            <select class="form-select form-select-sm w-auto" [(ngModel)]="itemsNumber">
              <option value=10>10</option>
              <option value=25>25</option>
              <option value=50>50</option>
              <option value=100>100</option>

            </select>
            <div class="col-auto">
              <form class="form">

                <div class="input-group">
                  <fa-icon [icon]="faMagnifyingGlass" class="fa-sm" style="position: absolute; padding: 9px 10px;"
                    [ngClass]="isSearch === false ? 'd-block':'d-none'"></fa-icon>
                </div>
                <input type="text" id="search-orders" [(ngModel)]="searchQuery" name="searchorders"
                  class="form-control form-control-sm search-orders" (input)="onSearchChange()">
              </form>

            </div>
            <div class="col-auto">

              <select class="form-select form-select-sm w-auto cursor-pointer" [(ngModel)]="selectedFilter">
                <option value="byName" selected>Search by name</option>
                <option value="byEmail">Search by email</option>
                <option value="byEmpId">Search by employee ID</option>
                <option value="byContact">Search by contact</option>
                <option value="byLocation">Search by location</option>

              </select>
            </div>
            <!-- <div class="col-auto">
              <fa-icon (click)="exportToCsv()" data-bs-toggle='tooltip' data-bs-placement='top' title='Export As CSV'
                class="fa-2xl cursor-pointer" style="margin: 7px 7px; color: #1957a9;" [icon]="faFileCsv"></fa-icon>
              <fa-icon data-bs-toggle='tooltip' data-bs-placement='top' title='Export As PDF'
                class="fa-2xl cursor-pointer" style="margin: 7px 7px; color: #c64115;" [icon]="faFilePdf"></fa-icon>
            </div> -->
          </div><!--//row-->
        </div><!--//table-utilities-->
      </div><!--//col-auto-->
    </div><!--//row-->

    <div class="tab-content" id="orders-table-tab-content">
      <div class="tab-pane fade show active" id="orders-all" role="tabpanel" aria-labelledby="orders-all-tab">
        <div class="app-card app-card-orders-table shadow-sm mb-5">
          <div class="app-card-body">
            <div class="table-responsive">
              <table class="table app-table-hover table-striped mb-0 text-left">
                <thead>
                  <tr>
                    <th class="cell">S.No</th>
                    <th class="cell">Name</th>
                    <th class="cell">Employee ID</th>
                    <th class="cell">Username</th>
                    <th class="cell">Contact</th>
                    <th class="cell">Email</th>
                    <th class="cell">Location</th>
                    <th class="cell">Created By</th>
                    <th class="cell text-center">Status</th>
                    <th class="cell text-center">Action</th>
                    <!-- <th class="cell">Last Edit</th> -->

                  </tr>
                </thead>
                <tbody *ngIf="filteredEmployees?.length>0">

                  <tr class="list-tr"
                    *ngFor="let employee of filteredEmployees | paginate: { itemsPerPage: itemsNumber, currentPage: pageNumber }; let sr = index">
                    <td class="cell"><span class="truncate">{{sr+itemsNumber*(pageNumber-1)+1}}</span></td>
                    <td class="cell"><span class="truncate text-capitalize">{{employee.employee_name.toLowerCase()}}</span></td>
                    <td class="cell"><span class="truncate">{{employee.employee_id}}</span></td>
                    <td class="cell cursor-pointer">
                      <fa-icon class="fa-l truncate mr-2 selector" ngxClipboard [cbContent]="employee.username"
                        (cbOnSuccess)="copyNotification()" data-bs-toggle='tooltip' data-bs-placement='top'
                        title='copy employee id' [icon]="faCopy"></fa-icon>
                      <span class="truncate px-2 selector" (click)="allocate(employee, 'manager')"
                        data-bs-toggle='tooltip' data-bs-placement='top' title='assign manager'> {{
                        employee.username}}</span>
                    </td>
                    <td class="cell"><span class="truncate">{{employee.contact_no}}</span></td>
                    <td class="cell"><span class="truncate cursor-pointer">
                        <fa-icon class="fa-l" style="margin-right: 5px;" data-bs-toggle='tooltip'
                          data-bs-placement='top' title='mail' [icon]="faEnvelope"></fa-icon>{{employee.email}}</span>
                    </td>
                    <td class="cell"><span class="truncate">{{employee.state}}</span></td>
                    <td class="cell"><span class="truncate">{{employee.createdBy}}</span></td>
                    <td class="cell text-center">
                      <!-- <fa-icon class="fa-light fa-l" style="margin-right: 7px; color: #c64115;" [icon]="faXmark"></fa-icon> -->
                      <fa-icon *ngIf="employee.status" class="fa-l" style="color: #138a25;" [icon]="faCheck"
                        data-bs-toggle='tooltip' data-bs-placement='top' title='active employee'></fa-icon>
                      <fa-icon *ngIf="!employee.status" class="fa-l" style="color: #c64115;" [icon]="faXmark"
                        data-bs-toggle='tooltip' data-bs-placement='top' title='inactive employee'></fa-icon>
                    </td>
                    <td class="cell text-end">
                      <fa-icon class="fa-l selector" (click)="viewEmployeeDetails(employee)" data-bs-toggle='tooltip'
                        data-bs-placement='top' title='view employee' style="margin-right: 7px; color: #1957a9;"
                        [icon]="faEye"></fa-icon>
                      <fa-icon *ngIf="employee.status === true" class="fa-l selector"
                        (click)="allocate(employee, 'area')" data-bs-toggle='tooltip' data-bs-placement='top'
                        title='allocate area' style="margin-right: 7px; color: #1957a9;"
                        [icon]="faLocationPin"></fa-icon>
                    <!--  <fa-icon class="fa-l selector" (click)="editRecord(employee)" data-bs-toggle='tooltip'
                        data-bs-placement='top' title='edit' style="cursor:pointer; margin-right: 7px; color: #1957a9;"
                        [icon]="faPencil"></fa-icon> -->
                      <!-- <fa-icon class="fa-l" (click)="deleteEmployee(employee._id)" style="color: #c64115; cursor: pointer;"
                    [icon]="faTrash"></fa-icon> -->
                    </td>
                    <!-- <td class="cell"><span class="truncate">{{employee.lastEdit}}</span></td> -->
                  </tr>
                </tbody>
                <tbody *ngIf="filteredEmployees?.length==0">
                  <tr>
                    <td colspan="15" class="text-center fw-bold">----------------- No Data Found ----------------</td>
                  </tr>
                </tbody>
              </table>
            </div><!--//table-responsive-->

          </div><!--//app-card-body-->
        </div><!--//app-card-->

        <div class="d-flex justify-content-between">
          <div class="filtered-count">{{filteredEmployees.length}} filtered from({{empCountByStatus}} {{activeTab}} Employees of {{totalEmp}})</div>
          <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onPageChange($event)">
          </pagination-controls>
        </div>
      </div>
    </div>
  </div>
</div>

<ngx-loading [show]="loading"></ngx-loading>