.logo-text{
    color: #252930;
    font-size: 1rem;
    font-weight: 600;
    text-transform: capitalize;
    vertical-align: middle;
    transform:all 0.4s ease;
    position: relative;
    width: 150px;
    padding-bottom: 0;
    line-height: 17px;
    top: 5px;
}

.logo-text span{
    font-size: 12px;
    color: #7a7c7e;
    width: 200px;
    padding: 0;
}

@media (max-width:768px) {
    .logo-text{
        font-size: 1rem;
    }
}