<form [formGroup]="hygiene_audit"> 
    <div class="row" >
        <h6 class=" pull-left">Hygiene Audit</h6>

        <div class="col-md-3">
            <label for="hra_service_name" class="form-label">Service Name<sup>*</sup></label>
            <input id="hra_service_name" formControlName="hra_service_name" type="text" readonly
            class="form-control form-control-sm" placeholder="HRA" />
         </div>

         <div class="col-md-3">
            <label for="hra_processing_amount" class="form-label">Processing Amount<sup>*</sup></label>
            <input id="hra_processing_amount" formControlName="hra_processing_amount" type="text" readonly
                class="form-control form-control-sm" value="5000" />
         </div>
<!-- 
         <div class="col-md-3">
            <label for="hra_client_type" class="form-label">Client Type<sup>*</sup></label>
            <select id="hra_client_type" formControlName="hra_client_type" [ngClass]="{ 'is-invalid': submitted && hygiene_audit.get('hygiene_client_type')?.errors}"                  
            (change)="clienttypeFun($event)" class="form-select form-select-sm">
                <option value="" disabled selected>Select the Client Type</option>
                <option *ngFor="let clienttype of clientType" [value]="clienttype">{{ clienttype }}</option>
            </select>
            <div *ngIf="submitted && hygiene_audit.get('hra_client_type')?.errors" class="invalid-feedback">
                <div *ngIf="hygiene_audit.get('hra_client_type')?.errors?.['required']">Client type is required</div>
            </div>
        </div>
        <div class="col-md-3">
            <label for="shops_no" class="form-label">No. of Shops<sup>*</sup></label>
            <input type="number" [attr.min]="minValue" step="1"
                (change)="shopsCount($event)" placeholder="No. of shops"
                [readonly]="isReadOnly" formControlName="shops_no"
                class="form-control form-control-sm"
                [ngClass]="{ 'is-invalid': submitted && hygiene_audit.get('shops_no')?.errors}"
                id="shops_no" group='hygiene' />
            <div *ngIf="submitted && hygiene_audit.get('shops_no')?.errors" class="invalid-feedback">
                <div *ngIf="hygiene_audit.get('shops_no')?.errors?.['required']">No. of Shops is
                    required</div>
            </div>
        </div> -->
    
        <div class="col-md-3"> 
            <label for="hra_total" class=" form-label">HRA Total Amount<sup>*</sup>
                <span style="font-size: x-small;">(18% GST Inc.)</span></label>
            <input type="number" placeholder="HRA Total Amount" formControlName="hra_total"
                [ngClass]="{ 'is-invalid': submitted && hygiene_audit.get('hra_total')?.errors}"
                class="form-control form-control-sm" id="hra_total" readonly />
            <div *ngIf="submitted && hygiene_audit.get('hra_total')?.errors" class="invalid-feedback">
                <div *ngIf="hygiene_audit.get('hra_total')?.errors?.['required']">HRA Total Amount
                    Required
                </div>
            </div>
        </div> 


    </div>
</form>