<!-- Modal Head -->
<div class="modal-header bg-secondary">
    <h6 class="modal-title text-white" id="modal-basic-title">FBO Details</h6>
    <button type="button" class="btn-close btn-close-white" aria-label="Close" (click)="activeModal.dismiss()"></button>
</div>

<!-- Modal Body  -->
<div class="modal-body">
    <div class="row">
        <div class="container">

            <!-- Shop Related Details starts -->

            <div class="row border border-1 p-1" *ngIf="!isForWholeSale">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-4 title">Shop ID</div>
                        <div class="col-md-8 data">
                            {{fboData.fboInfo.customer_id}}
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-4 title">FBO Name</div>
                        <div class="col-md-8 data text-capitalize">
                            {{fboData.fboInfo.fbo_name.toLowerCase()}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row border border-1 p-1"  *ngIf="!isForWholeSale">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-4 title">Owner Name</div>
                        <div class="col-md-8 data text-capitalize">
                            {{fboData.fboInfo.owner_name.toLowerCase()}}
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-4 title">Contact No.</div>
                        <div class="col-md-8 data">
                            {{fboData.fboInfo.owner_contact}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row border border-1 p-1"  *ngIf="!isForWholeSale">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-4 title">Business Entity</div>
                        <div class="col-md-8 data text-capitalize">
                            {{fboData.fboInfo.boInfo.business_entity.toLowerCase()}}
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-4 title">Bo Id</div>
                        <div class="col-md-8 data">
                            {{fboData.fboInfo.boInfo.customer_id}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row border border-1 p-1"  *ngIf="!isForWholeSale">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-4 title">Address</div>
                        <div class="col-md-8 data text-capitalize">
                            {{fulladdress.toLowerCase()}}
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-4 title">Email</div>
                        <div class="col-md-8 data">
                            {{fboData.fboInfo.email}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row border border-1 p-1"  *ngIf="!isForWholeSale">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-4 title">Business Type</div>
                        <div class="col-md-8 data text-uppercase">
                            {{fboData.fboInfo.business_type}}
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-4 title">GST Number</div>
                        <div class="col-md-8 data">
                            {{fboData.fboInfo.gst_number?fboData.fboInfo.gst_number:'N/A'}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row border border-1 p-1"  *ngIf="!isForWholeSale">
               
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-4 title">Payment Mode</div>
                        <div class="col-md-8 data text-capitalize">
                            {{fboData.payment_mode && fboData.payment_mode.toLowerCase()}}
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-4 title">Total Sale Amount <br><span
                                style="font-size: x-small; font-weight: normal;">(18%
                                GST Inc.)</span></div>
                        <div class="col-md-8 data">
                            {{productTotalAmt}} <fa-icon class="fa-l" style="color: #5d6778;"
                                [icon]="faIndianRupeeSign"></fa-icon>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 title">Invoice</div>
                        <div class="col-md-8 data">
                            <a *ngIf="isShowInvoice===true" class="download-link" (click)="viewInvoice()">
                                <fa-icon class="fa-2xl text-success cursor-pointer" style="color: #5d6778;"
                                    [icon]="faFile" title="download"></fa-icon>
                            </a>
                            <p class="text-danger" *ngIf="isShowInvoice===false">
                                Digital invoice is not available before 10th June 2024
                            </p>

                        </div>
                       
                    </div>

                    <!-- Shop Related Details Ends -->

                    
                </div>
            </div>
           

            <!-- Cheque Related Data only avilable incase payment mode is bu cheque -->
            <div *ngIf="fboData.cheque_data && !isForWholeSale" class="row border border-1 py-2">
                <div class="col-md title" style="color: #1957a9;">Cheque Data</div>
                <div class="row mt-2 ml-3">
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-6 title">Payee Name</div>
                            <div class="col-md-6 data text-capitalize">
                                {{fboData.cheque_data.payee_name.toLowerCase()}}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-6 title">Bank Name</div>
                            <div class="col-md-6 data text-capitalize">
                                {{fboData.cheque_data.bank_name.toLowerCase()}}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-6 title">Account Number</div>
                            <div class="col-md-6 data">
                                {{fboData.cheque_data.account_number}}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-6 title">Cheque Number</div>
                            <div class="col-md-6 data">
                                {{fboData.cheque_data.cheque_number}}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-6 title">Cheque Status</div>
                            <div class="col-md-6 data">
                                {{fboData.cheque_data.status}}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-6 title">Cheque Image</div>
                            <div class="col-md-6 data">
                                <fa-icon class="fa-2xl text-success cursor-pointer"
                                    (click)="viewCheque('Cheque Of' + fboData.cheque_data.payee_name , fboData.cheque_data.cheque_image, 'image', false, fboData._id)"
                                    [icon]="faFile"></fa-icon>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Cheque Details Ends -->


            <!-- Shop Basic Documents -->
            <div class="row border border-1 py-2" style="margin-bottom: 10px;" *ngIf="!isForWholeSale">
                <div class="col-md title" style="color: #1957a9;">Shop Identification Documents</div>
                <div class="row mt-2 ml-3">
                    <ng-container *ngIf="docList.length !== 0; else noDocs">
                        <div class="col-md-4" *ngFor="let doc of docList">
                            <div class="row">
                                <div class="col-md-6 title">{{doc.name}}</div>
                                <div class="col-md-6 data">
                                    <fa-icon class="fa-2xl text-success cursor-pointer"
                                        (click)="viewDocument(doc.name, doc.src, doc.format.toLowerCase(), doc.multipleDoc)"
                                        [icon]="faFile"></fa-icon>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                    <ng-template #noDocs>
                        <div class="no-docs">--------No Document Available--------</div>
                    </ng-template>
                </div>
            </div>



            <!-- Product Related Details starts -->



            <!-- In case of Fostac -->
            <div *ngIf="(isForWholeSale && fboData.product_name.includes('Fostac')) || (product === 'Fostac')" class="row py-2">
                <div class="col-md title" style="color: #1957a9;">Fostac Details</div>
                <div class="row mt-2 ml-3">
                    <div class="col-md-4 view-data-elem">
                        <div class="row">
                            <div class="col-md-6 title">Client Type</div>
                            <div class="col-md-6 data">
                                {{fboData.fostacInfo.fostac_client_type}}
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-4 view-data-elem">
                        <div class="row">
                            <div class="col-md-6 title">Service Name</div>
                            <div class="col-md-6 data">
                                {{fboData.fostacInfo.fostac_service_name}}
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 view-data-elem">
                        <div class="row">
                            <div class="col-md-6 title">No. of Recipient </div>
                            <div class="col-md-6 data">{{fboData.fostacInfo.recipient_no}}</div>
                        </div>
                    </div>

                    <!-- Show processing and total amount in case of sale data -->
                    <div class="col-md-4 view-data-elem" *ngIf="isForWholeSale">
                        <div class="row">
                            <div class="col-md-6 title">Fostac Processing Amount</div>
                            <div class="col-md-6 data">{{fboData.fostacInfo.fostac_processing_amount}}</div>
                        </div>
                    </div>

                    <div class="col-md-4 view-data-elem" *ngIf="isForWholeSale">
                        <div class="row">
                            <div class="col-md-6 title">Fostac Total Amount</div>
                            <div class="col-md-6 data">{{fboData.fostacInfo.fostac_total}}</div>
                        </div>
                    </div>

                </div>

            </div>


            <!-- In case of Foscos-->
            <div *ngIf="(isForWholeSale && fboData.product_name.includes('Foscos')) || (product === 'Foscos')" class="row py-2">
                <div class="col-md title d-flex justify-content-between" style="color: #1957a9;">
                    <div class="product-title">Foscos Details</div>
                    <div class="remaining-time">({{remainingTime}} are Remaining)</div>
                </div>
                <div class="row mt-2 ml-3">
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-6 title">Client Type</div>
                            <div class="col-md-6 data">
                                {{fboData.foscosInfo.foscos_client_type}}
                            </div>
                        </div>
                    </div>
                   
                    <div class="col-md-4 view-data-elem">
                        <div class="row">
                            <div class="col-md-6 title">Service Name</div>
                            <div class="col-md-6 data">
                                {{fboData.foscosInfo.foscos_service_name}}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 view-data-elem">
                        <div class="row">
                            <div class="col-md-6 title">Licence Category</div>
                            <div class="col-md-6 data">{{fboData.foscosInfo.license_category}}</div>
                        </div>
                    </div>
                    <div class="col-md-4 view-data-elem">
                        <div class="row">
                            <div class="col-md-6 title">Licence Duration</div>
                            <div class="col-md-6 data">{{fboData.foscosInfo.license_duration}} Year</div>
                        </div>
                    </div>
                    <div class="col-md-4 view-data-elem">
                        <div class="row">
                            <div class="col-md-6 title">No. of Shops </div>
                            <div class="col-md-6 data">{{fboData.foscosInfo.shops_no}}</div>
                        </div>
                    </div>

                     <!-- Show processing and total amount in case of sale data -->
                     <div class="col-md-4 view-data-elem" *ngIf="isForWholeSale">
                        <div class="row">
                            <div class="col-md-6 title">Foscos Processing Amount</div>
                            <div class="col-md-6 data">{{fboData.foscosInfo.foscos_processing_amount}}</div>
                        </div>
                    </div>

                    <div class="col-md-4 view-data-elem" *ngIf="isForWholeSale">
                        <div class="row">
                            <div class="col-md-6 title">Foscos Total Amount</div>
                            <div class="col-md-6 data">{{fboData.foscosInfo.foscos_total}}</div>
                        </div>
                    </div>
                  
                </div>
            </div>


            <!-- In Case of HRA -->
            <div *ngIf="(isForWholeSale && fboData.product_name.includes('HRA')) || (product === 'HRA')" class="row py-2">
                <div class="col-md title" style="color: #1957a9;">HRA Details</div>
                <div class="row mt-2 ml-3">
                    <div class="col-md-4 view-data-elem">
                        <div class="row">
                            <div class="col-md-6 title">Client Type</div>
                            <div class="col-md-6 data">
                                {{fboData.hraInfo.hra_client_type}}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 view-data-elem">
                        <div class="row">
                            <div class="col-md-6 title">Service Name</div>
                            <div class="col-md-6 data">
                                {{fboData.hraInfo.hra_service_name}}
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 view-data-elem">
                        <div class="row">
                            <div class="col-md-6 title">No. of Shops</div>
                            <div class="col-md-6 data">{{fboData.hraInfo.shops_no}}</div>
                        </div>
                    </div>

                     <!-- Show processing and total amount in case of sale data -->
                     <div class="col-md-4 view-data-elem" *ngIf="isForWholeSale">
                        <div class="row">
                            <div class="col-md-6 title">HRA Processing Amount</div>
                            <div class="col-md-6 data">{{fboData.hraInfo.hra_processing_amount}}</div>
                        </div>
                    </div>

                    <div class="col-md-4 view-data-elem" *ngIf="isForWholeSale">
                        <div class="row">
                            <div class="col-md-6 title">HRA Total Amount</div>
                            <div class="col-md-6 data">{{fboData.hraInfo.hra_total}}</div>
                        </div>
                    </div>

             
                </div>
            </div>


            <!-- In case of Medical -->
            <div *ngIf="(isForWholeSale && fboData.product_name.includes('Medical')) || (product === 'Medical')" class="row py-2">
                <div class="col-md title d-flex justify-content-between" style="color: #1957a9;">
                    <div class="product-title">Medical Details</div>
                </div>
                <div class="row mt-2 ml-3">
                    <div class="col-md-4 view-data-elem">
                        <div class="row">
                            <div class="col-md-6 title">No. of Recipients </div>
                            <div class="col-md-6 data">{{fboData.medicalInfo.recipient_no}}</div>
                        </div>
                    </div>


                     <!-- Show processing and total amount in case of sale data -->
                     <div class="col-md-4 view-data-elem" *ngIf="isForWholeSale">
                        <div class="row">
                            <div class="col-md-6 title">Medical Processing Amount</div>
                            <div class="col-md-6 data">{{fboData.medicalInfo.medical_processing_amount}}</div>
                        </div>
                    </div>

                    <div class="col-md-4 view-data-elem" *ngIf="isForWholeSale">
                        <div class="row">
                            <div class="col-md-6 title">Medical Total Amount</div>
                            <div class="col-md-6 data">{{fboData.medicalInfo.medical_total}}</div>
                        </div>
                    </div>
                    
                    <!-- <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-3 title">Medical Total <br><span
                                    style="font-size: x-small; font-weight: normal;">(18%
                                    GST Exc.)</span></div>
                            <div class="col-md-9 data">
                                {{fboData.medicalInfo.medical_total}} <fa-icon class="fa-l" style="color: #5d6778;"
                                    [icon]="faIndianRupeeSign"></fa-icon>
                            </div>
                        </div>
                    </div> -->

                </div>
            </div>


             <!-- In Case of Water Test -->
             <div *ngIf="(isForWholeSale && fboData.product_name.includes('Water Test Report')) || (product === 'Water Test Report')" class="row py-2">
                <div class="col-md title d-flex justify-content-between" style="color: #1957a9;">
                    <div class="product-title">Water Test Details</div>
                </div>
                <div class="row mt-2 ml-3">
                    <div class="col-md-4 view-data-elem">
                        <div class="row">
                            <div class="col-md-6 title">Service Name</div>
                            <div class="col-md-6 data">{{fboData.waterTestInfo.water_test_service_name}}</div>
                        </div>
                    </div>
                    
                    <!-- Show processing and total amount in case of sale data -->
                    <div class="col-md-4 view-data-elem" *ngIf="isForWholeSale">
                        <div class="row">
                            <div class="col-md-6 title">Water Test Processing Amount</div>
                            <div class="col-md-6 data">{{fboData.waterTestInfo.water_test_processing_amount}}</div>
                        </div>
                    </div>

                    <div class="col-md-4 view-data-elem" *ngIf="isForWholeSale">
                        <div class="row">
                            <div class="col-md-6 title">Water Test Total Amount</div>
                            <div class="col-md-6 data">{{fboData.waterTestInfo.water_test_total}}</div>
                        </div>
                    </div>

                </div>
            </div>

            <!-- In Case of Khadya Paaln -->
            <div *ngIf="(isForWholeSale && fboData.product_name.includes('Khadya Paaln')) || (product === 'Khadya Paaln')" class="row py-2">
                <div class="col-md title d-flex justify-content-between" style="color: #1957a9;">
                    <div class="product-title">Khadya Paaln Details</div>
                </div>
                <div class="row mt-2 ml-3">
                    
                    <!-- Show processing and total amount in case of sale data -->
                    <div class="col-md-4 view-data-elem">
                        <div class="row">
                            <div class="col-md-6 title">Khadya Paaln Processing Amount</div>
                            <div class="col-md-6 data">{{fboData.khadyaPaalnInfo.khadya_paaln_processing_amount| inrAmount}}</div>
                        </div>
                    </div>

                    <div class="col-md-4 view-data-elem">
                        <div class="row">
                            <div class="col-md-6 title">Khadya Paaln Total Amount</div>
                            <div class="col-md-6 data">{{fboData.khadyaPaalnInfo.khadya_paaln_total | inrAmount}}</div>
                        </div>
                    </div>

                </div>
            </div>

            <!-- Product Related Details Ends -->



            <!-- Deliver Related Details Start -->

            <!-- <div class="row my-2" *ngIf="!isForWholeSale">
                <div class="col-md title" style="color: #1957a9;">Delivery Details</div>
            </div> -->

            <!-- Deliver Related Details Ends -->
        </div>
    </div>
</div>