<div class="modal-header bg-secondary">
    <h6 class="modal-title text-white" id="modal-basic-title">FBO Details</h6>
    <button type="button" class="btn-close btn-close-white" aria-label="Close" (click)="activeModal.dismiss()"></button>
</div>
<div class="modal-body">
    <div class="row">
        <div class="container">
            <div class="row border border-1 p-1">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-4 title">ID</div>
                        <div class="col-md-8 data">
                            {{fboData.fboInfo.customer_id}}
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-4 title">FBO Name</div>
                        <div class="col-md-8 data">
                            {{fboData.fboInfo.fbo_name}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row border border-1 p-1">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-4 title">Owner Name</div>
                        <div class="col-md-8 data">
                            {{fboData.fboInfo.owner_name}}
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-4 title">Contact No.</div>
                        <div class="col-md-8 data">
                            {{fboData.fboInfo.owner_contact}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row border border-1 p-1">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-4 title">Payment Mode</div>
                        <div class="col-md-8 data">
                            {{fboData.payment_mode}}
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-4 title">Email</div>
                        <div class="col-md-8 data">
                            {{fboData.fboInfo.email}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row border border-1 p-1">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-4 title">Business Type</div>
                        <div class="col-md-8 data text-uppercase">
                            {{fboData.fboInfo.business_type}}
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-4 title">GST Number</div>
                        <div class="col-md-8 data">
                            {{fboData.fboInfo.gst_number?fboData.fboInfo.gst_number:'N/A'}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row border border-1 p-1">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-4 title">Address</div>
                        <div class="col-md-8 data">
                            {{fulladdress}}
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-4 title">Total Amount <br><span
                                style="font-size: x-small; font-weight: normal;">(18%
                                GST Inc.)</span></div>
                        <div class="col-md-8 data">
                            {{fboData.grand_total}} <fa-icon class="fa-l" style="color: #5d6778;"
                                [icon]="faIndianRupeeSign"></fa-icon>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 title">Invoice</div>
                        <div class="col-md-8 data">
                            <fa-icon (click)="openInvoiceWindow()" class="fa-2xl text-success cursor-pointer" style="color: #5d6778;"
                                [icon]="faFile"></fa-icon>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="row border border-1 p-1">
                
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-6 title"> Type</div>
                        <div class="col-md-6 data">
                            {{fboData.fbo_type}}
                        </div>
                    </div>
                </div>
            </div> -->
            <div *ngIf="fboData.foscosInfo" class="row border border-1 p-1">
                <div class="col-md title d-flex justify-content-between" style="color: #1957a9;">
                    <div class="product-title">Foscos Details</div> 
                    <div class="remaining-time">(10 Days Remaining)</div>
                </div>
                <div class="row mt-2 ml-3">
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-6 title">Client Type</div>
                            <div class="col-md-6 data">
                                {{fboData.foscosInfo.foscos_client_type}}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-6 title">Processing Amount </div>
                            <div class="col-md-6 data">
                                {{fboData.foscosInfo.foscos_processing_amount}} <fa-icon class="fa-l" style="color: #5d6778;"
                                    [icon]="faIndianRupeeSign"></fa-icon>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-6 title">Service Name</div>
                            <div class="col-md-6 data">
                                {{fboData.foscosInfo.foscos_service_name}}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-6 title">Licence Category</div>
                            <div class="col-md-6 data">{{fboData.foscosInfo.license_category}}</div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-6 title">Licence Duration</div>
                            <div class="col-md-6 data">{{fboData.foscosInfo.license_duration}} Year</div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-6 title">No. of Shops </div>
                            <div class="col-md-6 data">{{fboData.foscosInfo.shops_no}}</div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-6 title">Water Test Fee</div>
                            <div class="col-md-6 data">{{fboData.foscosInfo.water_test_fee}} <fa-icon class="fa-l" style="color: #5d6778;"
                                [icon]="faIndianRupeeSign"></fa-icon></div>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-3 title">Foscos Total <br><span
                                style="font-size: x-small; font-weight: normal;">(18%
                                GST Inc.)</span></div>
                        <div class="col-md-9 data">
                            {{fboData.foscosInfo.foscos_total}} <fa-icon class="fa-l" style="color: #5d6778;"
                                [icon]="faIndianRupeeSign"></fa-icon>
                        </div>
                        </div>
                    </div>
                </div>
                <hr>
            </div>

            <div *ngIf="fboData.fostacInfo" class="row">
                <div class="col-md title" style="color: #1957a9;">Fostac Details</div>
                <div class="row mt-2 ml-3">
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-6 title">Client Type</div>
                            <div class="col-md-6 data">
                                {{fboData.fostacInfo.fostac_client_type}}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-6 title">Processing Amount </div>
                            <div class="col-md-6 data">
                                {{fboData.fostacInfo.fostac_processing_amount}} <fa-icon class="fa-l" style="color: #5d6778;"
                                    [icon]="faIndianRupeeSign"></fa-icon>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-6 title">Service Name</div>
                            <div class="col-md-6 data">
                                {{fboData.fostacInfo.fostac_service_name}}
                            </div>
                        </div>
                    </div>
                    
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-md-6 title">No. of Recipient </div>
                            <div class="col-md-6 data">{{fboData.fostacInfo.recipient_no}}</div>
                        </div>
                    </div>
                    
                    <div class="col-md-8">
                        <div class="row">
                            <div class="col-md-3 title">Fostac Total<br><span
                                style="font-size: x-small; font-weight: normal;">(18%
                                GST Inc.)</span></div>
                        <div class="col-md-9 data">
                            {{fboData.fostacInfo.fostac_total}} <fa-icon class="fa-l" style="color: #5d6778;"
                                [icon]="faIndianRupeeSign"></fa-icon>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Thus modal is for showing Invoice -->
<div *ngIf="showInvoice" class="e-bill-modal-back-blur">
    <div class="e-bill">
      <div class="modal-header bg-secondary">
        <h6 class="modal-title text-white" id="modal-basic-po">Invoice</h6>
        <button type="button" class="btn-close btn-close-white" aria-label="Close"
          (click)="closeInvoiceWindow()"></button>
      </div>
      <div class="modal-body e-bill-body">
        <!-- <a class="download-link" [href]="ebillImage" download="ebill.jpg">
          <fa-icon class="fa-xl" [icon]="faDownload"></fa-icon>
        </a> -->
        <pdf-viewer [src]="invoice" style="width: 700px; height: 400px; object-fit: cover;"></pdf-viewer>
        
      </div>
    </div>
  </div>