<div class="tab-content mx-3" id="orders-table-tab-content">
  <div class="tab-pane fade show active" id="orders-all" role="tabpanel" aria-labelledby="orders-all-tab">
    <div class="app-card app-card-orders-table shadow-sm mb-5">
      <div class="app-card-body">
        <div class="table-responsive">
          <table class="table app-table-hover table-striped mb-0 text-left" id="data-to-export">
            <thead>
              <tr *ngIf="this.serviceType == 'Fostac'">
                <th class="cell text-center">S.No</th>
                <th class="cell text-center">Recp. Name</th>
                <th class="cell text-center">Recp. Father Name</th>
                <th class="cell text-center">Recp. Contact</th>
                <th class="cell text-center">Recp. Email</th>
                <th class="cell text-center">Recp. Address</th>
                <th class="cell text-center">Recp. Aadhar No.</th>
                <th class="cell text-center">Recp. Aadhar</th>
              </tr>
              <tr *ngIf="this.serviceType == 'Foscos'">
                <th class="cell">S.No</th>
                <th class="cell">Operator Name</th>
                <th class="cell">Address</th>
                <th class="cell">Pincode</th>
                <!-- <th class="cell text-center">Electricity Bill</th> -->
                <th class="cell text-center">Owner Photo</th>
                <th class="cell text-center">Shop Photo</th>
                <th class="cell text-center">Aadhar</th>
              </tr>
              <tr *ngIf="this.serviceType == 'HRA'">
                <th class="cell">S.No</th>
                <th class="cell">Manager Name</th>
                <th class="cell">Manager Contact</th>
                <th class="cell">Address</th>
                <!-- <th class="cell text-center">Electricity Bill<th> -->
                <th class="cell text-center">Shop Photo</th>
                <th class="cell text-center">Manager's Photo</th>
                <th class="cell text-center">Manager's Aadhar</th>
              </tr>
            </thead>
            <tbody *ngIf="recipientData?.length>0 && serviceType === 'Fostac'">
              <!-- <tr *ngFor="let recipient of recipientData | paginate: { itemsPerPage: 10, currentPage: pageNumber }"> -->
              <tr
                *ngFor="let recipients of recipientData | paginate: { itemsPerPage: 5, currentPage: pageNumber , id: 'recipient-list'}; let sr = index">
                <td *ngIf="isfostac" class="cell text-center"><span class="truncate">{{sr+5*(pageNumber-1)+1}}</span></td>
                <td *ngIf="isfostac" class="cell text-center"><span class="truncate text-capitalize">{{recipients.name.toLowerCase()}}</span></td>
                <td *ngIf="isfostac" class="cell text-center"><span class="truncate">{{recipients.fatherName}}</span></td>
                <td *ngIf="isfostac" class="cell text-center"><span class="truncate">{{recipients.phoneNo}}</span></td>
                <td *ngIf="isfostac" class="cell text-center"><span class="truncate text-capitalize">{{recipients.email}}</span></td>
                <td *ngIf="isfostac" class="cell text-center"><span class="truncate">{{recipients.address}}</span></td>
                <td *ngIf="isfostac" class="cell text-center"><span class="truncate">{{recipients.aadharNo}}</span></td>
                <!-- <td *ngIf="isfostac" class="cell text-center"><span class="truncate">{{recipients.aadharPhoto}}</span></td> -->
                <td *ngIf="isfostac" class="text-center cell">
                  <span class="truncate">
                    <a target="_blank">
                      <fa-icon *ngIf="recipients.docs[0].src.length != 0" class="fa-2xl text-success cursor-pointer"
                      (click)="viewDocument('Aadhar', recipients.docs[0].src, 'image', true)"
                        [icon]="faFile"></fa-icon>
                    </a>
                    <!-- <label [for]="'uploadAadharPhoto' + sr"> <fa-icon *ngIf="shops.aadharPhoto.length == 0" class="fa-2xl text-danger"
                        [icon]="faFile"></fa-icon></label>
                    <input type="file" [id]="'uploadAadharPhoto' + sr" (change)="uploadAadharphoto($event, shops._id)" multiple
                      hidden> -->
                  </span>
                </td>
              </tr>
            </tbody>
            <tbody *ngIf="shopData?.length>0 && serviceType === 'Foscos'">
              <tr
                *ngFor="let shops of shopData | paginate: { itemsPerPage: 5, currentPage: pageNumber, id:'recipient-list' }; let sr = index">
                <td *ngIf="!isfostac" class="cell"><span class="truncate">{{sr+5*(pageNumber-1)+1}}</span></td>
                <td *ngIf="!isfostac" class="cell"><span class="truncate text-capitalize">{{shops.operatorName.toLowerCase()}}</span></td>
                <td *ngIf="!isfostac" class="cell"><span class="truncate text-capitalize">{{shops.address.toLowerCase()}}</span></td>
                <td *ngIf="!isfostac" class="cell"><span class="truncate">{{shops.pincode}}</span></td>
                <!-- <td *ngIf="!isfostac" class="cell"><span class="truncate">{{shops.eBill}}</span></td> -->
                <!-- <td *ngIf="!isfostac" class="cell text-center">
                  <span class="truncate">
                    <a>
                      <fa-icon *ngIf="shops.eBillImage" class="fa-2xl text-success cursor-pointer"
                        [icon]="faFile" (click)="viewDocument('E-Bill', shops.eBillImage, 'image', false)"></fa-icon>
                    </a>
                    <label [for]="'uploadEbill' + sr"> <fa-icon *ngIf="!shops.eBillImage" class="fa-2xl text-danger"
                        [icon]="faFile"></fa-icon></label>
                    <input type="file" [id]="'uploadEbill' + sr" (change)="uploadEbill($event, shops._id)" hidden>
                  </span>
                </td> -->

                <td class="text-center cell">
                  <span class="truncate">
                    <a target="_blank">
                      <fa-icon *ngIf="shops.ownerPhoto" class="fa-2xl text-success cursor-pointer"
                      (click)="viewDocument('Owner Photo', shops.ownerPhoto, 'image', false)"
                        [icon]="faFile"></fa-icon>
                    </a>
                    <label [for]="'uploadOwnerPhoto' + sr"> <fa-icon *ngIf="!shops.ownerPhoto" class="fa-2xl text-danger"
                        [icon]="faFile"></fa-icon></label>
                    <input type="file" [id]="'uploadOwnerPhoto' + sr" (change)="uploadOwnerPhoto($event, shops._id)"
                      hidden>
                  </span>
                </td>

                <td class="text-center cell">
                  <span class="truncate">
                    <a target="_blank">
                      <fa-icon *ngIf="shops.shopPhoto" class="fa-2xl text-success cursor-pointer"
                      (click)="viewDocument('Shop Photo', shops.shopPhoto, 'image', false)"
                        [icon]="faFile"></fa-icon>
                    </a>
                    <label [for]="'uploadShopPhoto' + sr"> <fa-icon *ngIf="!shops.shopPhoto" class="fa-2xl text-danger"
                        [icon]="faFile"></fa-icon></label>
                    <input type="file" [id]="'uploadShopPhoto' + sr" (change)="uploadShopPhoto($event, shops._id)"
                      hidden>
                  </span>
                </td>
                <td class="text-center cell">
                  <span class="truncate">
                    <a target="_blank">
                      <fa-icon *ngIf="shops.aadharPhoto.length != 0" class="fa-2xl text-success cursor-pointer"
                      (click)="viewDocument('Aadhar', shops.aadharPhoto, 'image', true)"
                        [icon]="faFile"></fa-icon>
                    </a>
                    <label [for]="'uploadAadharPhoto' + sr"> <fa-icon *ngIf="shops.aadharPhoto.length == 0" class="fa-2xl text-danger"
                        [icon]="faFile"></fa-icon></label>
                    <input type="file" [id]="'uploadAadharPhoto' + sr" (change)="uploadAadharphoto($event, shops._id)" multiple
                      hidden>
                  </span>
                </td>
              </tr>
            </tbody>
            <tbody *ngIf="shopData?.length>0 && serviceType === 'HRA'">
              <tr
                *ngFor="let shops of shopData | paginate: { itemsPerPage: 5, currentPage: pageNumber , id: 'recipient-list' }; let sr = index">
                <td *ngIf="!isfostac" class="cell"><span class="truncate">{{sr+5*(pageNumber-1)+1}}</span></td>
                <td *ngIf="!isfostac" class="cell"><span class="truncate text-capitalize">{{shops.managerName.toLowerCase()}}</span></td>
                <td *ngIf="!isfostac" class="cell"><span class="truncate">{{shops.managerContact}}</span></td>
                <!-- <td *ngIf="!isfostac" class="cell"><span class="truncate">{{shops.managerEmail}}</span></td> -->
                <td *ngIf="!isfostac" class="cell"><span class="truncate text-capitalize">{{shops.address.toLowerCase()}}</span></td>
                <!-- <td *ngIf="!isfostac" class="cell"><span class="truncate">{{shops.kob}}</span></td> -->
                <!-- <td *ngIf="!isfostac" class="cell text-center">
                  <span class="truncate">
                    <a><fa-icon *ngIf="shops.ownerPhoto" class="fa-2xl text-success cursor-pointer"
                        [icon]="faFile" (click)="viewDocument('Fostac Certificate',shops.ownerPhoto, 'pdf', false)"></fa-icon></a> -->
                    <!-- <a [href]="shops.fostacCerificate" [download]="shops.managerName+ '_ebill.jpg'" target="_blank">
                      <fa-icon *ngIf="shops.fostacCertificate" class="fa-2xl text-success cursor-pointer"
                        [icon]="faFile"></fa-icon>
                    </a> -->
                    <!-- <label [for]="'uploadFostacCertificate' + sr"> <fa-icon *ngIf="!shops.ownerPhoto" class="fa-2xl text-danger"
                        [icon]="faFile"></fa-icon></label>
                    <input type="file" [id]="'uploadFostacCertificate' + sr" (change)="uploadFostacCertificate($event, shops._id)" hidden>
                  </span>
                </td> -->

                <!-- <td *ngIf="!isfostac" class="cell text-center">
                  <span class="truncate">
                    <a><fa-icon *ngIf="shops.shopPhoto" class="fa-2xl text-success cursor-pointer"
                        [icon]="faFile" (click)="viewDocument( 'Foscos License', shops.shopPhoto, 'pdf', false)"></fa-icon></a>
                    <label [for]="'uploadFoscosLicense' + sr"> <fa-icon *ngIf="!shops.shopPhoto" class="fa-2xl text-danger"
                        [icon]="faFile"></fa-icon></label>
                    <input type="file" [id]="'uploadFoscosLicense' + sr" (change)="uploadFoscosLicense($event, shops._id)"
                      hidden>
                  </span>
                </td>
                <td class="text-center cell">
                  <span class="truncate">
                    <a target="_blank">
                      <fa-icon *ngIf="shops.aadharPhoto.length != 0" class="fa-2xl text-success cursor-pointer"
                      (click)="viewDocument('Aadhar', shops.aadharPhoto, 'image', true)"
                        [icon]="faFile"></fa-icon>
                    </a>
                    <label [for]="'uploadAadharPhoto' + sr"> <fa-icon *ngIf="shops.aadharPhoto.length == 0" class="fa-2xl text-danger"
                        [icon]="faFile"></fa-icon></label>
                    <input type="file" [id]="'uploadAadharPhoto' + sr" (change)="uploadAadharphoto($event, shops._id)" multiple
                      hidden>
                  </span>
                </td> -->
                <td class="text-center cell">
                  <span class="truncate">
                    <a target="_blank">
                      <fa-icon *ngIf="shops.ownerPhoto" class="fa-2xl text-success cursor-pointer"
                      (click)="viewDocument('Owner Photo', shops.ownerPhoto, 'image', false)"
                        [icon]="faFile"></fa-icon>
                    </a>
                    <label [for]="'uploadOwnerPhoto' + sr"> <fa-icon *ngIf="!shops.ownerPhoto" class="fa-2xl text-danger"
                        [icon]="faFile"></fa-icon></label>
                    <input type="file" [id]="'uploadOwnerPhoto' + sr" (change)="uploadOwnerPhoto($event, shops._id)"
                      hidden>
                  </span>
                </td>

                <td class="text-center cell">
                  <span class="truncate">
                    <a target="_blank">
                      <fa-icon *ngIf="shops.shopPhoto" class="fa-2xl text-success cursor-pointer"
                      (click)="viewDocument('Shop Photo', shops.shopPhoto, 'image', false)"
                        [icon]="faFile"></fa-icon>
                    </a>
                    <label [for]="'uploadShopPhoto' + sr"> <fa-icon *ngIf="!shops.shopPhoto" class="fa-2xl text-danger"
                        [icon]="faFile"></fa-icon></label>
                    <input type="file" [id]="'uploadShopPhoto' + sr" (change)="uploadShopPhoto($event, shops._id)"
                      hidden>
                  </span>
                </td>
                <td class="text-center cell">
                  <span class="truncate">
                    <a target="_blank">
                      <fa-icon *ngIf="shops.aadharPhoto.length != 0" class="fa-2xl text-success cursor-pointer"
                      (click)="viewDocument('Aadhar', shops.aadharPhoto, 'image', true)"
                        [icon]="faFile"></fa-icon>
                    </a>
                    <label [for]="'uploadAadharPhoto' + sr"> <fa-icon *ngIf="shops.aadharPhoto.length == 0" class="fa-2xl text-danger"
                        [icon]="faFile"></fa-icon></label>
                    <input type="file" [id]="'uploadAadharPhoto' + sr" (change)="uploadAadharphoto($event, shops._id)" multiple
                      hidden>
                  </span>
                </td>
              </tr>
            </tbody>
            <tbody
              *ngIf="(!showPagination && serviceType === 'Fostac') || (!showPagination && serviceType === 'Foscos') || (!showPagination && serviceType === 'HRA')">
              <tr>
                <td colspan="15" class="text-center fw-bold cell">----------------- No Data Found ----------------</td>
              </tr>
            </tbody>
          </table>
        </div><!--//table-responsive-->

      </div><!--//app-card-body-->
    </div><!--//app-card-->
    <div *ngIf="showPagination===true" class="d-flex justify-content-end">
      <pagination-controls previousLabel="Prev" nextLabel="Next" id="recipient-list"
        (pageChange)="onTableDataChange($event)"></pagination-controls>
    </div>
  </div>
</div>