.btn-xs {
    margin-top: 5px;
}

.verify-icon {
    position: absolute;
    right: 22px;
    top: 34px;
}

.is-verified {
    border: 1px solid #198754;
}

.is-verified:focus, .is-verified:active {
    outline: 4px solid #c5e1d4;
}

.verified-check{
    color: #198754 !important;
}

.sub-details{
    font-size: 14px !important;
    font-weight: 500;
    margin-top: 10px;
}

.pb-2 {
    padding-bottom: 10px;
}

.switch-option {
    margin-bottom: 10px;
    margin-top: 20px ;
    width: fit-content;
    padding: 5;
    padding: 5px 17px 5px 52px;
    font-size: 14px
}

