<!-- Fostac verifiaction Form -->
<form *ngIf="productType === 'Fostac'" [formGroup]="verificationForm" autocomplete="off" class="row"
  (ngSubmit)="onVerify()">

  <!-- form heading and status -->
  <div class="d-flex justify-content-between align-items-center">
    <h6>Verification Section</h6>
    <span [ngClass]="verifiedStatus?'bg-success':'bg-warning'" style="font-size: x-small;"
      class="badge align-self-baseline">
      {{verifiedStatus?'Verified':'In-Progress'}}
      <fa-icon [icon]="verifiedStatus?faCircleCheck:faCircleExclamation" class="fa-lg ml-2"></fa-icon>
    </span>
  </div>

  <!-- form input fields -->
  <!-- for fostac Panel -->
  <div class="col-md-3" style="position: relative;">
    <label for="recipient_name" class="form-label">Recipient name</label><sup>*</sup>
    <input #recipient_name id="recipient_name" placeholder="Recipient name" formControlName="recipient_name"
      class="form-control form-control-sm" type="text" valid='false' [readOnly]="true"
      [ngClass]="{ 'is-invalid': verified && verificationform['recipient_name'].errors , 'is-verified': recipient_name.getAttribute('valid') === 'true' || verifiedStatus}">
    <div *ngIf="verified && verificationform['recipient_name'].errors" class="invalid-feedback">
      <div *ngIf="verificationform['recipient_name'].errors['required']">Recipient name is required</div>
    </div>

    <!-- For Perticular field verification -->
    <div class="verify-icon text-secondary" #fieldVerification [attr.valid]="recipient_name.getAttribute('valid')"
      (click)="recipient_name.setAttribute('valid', 'true')"
      [ngClass]="{'verified-check':recipient_name.getAttribute('valid') === 'true' || verifiedStatus}">
      <fa-icon [icon]="faCheck" class="fa-md"></fa-icon>
    </div>

  </div>

  <div class="col-md-3 position-relative">
    <label for="fbo_name" class="form-label">FBO name</label><sup>*</sup>
    <input #fbo_name type="text" placeholder="FBO name" formControlName="fbo_name" class="form-control form-control-sm"
      [attr.valid]='false' id="fbo_name" [readOnly]="true"
      [ngClass]="{ 'is-invalid': verified && verificationform['fbo_name'].errors, 'is-verified': fbo_name.getAttribute('valid') === 'true' || verifiedStatus }">
    <div *ngIf="verified && verificationform['fbo_name'].errors" class="invalid-feedback">
      <div *ngIf="verificationform['fbo_name'].errors['required']">FBO name is required</div>
    </div>

    <!-- For Perticular field verification -->
    <div class="verify-icon text-secondary" #fieldVerification [attr.valid]="fbo_name.getAttribute('valid')"
      (click)="fbo_name.setAttribute('valid', 'true')"
      [ngClass]="{'verified-check':fbo_name.getAttribute('valid') === 'true' || verifiedStatus} ">
      <fa-icon [icon]="faCheck" class="fa-md"></fa-icon>
    </div>
  </div>

  <div class="col-md-3 position-relative">
    <label for="owner_name" class="form-label">Owner name</label><sup>*</sup>
    <input #owner_name type="text" placeholder="Owner Name" formControlName="owner_name"
      class="form-control form-control-sm" id="owner_name" [readOnly]="true" [attr.valid]='false'
      [ngClass]="{ 'is-invalid': verified && verificationform['owner_name'].errors, 'is-verified': owner_name.getAttribute('valid') === 'true' || verifiedStatus} ">
    <div *ngIf="verified && verificationform['owner_name'].errors" class="invalid-feedback">
      <div *ngIf="verificationform['owner_name'].errors['required']">Owner name is required</div>
    </div>

    <!-- For Perticular field verification -->
    <div class="verify-icon text-secondary" #fieldVerification [attr.valid]="owner_name.getAttribute('valid')"
      (click)="owner_name.setAttribute('valid', 'true')"
      [ngClass]="{'verified-check':owner_name.getAttribute('valid') === 'true' || verifiedStatus}">
      <fa-icon [icon]="faCheck" class="fa-md"></fa-icon>
    </div>
  </div>

  <div class="col-md-3">
    <label for="father_name" class="form-label">Father's name</label><sup>*</sup>
    <input type="text" placeholder="Father's name" formControlName="father_name" class="form-control form-control-sm"
      id="father_name" [ngClass]="{ 'is-invalid': verified && verificationform['father_name'].errors}"
      [readOnly]="verifiedStatus">
    <div *ngIf="verified && verificationform['father_name'].errors" class="invalid-feedback">
      <div *ngIf="verificationform['father_name'].errors['required']">Father's name is required</div>
    </div>

  </div>

  <div class="col-md-3 position-relative">
    <label for="address" class="form-label">Address</label><sup>*</sup>
    <input #address type="text" placeholder="Address" formControlName="address" class="form-control form-control-sm"
      id="address" [attr.valid]='false'
      [ngClass]="{ 'is-invalid': verified && verificationform['address'].errors, 'is-verified': address.getAttribute('valid') === 'true' || verifiedStatus}"
      [readOnly]="true">
    <div *ngIf="verified && verificationform['address'].errors" class="invalid-feedback">
      <div *ngIf="verificationform['address'].errors['required']">Address is required</div>
    </div>

    <!-- For Perticular field verification -->
    <div class="verify-icon text-secondary" #fieldVerification [attr.valid]="address.getAttribute('valid')"
      (click)="address.setAttribute('valid', 'true')"
      [ngClass]="{'verified-check':address.getAttribute('valid') === 'true' || verifiedStatus}">
      <fa-icon [icon]="faCheck" class="fa-md"></fa-icon>
    </div>
  </div>

  <div class="col-md-3">
    <label for="recipient_contact_no" class="form-label">Recipient Contact No.</label><sup>*</sup>
    <input type="text" valid="false" placeholder="Recipient contact no." formControlName="recipient_contact_no"
      class="form-control form-control-sm" id="recipient_contact_no" [readOnly]="true"
      [ngClass]="{ 'is-invalid': verified && verificationform['recipient_contact_no'].errors}">
    <div *ngIf="verified && verificationform['recipient_contact_no'].errors" class="invalid-feedback">
      <div *ngIf="verificationform['recipient_contact_no'].errors['required']">Recipient contact number is
        required</div>
      <div *ngIf="verificationform['recipient_contact_no'].errors['pattern']">Recipient contact number is
        invalid
      </div>
    </div>

  </div>

  <div class="col-md-3">
    <label for="dob" class="form-label">DOB</label><sup>*</sup>
    <input valid="false" type="date" placeholder="DOB" formControlName="dob" class="form-control form-control-sm"
      id="dob" [ngClass]="{ 'is-invalid': verified && verificationform['dob'].errors}" [readOnly]="verifiedStatus">
    <div *ngIf="verified && verificationform['dob'].errors" class="invalid-feedback">
      <div *ngIf="verificationform['dob'].errors['required']">DOB is required</div>
    </div>

  </div>

  <div class="col-md-3">
    <label valid="false" for="email" class="form-label">E-mail</label><sup>*</sup>
    <input type="email" placeholder="E-mail" formControlName="email" class="form-control form-control-sm" id="email"
      [ngClass]="{ 'is-invalid': verified && verificationform['email'].errors}" [readOnly]="verifiedStatus">
    <div *ngIf="verified && verificationform['email'].errors" class="invalid-feedback">
      <div *ngIf="verificationform['email'].errors['required']">E-mail is required</div>
      <div *ngIf="verificationform['email'].errors['email']">E-mail is invalid</div>
    </div>

  </div>

  <div class="col-md-3 position-relative">
    <label for="aadhar_no" class="form-label">Aadhar no.</label><sup>*</sup>
    <input #aadhar_no valid="false" type="number" placeholder="Aadhar no." formControlName="aadhar_no"
      class="form-control form-control-sm" id="aadhar_no" [readOnly]="true"
      [ngClass]="{ 'is-invalid': verified && verificationform['aadhar_no'].errors, 'is-verified': aadhar_no.getAttribute('valid') === 'true' || verifiedStatus}">
    <div *ngIf="verified && verificationform['aadhar_no'].errors" class="invalid-feedback">
      <div *ngIf="verificationform['aadhar_no'].errors['required']">Aadhar Number is required</div>
    </div>

    <!-- For Perticular field verification -->
    <div class="verify-icon text-secondary" #fieldVerification [attr.valid]="aadhar_no.getAttribute('valid')"
      (click)="aadhar_no.setAttribute('valid', 'true')"
      [ngClass]="{'verified-check':aadhar_no.getAttribute('valid') === 'true' || verifiedStatus}">
      <fa-icon [icon]="faCheck" class="fa-md"></fa-icon>
    </div>
  </div>

  <div class="col-md-3">
    <label for="pancard_no" class="form-label">Pancard no.</label>
    <input valid="false" type="text" placeholder="Pancard no." formControlName="pancard_no"
      class="form-control form-control-sm" id="pancard_no"
      [ngClass]="{ 'is-invalid': verified && verificationform['pancard_no'].errors }" [readOnly]="verifiedStatus">
    <div *ngIf="verified && verificationform['pancard_no'].errors" class="invalid-feedback">
      <div *ngIf="verificationform['pancard_no'].errors['pattern']">Pancard Number is invalid</div>
    </div>

  </div>

  <div class="col-md-3 ">
    <label for="fostac_total" class="form-label">Fostac Total Amount</label><sup>*</sup>
    <input type="number" placeholder="Fostac Total Amount" formControlName="fostac_total"
      class="form-control form-control-sm" id="officer_name" [readOnly]="true"
      [ngClass]="{ 'is-invalid': verified && verificationform['fostac_total'].errors}">
    <div *ngIf="verified && verificationform['fostac_total'].errors" class="invalid-feedback">
      <div *ngIf="verificationform['fostac_total'].errors['required']">Fostac Total is required</div>
    </div>

  </div>

  <div class="col-md-3">
    <label for="sales_date" class="form-label">Sales date</label><sup>*</sup>
    <input type="date" placeholder="Fostac Total Amount" formControlName="sales_date"
      class="form-control form-control-sm" id="sale_date" [readOnly]="true"
      [ngClass]="{ 'is-invalid': verified && verificationform['sales_date'].errors}">
    <div *ngIf="verified && verificationform['sales_date'].errors" class="invalid-feedback">
      <div *ngIf="verificationform['sales_date'].errors['required']">Sales Date is required</div>
    </div>

  </div>

  <div class="col-md-3">
    <label for="sales_person" class="form-label">Sales executive</label><sup>*</sup>
    <input type="text" placeholder="Sales Person" formControlName="sales_person" class="form-control form-control-sm"
      id="sales_person" [readOnly]="true"
      [ngClass]="{ 'is-invalid': verified && verificationform['sales_person'].errors }">
    <div *ngIf="verified && verificationform['sales_person'].errors" class="invalid-feedback">
      <div *ngIf="verificationform['sales_person'].errors['required']">Sales Person name is required</div>
    </div>

  </div>

  <div class="col-md-3">
    <label for="username" class="form-label">Recipient Username</label><sup>*</sup>
    <input type="text" placeholder="Recipient Username" formControlName="username" class="form-control form-control-sm"
      id="username" [ngClass]="{ 'is-invalid': verified && verificationform['username'].errors}"
      [readOnly]="verifiedStatus">
    <div *ngIf="verified && verificationform['username'].errors" class="invalid-feedback">
      <div *ngIf="verificationform['username'].errors['required']">Recipient's Username is required</div>
    </div>

  </div>

  <div class="col-md-3">
    <label for="password" class="form-label">Recipient Password</label><sup>*</sup>
    <input type="text" placeholder="Recipient Password" formControlName="password" class="form-control form-control-sm"
      id="password" [ngClass]="{ 'is-invalid': verified && verificationform['password'].errors }"
      [readOnly]="verifiedStatus">
    <div *ngIf="verified && verificationform['password'].errors" class="invalid-feedback">
      <div *ngIf="verificationform['password'].errors['required']">Recipient's Password is required</div>
    </div>

  </div>

  <div class="row mt-3">
    <div class="col-6">
      <button type="submit" class="btn btn-sm btn-primary" [disabled]="verifiedStatus || isTrainer">Verify</button>
      <span style="font-size: small; vertical-align: bottom;" class=""> (Note<sup>*</sup>: Please check all checkable
        fields before verifying)</span>
    </div>
  </div>
</form>




<!-- Foscos verifiaction Form -->
<form *ngIf="productType === 'Foscos'" [formGroup]="verificationForm" autocomplete="off" (ngSubmit)="onVerify()">

  <div class="row">
    <!-- form heading and status -->
    <div class="d-flex justify-content-between">
      <h6>Verification Section</h6>
      <span [ngClass]="verifiedStatus?'bg-success':'bg-warning'" style="font-size: x-small;"
        class="badge align-self-baseline">
        {{verifiedStatus?'Verified':'In-Progress'}}
        <fa-icon [icon]="verifiedStatus?faCircleCheck:faCircleExclamation" class="fa-lg ml-2"></fa-icon>
      </span>
    </div>

    <!-- form input fields -->
    <div class="col-md-3 position-relative">
      <label for="operator_name" class="form-label">Operator Name</label><sup>*</sup>
      <input #operator_name type="text" placeholder="Operator Name" formControlName="operator_name"
        class="form-control form-control-sm" id="operator_name" [readOnly]="true" valid="false"
        [ngClass]="{ 'is-invalid': verified && verificationform['operator_name'].errors , 'is-verified': operator_name.getAttribute('valid') === 'true'}">
      <div *ngIf="verified && verificationform['operator_name'].errors" class="invalid-feedback">
        <div *ngIf="verificationform['operator_name'].errors['required']">Operator name is required</div>
      </div>

      <!-- For Perticular field verification -->
      <div class="verify-icon text-secondary" #fieldVerification [attr.valid]="operator_name.getAttribute('valid')"
        (click)="operator_name.setAttribute('valid', 'true')"
        [ngClass]="{'verified-check':operator_name.getAttribute('valid') === 'true'}">
        <fa-icon [icon]="faCheck" class="fa-md"></fa-icon>
      </div>
    </div>

    <div class="col-md-3 position-relative">
      <label for="fbo_name" class="form-label">FBO name</label><sup>*</sup>
      <input #fbo_name type="text" placeholder="FBO name" formControlName="fbo_name" 
        class="form-control form-control-sm" valid="false"
        id="fbo_name" [readOnly]="true"
        [ngClass]="{ 'is-invalid': verified && verificationform['fbo_name'].errors , 'is-verified': fbo_name.getAttribute('valid') === 'true'}">
      <div *ngIf="verified && verificationform['fbo_name'].errors" class="invalid-feedback">
        <div *ngIf="verificationform['fbo_name'].errors['required']">FBO name is required</div>
      </div>

      <!-- For Perticular field verification -->
      <div class="verify-icon text-secondary" #fieldVerification [attr.valid]="fbo_name.getAttribute('valid')"
        (click)="fbo_name.setAttribute('valid', 'true')"
        [ngClass]="{'verified-check':fbo_name.getAttribute('valid') === 'true'}">
        <fa-icon [icon]="faCheck" class="fa-md"></fa-icon>
      </div>
    </div>

    <div class="col-md-3 position-relative">
      <label for="owner_name" class="form-label">Owner name</label><sup>*</sup>
      <input #owner_name type="text" placeholder="Owner Name" formControlName="owner_name" class="form-control form-control-sm"
        id="owner_name" [readOnly]="true" valid="false"
        [ngClass]="{ 'is-invalid': verified && verificationform['owner_name'].errors , 'is-verified': owner_name.getAttribute('valid') === 'true'}">
      <div *ngIf="verified && verificationform['owner_name'].errors" class="invalid-feedback">
        <div *ngIf="verificationform['owner_name'].errors['required']">Owner name is required</div>
      </div>

      <!-- For Perticular field verification -->
      <div class="verify-icon text-secondary" #fieldVerification [attr.valid]="owner_name.getAttribute('valid')"
        (click)="owner_name.setAttribute('valid', 'true')"
        [ngClass]="{'verified-check':owner_name.getAttribute('valid') === 'true'}">
        <fa-icon [icon]="faCheck" class="fa-md"></fa-icon>
      </div>
    </div>

    <div class="col-md-3 position-relative">
      <label for="operator_contact_no" class="form-label">Operator contact no.</label><sup>*</sup>
      <input #operator_contact_no type="text" placeholder="Owner contact no." formControlName="operator_contact_no"
        class="form-control form-control-sm" id="operator_contact_no" [readOnly]="true"
        [ngClass]="{ 'is-invalid': verified && verificationform['operator_contact_no'].errors , 'is-verified': operator_contact_no.getAttribute('valid') === 'true'}">
      <div *ngIf="verified && verificationform['operator_contact_no'].errors" class="invalid-feedback">
        <div *ngIf="verificationform['operator_contact_no'].errors['required']">Recipient contact number is
          required</div>
        <div *ngIf="verificationform['operator_contact_no'].errors['pattern']">Owner contact number is
          invalid
        </div>
      </div>

      <!-- For Perticular field verification -->
      <div class="verify-icon text-secondary" #fieldVerification [attr.valid]="operator_contact_no.getAttribute('valid')"
        (click)="operator_contact_no.setAttribute('valid', 'true')"
        [ngClass]="{'verified-check':operator_contact_no.getAttribute('valid') === 'true'}">
        <fa-icon [icon]="faCheck" class="fa-md"></fa-icon>
      </div>
    </div>

    <div class="col-md-3 position-relative">
      <label #email for="email" class="form-label">E-mail</label><sup>*</sup>
      <input type="email" placeholder="E-mail" formControlName="email" class="form-control form-control-sm" id="email"
      [ngClass]="{ 'is-invalid': verified && verificationform['email'].errors , 'is-verified': email.getAttribute('valid') === 'true'}" [readOnly]="verifiedStatus"
        [readOnly]="true">
      <div *ngIf="verified && verificationform['email'].errors" class="invalid-feedback">
        <div *ngIf="verificationform['email'].errors['required']">E-mail is required</div>
        <div *ngIf="verificationform['email'].errors['email']">E-mail is invalid</div>
      </div>

      <!-- For Perticular field verification -->
      <div class="verify-icon text-secondary" #fieldVerification [attr.valid]="email.getAttribute('valid')"
        (click)="email.setAttribute('valid', 'true')"
        [ngClass]="{'verified-check':email.getAttribute('valid') === 'true'}">
        <fa-icon [icon]="faCheck" class="fa-md"></fa-icon>
      </div>
    </div>

    <div class="col-md-3 position-relative">
      <label for="address" class="form-label">Address</label><sup>*</sup>
      <input #address type="text" placeholder="Address" formControlName="address" class="form-control form-control-sm"
        id="address" valid="false"
        [ngClass]="{ 'is-invalid': verified && verificationform['address'].errors , 'is-verified': address.getAttribute('valid') === 'true'}">
      <div *ngIf="verified && verificationform['address'].errors" class="invalid-feedback">
        <div *ngIf="verificationform['address'].errors['required']">Address is required</div>
      </div>

      <!-- For Perticular field verification -->
      <div class="verify-icon text-secondary" #fieldVerification [attr.valid]="address.getAttribute('valid')"
        (click)="address.setAttribute('valid', 'true')"
        [ngClass]="{'verified-check':address.getAttribute('valid') === 'true'}">
        <fa-icon [icon]="faCheck" class="fa-md"></fa-icon>
      </div>
    </div>

    <div class="col-md-3 position-relative">
      <label for="pincode" class="form-label">Pincode</label><sup>*</sup>
      <input #pincode type="text" placeholder="pincode" formControlName="pincode" class="form-control form-control-sm"
        valid = 'false'
        id="address" [ngClass]="{ 'is-invalid': verified && verificationform['pincode'].errors , 'is-verified': pincode.getAttribute('valid') === 'true'}">
      <div *ngIf="verified && verificationform['pincode'].errors" class="invalid-feedback">
        <div *ngIf="verificationform['pincode'].errors['required']">Pincode is required</div>
      </div>

      <!-- For Perticular field verification -->
      <div class="verify-icon text-secondary" #fieldVerification [attr.valid]="pincode.getAttribute('valid')"
        (click)="pincode.setAttribute('valid', 'true')"
        [ngClass]="{'verified-check':pincode.getAttribute('valid') === 'true'}">
        <fa-icon [icon]="faCheck" class="fa-md"></fa-icon>
      </div>
    </div>

    <div class="col-md-3 position-relative">
      <label #village for="village" class="form-label">Village</label><sup>*</sup>
      <input type="text" placeholder="Village" formControlName="village" class="form-control form-control-sm" valid="false"
        id="address" [ngClass]="{ 'is-invalid': verified && verificationform['village'].errors , 'is-verified': village.getAttribute('valid') === 'true'}">
      <div *ngIf="verified && verificationform['village'].errors" class="invalid-feedback">
        <div *ngIf="verificationform['village'].errors['required']">Village is required</div>
      </div>

      <!-- For Perticular field verification -->
      <div class="verify-icon text-secondary" #fieldVerification [attr.valid]="village.getAttribute('valid')"
        (click)="village.setAttribute('valid', 'true')"
        [ngClass]="{'verified-check':village.getAttribute('valid') === 'true'}">
        <fa-icon [icon]="faCheck" class="fa-md"></fa-icon>
      </div>
    </div>

    <div class="col-md-3 position-relative">
      <label for="tehsil" class="form-label">Tehsil</label><sup>*</sup>
      <input #tehsil type="text" placeholder="Tehsil" formControlName="tehsil" class="form-control form-control-sm" id="address"
      [ngClass]="{ 'is-invalid': verified && verificationform['tehsil'].errors , 'is-verified': tehsil.getAttribute('valid') === 'true'}" valid="false">
      <div *ngIf="verified && verificationform['tehsil'].errors" class="invalid-feedback">
        <div *ngIf="verificationform['tehsil'].errors['required']">Tehsil is required</div>
      </div>

      <!-- For Perticular field verification -->
      <div class="verify-icon text-secondary" #fieldVerification [attr.valid]="tehsil.getAttribute('valid')"
        (click)="tehsil.setAttribute('valid', 'true')"
        [ngClass]="{'verified-check':tehsil.getAttribute('valid') === 'true'}">
        <fa-icon [icon]="faCheck" class="fa-md"></fa-icon>
      </div>
    </div>

    <div class="col-md-3">
      <label for="license_category" class="form-label">License Category</label><sup>*</sup>
      <input type="text" placeholder="License Category" formControlName="license_category"
        class="form-control form-control-sm" id="license_category" [readOnly]="true"
        [ngClass]="{ 'is-invalid': verified && verificationform['license_category'].errors }">
      <div *ngIf="verified && verificationform['license_category'].errors" class="invalid-feedback">
        <div *ngIf="verificationform['license_category'].errors['required']">License Category is required</div>
      </div>
    </div>

    <div class="col-md-3">
      <label for="license_duration" class="form-label">License Duration</label><sup>*</sup>
      <input type="number" placeholder="License Duration" formControlName="license_duration"
        class="form-control form-control-sm" id="license_duration" [readOnly]="true"
        [ngClass]="{ 'is-invalid': verified && verificationform['license_duration'].errors }">
      <div *ngIf="verified && verificationform['license_duration'].errors" class="invalid-feedback">
        <div *ngIf="verificationform['license_duration'].errors['required']">License Duration is required</div>
      </div>
    </div>

    <div class="col-md-3">
      <label for="foscos_total" class="form-label">Foscos Total Amount</label><sup>*</sup>
      <input type="number" placeholder="Foscos Total Amount" formControlName="foscos_total"
        class="form-control form-control-sm" id="foscos_total" [readOnly]="true"
        [ngClass]="{ 'is-invalid': verified && verificationform['foscos_total'].errors }">
      <div *ngIf="verified && verificationform['foscos_total'].errors" class="invalid-feedback">
        <div *ngIf="verificationform['foscos_total'].errors['required']">Fostac Total is required</div>
      </div>
    </div>

    <div class="col-md-3">
      <label for="sales_date" class="form-label">Sales date</label><sup>*</sup>
      <input type="date" placeholder="Fostac Total Amount" formControlName="sales_date"
        class="form-control form-control-sm" id="sale_date" [readOnly]="true"
        [ngClass]="{ 'is-invalid': verified && verificationform['sales_date'].errors }">
      <div *ngIf="verified && verificationform['sales_date'].errors" class="invalid-feedback">
        <div *ngIf="verificationform['sales_date'].errors['required']">Sales Date is required</div>
      </div>
    </div>

    <div class="col-md-3">
      <label for="sales_person" class="form-label">Sales Executive</label><sup>*</sup>
      <input type="text" placeholder="Sales Person" formControlName="sales_person" class="form-control form-control-sm"
        id="sales_person" [readOnly]="true"
        [ngClass]="{ 'is-invalid': verified && verificationform['sales_person'].errors }">
      <div *ngIf="verified && verificationform['sales_person'].errors" class="invalid-feedback">
        <div *ngIf="verificationform['sales_person'].errors['required']">Sales Person name is required</div>
      </div>
    </div>

    <div class="col-md-3">
      <label for="kob" class="form-label select-label">KOB</label><sup>*</sup>
      <select id="kob" [ngClass]="{ 'is-invalid': verified && verificationform['kob'].errors }" formControlName="kob"
        class="form-select form-select-sm cursor-pointer" (change)="onKobChange($event)"
        [attr.disabled]="verifiedStatus">
        <option value="" disabled selected>Select the Kind of Business</option>
        <option *ngFor="let kob of kobList" [value]="kob">{{kob}}</option>
      </select>
      <div *ngIf="verified && verificationform['kob'].errors" class="invalid-feedback">
        <div *ngIf="verificationform['kob'].errors['required']">KOB is required</div>
      </div>
    </div>

    <div class="col-md-3">
      <label for="food_category" class="form-label">Food categories<sup>*</sup></label>
      <app-multi-select #multiSelect class="cursor-pointer" [options]="foodCategoryList"
        [placeHolder]="'Select Food Categories'" [isDisabled]="verifiedStatus"
        (selectedArrayChange)="getSelectedFoodcat($event)"></app-multi-select>
      <div *ngIf="verified && verificationform['food_category'].errors" class="invalid-feedback">
        <div *ngIf="verificationform['food_category'].errors">Food categories are required</div>
      </div>
    </div>

    <div class="col-md-3">
      <label for="food_items" class="form-label">Food Items</label><sup>*</sup>
      <input type="text" placeholder="Food Items" formControlName="food_items" class="form-control form-control-sm"
        id="food_items" [readOnly]="verifiedStatus"
        [ngClass]="{ 'is-invalid': verified && verificationform['food_items'].errors }">
      <div *ngIf="verified && verificationform['food_items'].errors" class="invalid-feedback">
        <div *ngIf="verificationform['food_items'].errors['required']">Food Items is required</div>
      </div>
    </div>

    <div class="col-md-3">
      <label for="ownership_type" class="form-label select-label">Ownership Type</label><sup>*</sup>
      <select id="ownership_type" [ngClass]="{ 'is-invalid': verified && verificationform['ownership_type'].errors }"
        formControlName="ownership_type" [attr.disabled]="verifiedStatus"
        class="form-select form-select-sm cursor-pointer">
        <option value="" disabled selected>Select the Ownership Type</option>
        <option *ngFor="let type of ownershipType" [value]="type" style="text-transform: capitalize;">{{type}}</option>
      </select>
      <div *ngIf="verified && verificationform['ownership_type'].errors" class="invalid-feedback">
        <div *ngIf="verificationform['ownership_type'].errors['required']">Ownership Type is required</div>
      </div>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-6">
      <button type="submit" class="btn btn-sm btn-primary">Verify</button>
      <span style="font-size: small; vertical-align: bottom;" class=""> (Note<sup>*</sup>: Please check all checkable
        fields before verifying)</span>
    </div>
  </div>
</form>

<ng-container></ng-container>