<!-- Fostac verifiaction Form -->
<form *ngIf="productType === 'Fostac'" [formGroup]="verificationForm" autocomplete="off" class="row"
  (ngSubmit)="onVerify()">

  <!-- form heading and status -->
  <div class="d-flex justify-content-between">
    <h6>Verification Section</h6>
    <div [ngClass]="verifiedStatus?'text-success':'text-warning'" style="font-size: large;">
      {{verifiedStatus?'verified':'In-Progress'}}
      <fa-icon [icon]="verifiedStatus?faCircleCheck:faCircleExclamation" class="fa-lg ml-2"></fa-icon>
    </div>
  </div>

  <!-- form input fields -->
  <!-- for fostac Panel -->
  <div class="col-md-3">
    <label for="recipient_name" class="form-label">Recipient name</label><sup>*</sup>
    <input type="text" placeholder="Recipient name" formControlName="recipient_name"
      class="form-control form-control-sm" id="recipient_name" [readOnly]="true"
      [ngClass]="{ 'is-invalid': verified && verificationform['recipient_name'].errors }">
    <div *ngIf="verified && verificationform['recipient_name'].errors" class="invalid-feedback">
      <div *ngIf="verificationform['recipient_name'].errors['required']">Recipient name is required</div>
    </div>
  </div>

  <div class="col-md-3">
    <label for="fbo_name" class="form-label">FBO name</label><sup>*</sup>
    <input type="text" placeholder="FBO name" formControlName="fbo_name" class="form-control form-control-sm"
      id="fbo_name" [readOnly]="true" [ngClass]="{ 'is-invalid': verified && verificationform['fbo_name'].errors }">
    <div *ngIf="verified && verificationform['fbo_name'].errors" class="invalid-feedback">
      <div *ngIf="verificationform['fbo_name'].errors['required']">FBO name is required</div>
    </div>
  </div>

  <div class="col-md-3">
    <label for="owner_name" class="form-label">Owner name</label><sup>*</sup>
    <input type="text" placeholder="Owner Name" formControlName="owner_name" class="form-control form-control-sm"
      id="owner_name" [readOnly]="true" [ngClass]="{ 'is-invalid': verified && verificationform['owner_name'].errors }">
    <div *ngIf="verified && verificationform['owner_name'].errors" class="invalid-feedback">
      <div *ngIf="verificationform['owner_name'].errors['required']">Owner name is required</div>
    </div>
  </div>

  <div class="col-md-3">
    <label for="father_name" class="form-label">Father's name</label><sup>*</sup>
    <input type="text" placeholder="Father's name" formControlName="father_name" class="form-control form-control-sm"
      id="father_name" [ngClass]="{ 'is-invalid': verified && verificationform['father_name'].errors }"
      [readOnly]="verifiedStatus">
    <div *ngIf="verified && verificationform['father_name'].errors" class="invalid-feedback">
      <div *ngIf="verificationform['father_name'].errors['required']">Father's name is required</div>
    </div>
  </div>

  <div class="col-md-3">
    <label for="address" class="form-label">Address</label><sup>*</sup>
    <input type="text" placeholder="Address" formControlName="address" class="form-control form-control-sm" id="address"
      [ngClass]="{ 'is-invalid': verified && verificationform['address'].errors }" [readOnly]="true">
    <div *ngIf="verified && verificationform['address'].errors" class="invalid-feedback">
      <div *ngIf="verificationform['address'].errors['required']">Address is required</div>
    </div>
  </div>

  <div class="col-md-3">
    <label for="recipient_contact_no" class="form-label">Recipient Contact No.</label><sup>*</sup>
    <input type="text" placeholder="Recipient contact no." formControlName="recipient_contact_no"
      class="form-control form-control-sm" id="recipient_contact_no" [readOnly]="true"
      [ngClass]="{ 'is-invalid': verified && verificationform['recipient_contact_no'].errors }">
    <div *ngIf="verified && verificationform['recipient_contact_no'].errors" class="invalid-feedback">
      <div *ngIf="verificationform['recipient_contact_no'].errors['required']">Recipient contact number is
        required</div>
      <div *ngIf="verificationform['recipient_contact_no'].errors['pattern']">Recipient contact number is
        invalid
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <label for="dob" class="form-label">DOB</label><sup>*</sup>
    <input type="date" placeholder="DOB" formControlName="dob" class="form-control form-control-sm" id="dob"
      [ngClass]="{ 'is-invalid': verified && verificationform['dob'].errors }" [readOnly]="verifiedStatus">
    <div *ngIf="verified && verificationform['dob'].errors" class="invalid-feedback">
      <div *ngIf="verificationform['dob'].errors['required']">DOB is required</div>
    </div>
  </div>

  <div class="col-md-3">
    <label for="email" class="form-label">E-mail</label><sup>*</sup>
    <input type="email" placeholder="E-mail" formControlName="email" class="form-control form-control-sm" id="email"
      [ngClass]="{ 'is-invalid': verified && verificationform['email'].errors }" [readOnly]="verifiedStatus">
    <div *ngIf="verified && verificationform['email'].errors" class="invalid-feedback">
      <div *ngIf="verificationform['email'].errors['required']">E-mail is required</div>
      <div *ngIf="verificationform['email'].errors['email']">E-mail is invalid</div>
    </div>
  </div>

  <div class="col-md-3">
    <label for="aadhar_no" class="form-label">Aadhar no.</label><sup>*</sup>
    <input type="number" placeholder="Aadhar no." formControlName="aadhar_no" class="form-control form-control-sm"
      id="aadhar_no" [readOnly]="true" [ngClass]="{ 'is-invalid': verified && verificationform['aadhar_no'].errors }">
    <div *ngIf="verified && verificationform['aadhar_no'].errors" class="invalid-feedback">
      <div *ngIf="verificationform['aadhar_no'].errors['required']">Aadhar Number is required</div>
    </div>
  </div>

  <div class="col-md-3">
    <label for="pancard_no" class="form-label">Pancard no.</label>
    <input type="text" placeholder="Pancard no." formControlName="pancard_no" class="form-control form-control-sm"
      id="pancard_no" [ngClass]="{ 'is-invalid': verified && verificationform['pancard_no'].errors }"
      [readOnly]="verifiedStatus">
    <div *ngIf="verified && verificationform['pancard_no'].errors" class="invalid-feedback">
      <div *ngIf="verificationform['pancard_no'].errors['pattern']">Pancard Number is invalid</div>
    </div>
  </div>

  <div class="col-md-3">
    <label for="fostac_total" class="form-label">Fostac Total Amount</label><sup>*</sup>
    <input type="number" placeholder="Fostac Total Amount" formControlName="fostac_total"
      class="form-control form-control-sm" id="officer_name" [readOnly]="true"
      [ngClass]="{ 'is-invalid': verified && verificationform['fostac_total'].errors }">
    <div *ngIf="verified && verificationform['fostac_total'].errors" class="invalid-feedback">
      <div *ngIf="verificationform['fostac_total'].errors['required']">Fostac Total is required</div>
    </div>
  </div>

  <div class="col-md-3">
    <label for="sales_date" class="form-label">Sales date</label><sup>*</sup>
    <input type="date" placeholder="Fostac Total Amount" formControlName="sales_date"
      class="form-control form-control-sm" id="sale_date" [readOnly]="true"
      [ngClass]="{ 'is-invalid': verified && verificationform['sales_date'].errors }">
    <div *ngIf="verified && verificationform['sales_date'].errors" class="invalid-feedback">
      <div *ngIf="verificationform['sales_date'].errors['required']">Sales Date is required</div>
    </div>
  </div>

  <div class="col-md-3">
    <label for="sales_person" class="form-label">Sales executive</label><sup>*</sup>
    <input type="text" placeholder="Sales Person" formControlName="sales_person" class="form-control form-control-sm"
      id="sales_person" [readOnly]="true"
      [ngClass]="{ 'is-invalid': verified && verificationform['sales_person'].errors }">
    <div *ngIf="verified && verificationform['sales_person'].errors" class="invalid-feedback">
      <div *ngIf="verificationform['sales_person'].errors['required']">Sales Person name is required</div>
    </div>
  </div>

  <div class="col-md-3">
    <label for="username" class="form-label">Recipient Username</label><sup>*</sup>
    <input type="text" placeholder="Recipient Username" formControlName="username" class="form-control form-control-sm"
      id="username" [ngClass]="{ 'is-invalid': verified && verificationform['username'].errors }"
      [readOnly]="verifiedStatus">
    <div *ngIf="verified && verificationform['username'].errors" class="invalid-feedback">
      <div *ngIf="verificationform['username'].errors['required']">Recipient's Username is required</div>
    </div>
  </div>

  <div class="col-md-3">
    <label for="password" class="form-label">Recipient Password</label><sup>*</sup>
    <input type="text" placeholder="Recipient Password" formControlName="password" class="form-control form-control-sm"
      id="password" [ngClass]="{ 'is-invalid': verified && verificationform['password'].errors }"
      [readOnly]="verifiedStatus">
    <div *ngIf="verified && verificationform['password'].errors" class="invalid-feedback">
      <div *ngIf="verificationform['password'].errors['required']">Recipient's Password is required</div>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-6">
      <button type="submit" class="btn btn-sm btn-primary" [disabled]="verifiedStatus">Verify</button>
    </div>
  </div>
</form>




<!-- Foscos verifiaction Form -->
<form *ngIf="productType === 'Foscos'" [formGroup]="verificationForm" autocomplete="off" class="row"
  (ngSubmit)="onVerify()">

  <!-- form heading and status -->
  <div class="d-flex justify-content-between">
    <h6>Verification Section</h6>
    <div [ngClass]="verifiedStatus?'text-success':'text-warning'" style="font-size: large;">
      {{verifiedStatus?'verified':'In-Progress'}}
      <fa-icon [icon]="verifiedStatus?faCircleCheck:faCircleExclamation" class="fa-lg ml-2"></fa-icon>
    </div>
  </div>

  <!-- form input fields -->
  <div class="col-md-3">
    <label for="operator_name" class="form-label">Operator Name</label><sup>*</sup>
    <input type="text" placeholder="Operator Name" formControlName="operator_name" class="form-control form-control-sm"
      id="operator_name" [readOnly]="true"
      [ngClass]="{ 'is-invalid': verified && verificationform['operator_name'].errors }">
    <div *ngIf="verified && verificationform['operator_name'].errors" class="invalid-feedback">
      <div *ngIf="verificationform['operator_name'].errors['required']">Operator name is required</div>
    </div>
  </div>

  <div class="col-md-3">
    <label for="fbo_name" class="form-label">FBO name</label><sup>*</sup>
    <input type="text" placeholder="FBO name" formControlName="fbo_name" class="form-control form-control-sm"
      id="fbo_name" [readOnly]="true" [ngClass]="{ 'is-invalid': verified && verificationform['fbo_name'].errors }">
    <div *ngIf="verified && verificationform['fbo_name'].errors" class="invalid-feedback">
      <div *ngIf="verificationform['fbo_name'].errors['required']">FBO name is required</div>
    </div>
  </div>

  <div class="col-md-3">
    <label for="owner_name" class="form-label">Owner name</label><sup>*</sup>
    <input type="text" placeholder="Owner Name" formControlName="owner_name" class="form-control form-control-sm"
      id="owner_name" [readOnly]="true" [ngClass]="{ 'is-invalid': verified && verificationform['owner_name'].errors }">
    <div *ngIf="verified && verificationform['owner_name'].errors" class="invalid-feedback">
      <div *ngIf="verificationform['owner_name'].errors['required']">Owner name is required</div>
    </div>
  </div>

  <div class="col-md-3">
    <label for="operator_contact_no" class="form-label">Operator contact no.</label><sup>*</sup>
    <input type="text" placeholder="Owner contact no." formControlName="operator_contact_no"
      class="form-control form-control-sm" id="operator_contact_no" [readOnly]="true"
      [ngClass]="{ 'is-invalid': verified && verificationform['operator_contact_no'].errors }">
    <div *ngIf="verified && verificationform['operator_contact_no'].errors" class="invalid-feedback">
      <div *ngIf="verificationform['operator_contact_no'].errors['required']">Recipient contact number is
        required</div>
      <div *ngIf="verificationform['operator_contact_no'].errors['pattern']">Owner contact number is
        invalid
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <label for="email" class="form-label">E-mail</label><sup>*</sup>
    <input type="email" placeholder="E-mail" formControlName="email" class="form-control form-control-sm" id="email"
      [ngClass]="{ 'is-invalid': verified && verificationform['email'].errors }" [readOnly]="verifiedStatus" [readOnly]="true">
    <div *ngIf="verified && verificationform['email'].errors" class="invalid-feedback">
      <div *ngIf="verificationform['email'].errors['required']">E-mail is required</div>
      <div *ngIf="verificationform['email'].errors['email']">E-mail is invalid</div>
    </div>
  </div>

  <div class="col-md-3">
    <label for="address" class="form-label">Address</label><sup>*</sup>
    <input type="text" placeholder="Address" formControlName="address" class="form-control form-control-sm" id="address"
      [ngClass]="{ 'is-invalid': verified && verificationform['address'].errors }" [readOnly]="true">
    <div *ngIf="verified && verificationform['address'].errors" class="invalid-feedback">
      <div *ngIf="verificationform['address'].errors['required']">Address is required</div>
    </div>
  </div>

  <div class="col-md-3">
    <label for="pincode" class="form-label">Pincode</label><sup>*</sup>
    <input type="text" placeholder="pincode" formControlName="pincode" class="form-control form-control-sm" id="address"
      [ngClass]="{ 'is-invalid': verified && verificationform['pincode'].errors }" [readOnly]="true">
    <div *ngIf="verified && verificationform['pincode'].errors" class="invalid-feedback">
      <div *ngIf="verificationform['pincode'].errors['required']">Pincode is required</div>
    </div>
  </div>

  <div class="col-md-3">
    <label for="kob" class="form-label select-label">KOB</label><sup>*</sup>
    <select id="kob" [ngClass]="{ 'is-invalid': verified && verificationform['kob'].errors }" formControlName="kob"
      class="form-select form-select-sm cursor-pointer">
      <option value="" disabled selected>Select Kind of Business</option>
    </select>
    <div *ngIf="verified && verificationform['kob'].errors" class="invalid-feedback">
      <div *ngIf="verificationform['kob'].errors['required']">KOB is required</div>
    </div>
  </div>

  <div class="col-md-3">
    <label for="food_category" class="form-label select-label">Food Category</label><sup>*</sup>
    <select id="food_category" [ngClass]="{ 'is-invalid': verified && verificationform['food_category'].errors }"
      formControlName="food_category" class="form-select form-select-sm cursor-pointer">
      <option value="" disabled selected>Select Food Category</option>
    </select>
    <div *ngIf="verified && verificationform['food_category'].errors" class="invalid-feedback">
      <div *ngIf="verificationform['food_category'].errors['required']">Food Category is required</div>
    </div>
  </div>

  <div class="col-md-3">
    <label for="license_category" class="form-label">License Category</label><sup>*</sup>
    <input type="text" placeholder="License Category" formControlName="license_category"
      class="form-control form-control-sm" id="license_category" [readOnly]="true"
      [ngClass]="{ 'is-invalid': verified && verificationform['license_category'].errors }">
    <div *ngIf="verified && verificationform['license_category'].errors" class="invalid-feedback">
      <div *ngIf="verificationform['license_category'].errors['required']">License Category is required</div>
    </div>
  </div>

  <div class="col-md-3">
    <label for="license_duration" class="form-label">License Duration</label><sup>*</sup>
    <input type="number" placeholder="License Duration" formControlName="license_duration"
      class="form-control form-control-sm" id="license_duration" [readOnly]="true"
      [ngClass]="{ 'is-invalid': verified && verificationform['license_duration'].errors }">
    <div *ngIf="verified && verificationform['license_duration'].errors" class="invalid-feedback">
      <div *ngIf="verificationform['license_duration'].errors['required']">License Duration is required</div>
    </div>
  </div>

  <div class="col-md-3">
    <label for="foscos_total" class="form-label">Foscos Total Amount</label><sup>*</sup>
    <input type="number" placeholder="Foscos Total Amount" formControlName="foscos_total"
      class="form-control form-control-sm" id="officer_name" [readOnly]="true"
      [ngClass]="{ 'is-invalid': verified && verificationform['foscos_total'].errors }">
    <div *ngIf="verified && verificationform['foscos_total'].errors" class="invalid-feedback">
      <div *ngIf="verificationform['foscos_total'].errors['required']">Fostac Total is required</div>
    </div>
  </div>

  <div class="col-md-3">
    <label for="sales_date" class="form-label">Sales date</label><sup>*</sup>
    <input type="date" placeholder="Fostac Total Amount" formControlName="sales_date"
      class="form-control form-control-sm" id="sale_date" [readOnly]="true"
      [ngClass]="{ 'is-invalid': verified && verificationform['sales_date'].errors }">
    <div *ngIf="verified && verificationform['sales_date'].errors" class="invalid-feedback">
      <div *ngIf="verificationform['sales_date'].errors['required']">Sales Date is required</div>
    </div>
  </div>

  <div class="col-md-3">
    <label for="sales_person" class="form-label">Sales Executive</label><sup>*</sup>
    <input type="text" placeholder="Sales Person" formControlName="sales_person" class="form-control form-control-sm"
      id="sales_person" [readOnly]="true"
      [ngClass]="{ 'is-invalid': verified && verificationform['sales_person'].errors }">
    <div *ngIf="verified && verificationform['sales_person'].errors" class="invalid-feedback">
      <div *ngIf="verificationform['sales_person'].errors['required']">Sales Person name is required</div>
    </div>
  </div>

  <div class="row mt-3">
    <div class="col-6">
      <button type="submit" class="btn btn-sm btn-primary" [disabled]="verifiedStatus">Verify</button>
    </div>
  </div>
</form>