<div class="app-content pt-3 p-md-3 p-lg-4">

	<div class="container-xxl">
		<h1 class="app-page-title">Home</h1>
		<div *ngIf="isNameVisible" class="app-card alert alert-dismissible shadow-sm mb-4 border-left-decoration " role="alert">
			<div class="inner">
				<div class="app-card-body p-3 p-lg-4">
					<h3 class="mb-3">Welcome, {{empName}}</h3>
					<div class="row gx-5 gy-3">
						<div class="col-12 col-lg-9">

							<div></div>
						</div><!--//col-->
					</div><!--//row-->
					<!-- <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button> -->
				</div><!--//app-card-body-->

			</div><!--//inner-->
		</div><!--//app-card-->

		<!-- this section will be show data according to employee's department -->
		<app-stat-cards *ngIf="empDepartment==='HR Department'" (emitDeptCount)="catchDeptCount($event)"></app-stat-cards>
		
		<div class="row my-2">
			<!-- <app-highcharts [chartData]="chartData" class="col-12 col-lg-6"></app-highcharts> -->
			<app-highcharts *ngIf="empDepartment==='Sales Department'" [chartData]="chartData" class="col-12 col-lg-6"></app-highcharts>
			<app-highcharts *ngIf="empDepartment==='HR Department'" [chartData]="deptData" class="col-12 col-lg-6"></app-highcharts>
		</div>
		<div class="row my-2">
			<div class="col-md-6" *ngIf="projectType=== 'FSSAI'">
				<h1 class="app-page-title">Product Price - FSSAI</h1>
				<table class="rwd-table col-12">
					<tbody>
						<tr>
							<th>#</th>
							<th>Product Name</th>
							<th>Price</th>
							<th>Describtion</th>
						</tr>
						<tr *ngFor="let product of fssaiData;let i = index;">
							<td data-th="#">{{i+1}}</td>
							<td data-th="Product Name">{{product.name}}</td>
							<td data-th="Price"> <fa-icon class="fa-xs" style="color: #5d6778;"
									[icon]="faIndianRupeeSign"></fa-icon> {{product.price}} </td>
							<td data-th="Describe">{{product.description}}</td>
						</tr>
						<!-- Add more rows as needed for FSSAI products -->
					</tbody>
				</table>
			</div>
			<div class="col-md-6" *ngIf="projectType=== 'DPIIT'">
				<h1 class="app-page-title">Product Price - DPIIT</h1>
				<table class="rwd-table col-12">
					<tbody>
						<tr>
							<th>#</th>
							<th>Product Name</th>
							<th>Price</th>
							<th>Describtion</th>
						</tr>
						<tr *ngFor="let product of dpiitData;let i = index;">
							<td data-th="#">{{i+1}}</td>
							<td data-th="Product Name">{{product.name}}</td>
							<td data-th="Price"> <fa-icon class="fa-xs" style="color: #5d6778;"
									[icon]="faIndianRupeeSign"></fa-icon> {{product.price}}</td>
							<td data-th="Describe">{{product.description}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div><!--//app-content-->

	<footer class="app-footer">
		<div class="container text-center py-3">
			<!--/* This template is free as long as you keep the footer attribution link. If you'd like to use the template without the attribution link, you can buy the commercial license via our website: themes.3rdwavemedia.com Thank you for your support. :) */-->
			<!--<small class="copyright">Designed with <span class="sr-only"></span><i class="fas fa-heart"
					style="color: #fb866a;"></i> by <a class="app-link" href="http://themes.3rdwavemedia.com"
					target="_blank">Xiaoying Riley</a> for developers</small>-->
		</div>
	</footer><!--//app-footer-->
</div>