.rwd-table{
    font-family:  system-ui, -apple-system, "Segoe UI", Roboto,
    "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 13px;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
}

.rwd-table tr:first-child {
    border-top: none;
    background: #15a362;
    color: #e9e6e6;
}

.rwd-table tr {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background-color: #f5f9fc;
}

.rwd-table tr:nth-child(odd):not(:first-child) {
    background-color: #ebf9f4;
}

.rwd-table {
    border-radius: .2em;
    overflow: hidden;
}

.rwd-table tr {
    border-color: #bfbfbf;
}

.rwd-table th,
.rwd-table td {
    display: table-cell;
    padding: .25em .5em;
}

.department-card-container {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
}

.department-card{
    min-height: 100%;
    transition:all 0.1s ease;

    & .stats-type{
        font-size: 12px;
        word-wrap: break-word;
    }

    & .stats-figure{
        font-size: x-large;
    }
}

.icons-element{
    height: 50px;
    width: 50px;
    object-fit: fill;
    filter: grayscale(100%) sepia(100%) saturate(5000%) hue-rotate(206deg);
    // filter:  grayscale(100%) sepia(100%) hue-rotate(200deg) saturate(5000%) brightness(0.8);
}

.department-card:hover{
    // background: #0069d9;
    // background: #196076;
    background: #20809d;

    & .icons-element{
        // filter: grayscale(100%) brightness(300%);
        filter: brightness(0) invert(1);
    }

    & .stats-type{
        color: #fff;
    }

    & .stats-figure{
        color: #fff;
    }
}

// media queries

@media (max-width:992px){
    .department-card-container {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media (max-width:768px){
    .department-card-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width:300px){
    .department-card-container {
        grid-template-columns: repeat(2, 1fr);
    }
}
