/* You can add global styles to this file, and also import other style files */

@import '../node_modules/bootstrap-scss/bootstrap.scss';
@import './assets/css/portal.css';
@import './node_modules/ngx-bootstrap/datepicker/bs-datepicker.scss';
@import 'ngx-toastr/toastr';
@import "~@ng-select/ng-select/themes/default.theme.css";
::-webkit-input-placeholder {
    font-size: 13px;
 }
 .form-label{font-size: 13px;}
 .form-select-sm > option{ font-size: 13px!important;}
 .app-content{margin-top:0;}
 .ng-select-error{
    border:1px solid red;
    border-radius: 5px;
 }
.ng-select-container{
    min-height: 30px!important;
    border-color:#dee2e6!important;
 }
 .ng-placeholder{
     font-size:13px !important;
     color:#212529 !important;
 }
 .ng-dropdown-panel .ng-dropdown-panel-items .ng-option{
    padding:0px 10px !important;
    font-size:13px !important;
 }
 .ng-select.ng-select-multiple .ng-select-container .ng-value-container .ng-value{
    font-size:12px !important;
 }
 .highcharts-axis-labels text {
   text-transform: capitalize;
 }

 .list-tr:hover .cell{
   background-color: #9392922f;
}

.btn-xs,
 .btn-group-xs > .btn {
   --bs-btn-padding-y: 0.1rem;
   --bs-btn-padding-x: 0.35rem;
   --bs-btn-font-size: 0.55rem;
   --bs-btn-border-radius: var(--bs-border-radius-sm);
 }

 .form-select-xs {
   padding-top: 0.15rem;
   padding-bottom: 0.15rem;
   padding-left: 0.4rem;
   font-size: 0.7rem;
   border-radius: var(--bs-border-radius-sm);
 }

 .form-control-xs {
   min-height: calc(1.2em + 0.4rem + calc(var(--bs-border-width) * 2));
   padding: 0.15rem 0.35rem;
   font-size: 0.625rem;
   border-radius: var(--bs-border-radius-sm);
 }
 .form-control-xs::-webkit-file-upload-button {
   padding: 0.15rem 0.4rem;
   margin: -0.15rem -0.4rem;
   -webkit-margin-end: 0.4rem;
   margin-inline-end: 0.4rem;
 }

 .text-sm {
  font-size: small;
 }

 .text-xs {
  font-size: x-small;
 }

 .w-25 {
  width: calc(100% / 4);
 }