<div class="modal-header bg-secondary" *ngIf="chartData">
  <h6 class="modal-title text-white" id="modal-basic-title">{{chartData.filterValue.toString().toUpperCase()}}</h6>
  <button type="button" class="btn-close btn-close-white" aria-label="Close" (click)="activeModal.close()"></button>
</div>
<div class="modal-body" *ngIf="chartData">
  <div class="row g-3 mb-4 align-items-center justify-content-end">
    <div class="col-auto">
      <div class="page-utilities">
        <div class="row g-2 justify-content-start justify-content-md-end align-items-center">
          <div class="col-auto">
            <form class="form">
              <div class="input-group">
                <fa-icon [icon]="faMagnifyingGlass" class="fa-sm" style="position: absolute; padding: 9px 10px;"
                  [ngClass]="isSearch === false ? 'd-block':'d-none'"></fa-icon>
              </div>
              <input type="text" id="search-orders" [(ngModel)]="searchQuery" name="searchorders"
                class="form-control form-control-sm search-orders" (input)="onSearchChange()">
            </form>
          </div>
          <div class="col-auto" *ngIf="chartData.userDept==='Sales Department' || chartData.userDept==='IT Department'">
            <select class="form-select form-select-sm w-auto cursor-pointer" [(ngModel)]="selectedFilterSales">
              <option value="generalsearch">General Search</option>
              <option value="byFboName">Search by FBO Name</option>
              <option *ngIf="designation === 'Director'" value="bySalesOfficer">Search by Sales Officer</option>
              <option value="byOwner">Search by Owner</option>
              <option value="byLocation">Search by Location</option>
              <option value="byCustomerID">Search by Customer ID</option>
            </select>
          </div>
          <div class="col-auto" *ngIf="chartData.userDept==='HR Department'">
            <select class="form-select form-select-sm w-auto" [(ngModel)]="selectedFilterHr">
              <option value="byEmployeeName">Search by Employee Name</option>
              <option value="byState">Search by State</option>
            </select>
          </div>
        </div><!--//row-->
      </div><!--//table-utilities-->
    </div><!--//col-auto-->
  </div><!--//row-->
  <div class="tab-content mx-3" id="orders-table-tab-content">
    <div class="tab-pane fade show active" id="orders-all" role="tabpanel" aria-labelledby="orders-all-tab">
      <div class="app-card app-card-orders-table shadow-sm mb-5">
        <div class="app-card-body">
          <div class="table-responsive">
            <table class="table app-table-hover table-striped mb-0 text-left" id="data-to-export">
              <thead *ngIf="chartData.userDept==='Sales Department' || chartData.userDept==='IT Department'">
                <tr>
                  <th class="cell">S.No</th>
                  <th class="cell">FBO Name
                    <fa-icon style="margin-left: 10px;" class="px-2 cursor-pointer arrow" [icon]="faArrowUp"
                      (click)="sortBy('fbo_name', 'asc')"
                      [ngClass]="{'selected-arrow': sortedField === 'fbo_name' && sortingOrder === 'asc'}"></fa-icon>
                    <fa-icon class="cursor-pointer arrow" [icon]="faArrowDown" (click)="sortBy('fbo_name', 'desc')"
                      [ngClass]="{'selected-arrow': sortedField === 'fbo_name' && sortingOrder === 'desc'}"></fa-icon>
                  </th>
                  <th class="cell">Owner Name
                    <fa-icon style="margin-left: 10px;" class="px-2 cursor-pointer arrow" [icon]="faArrowUp"
                      (click)="sortBy('owner_name', 'asc')"
                      [ngClass]="{'selected-arrow': sortedField === 'owner_name' && sortingOrder === 'asc'}"></fa-icon>
                    <fa-icon class="cursor-pointer arrow" [icon]="faArrowDown" (click)="sortBy('owner_name', 'desc')"
                      [ngClass]="{'selected-arrow': sortedField === 'owner_name' && sortingOrder === 'desc'}"></fa-icon>
                  </th>
                  <th class="cell">Customer ID</th>
                  <th class="cell">Contact no.</th>
                  <th *ngIf="!isRepetCustData" class="cell">Product Name</th>
                  <th *ngIf="!isRepetCustData" class="cell">Processing Amount</th>
                  <th *ngIf="isRepetCustData" class="cell text-center">Repetition Count
                    <fa-icon style="margin-left: 10px;" class="px-2 cursor-pointer arrow" [icon]="faArrowUp"
                      (click)="sortBy('repetition_count', 'asc')"
                      [ngClass]="{'selected-arrow': sortedField === 'repetition_count' && sortingOrder === 'asc'}"></fa-icon>
                    <fa-icon class="cursor-pointer arrow" [icon]="faArrowDown"
                      (click)="sortBy('repetition_count', 'desc')"
                      [ngClass]="{'selected-arrow': sortedField === 'repetition_count' && sortingOrder === 'desc'}"></fa-icon>
                  </th>
                  <th class="cell">District</th>
                  <th class="cell">State</th>
                  <th *ngIf="!isRepetCustData" class="cell">Sales Date
                    <fa-icon style="margin-left: 5px;" class="px-2 cursor-pointer arrow" [icon]="faArrowUp"
                      (click)="sortBy('sales_date', 'asc')"
                      [ngClass]="{'selected-arrow': sortedField === 'sales_date' && sortingOrder === 'asc'}"></fa-icon>
                    <fa-icon class="cursor-pointer arrow" [icon]="faArrowDown" (click)="sortBy('sales_date', 'desc')"
                      [ngClass]="{'selected-arrow': sortedField === 'sales_date' && sortingOrder === 'desc'}"></fa-icon>
                  </th>
                  <th *ngIf="isRepetCustData" class="cell text-center">Last Sale Date
                    <fa-icon style="margin-left: 10px;" class="px-2 cursor-pointer arrow" [icon]="faArrowUp"
                      (click)="sortBy('last_sale_date', 'asc')"
                      [ngClass]="{'selected-arrow': sortedField === 'last_sale_date' && sortingOrder === 'asc'}"></fa-icon>
                    <fa-icon class="cursor-pointer arrow" [icon]="faArrowDown"
                      (click)="sortBy('last_sale_date', 'desc')"
                      [ngClass]="{'selected-arrow': sortedField === 'last_sale_date' && sortingOrder === 'desc'}"></fa-icon>
                  </th>
                  <th *ngIf="designation === 'Director'" class="cell">Sales Officer</th>
                </tr>
              </thead>
              <thead *ngIf="chartData.userDept==='HR Department'">
                <tr>
                  <th class="cell">S.No</th>
                  <th class="cell">Employee name</th>
                  <th class="cell">Employee Id</th>
                  <th class="cell">Contact no.</th>
                  <th class="cell">E-mail</th>
                  <th class="cell">State</th>
                  <th class="cell">Status</th>
                </tr>
              </thead>
              <tbody
                *ngIf="filteredData?.length>0 && chartData.userDept==='Sales Department' || chartData.userDept==='IT Department'">
                <tr (click)="viewCustomerSales(employee.fboInfo.customer_id)"
                  *ngFor="let employee of filteredData | paginate: { itemsPerPage: itemsNumber, currentPage: pageNumber1, id: chartData.chartTitile.split(' ').join('-') }; let sr = index">
                  <td class="cell"><span class="truncate text-capitalize">{{sr+itemsNumber*(pageNumber1-1)+1}}</span>
                  </td>
                  <td class="cell col-2"><span
                      class="truncate text-capitalize">{{employee.fboInfo.fbo_name.toLowerCase()}}</span></td>
                  <td class="cell col-2"><span
                      class="truncate text-capitalize">{{employee.fboInfo.owner_name.toLowerCase()}}</span></td>
                  <td class="cell"><span class="truncate text-capitalize">{{employee.fboInfo.customer_id}}</span></td>
                  <td class="cell"><span class="truncate text-capitalize">{{employee.fboInfo.owner_contact}}</span></td>
                  <td *ngIf="!isRepetCustData" class="cell"><span
                      class="truncate text-capitalize">{{employee.product_name.join(', ') +
                      ((employee.fboInfo.foscosInfo && employee.fboInfo.foscosInfo.water_test_fee)?', Water Test':'')}}</span></td>
                  <td *ngIf="!isRepetCustData" class="cell"><span
                      class="truncate text-capitalize">{{calculateProcessingAmount(employee)}}</span></td>
                  <td *ngIf="isRepetCustData" class="cell text-center"><span
                      class="truncate text-capitalize col-2">{{employee.repetition_count}}</span></td>
                  <td class="cell"><span
                      class="truncate text-capitalize">{{employee.fboInfo.district.toLowerCase()}}</span></td>
                  <td class="cell"><span
                      class="truncate text-capitalize">{{employee.fboInfo.state.toLowerCase()}}</span></td>
                  <td *ngIf="!isRepetCustData" class="cell"><span class="truncate">{{
                      getFormattedSalesDate(employee.createdAt) }}</span></td>
                  <td *ngIf="isRepetCustData" class="cell col-2"><span class="truncate">{{
                      getFormattedSalesDate(employee.lastSaleDate) }}</span></td>
                  <td *ngIf="designation === 'Director'"
                  class="cell"><span class="truncate">{{employee.employeeInfo.employee_name }}</span></td>
                </tr>
              </tbody>
              <tbody *ngIf="employeeList?.length>0 && chartData.userDept==='HR Department'">
                <tr
                  *ngFor="let employee of filteredData | paginate: { itemsPerPage: itemsNumber, currentPage: pageNumber1 }; let sr = index">
                  <td class="cell"><span class="truncate">{{sr+itemsNumber*(pageNumber1-1)+1}}</span></td>
                  <td class="cell"><span class="truncate">{{employee.employee_name}}</span></td>
                  <td class="cell"><span class="truncate">{{employee.employee_id}}</span></td>
                  <td class="cell"><span class="truncate">{{employee.contact_no}}</span></td>
                  <td class="cell"><span class="truncate">{{employee.email}}</span></td>
                  <td class="cell"><span class="truncate">{{employee.state}}</span></td>
                  <td class="cell text-center">
                    <fa-icon *ngIf="employee.status" class="fa-l" style="color: #138a25;" [icon]="faCheck"></fa-icon>
                    <fa-icon *ngIf="!employee.status" class="fa-l" style="color: #c64115;" [icon]="faXmark"></fa-icon>
                  </td>
                </tr>
              </tbody>
              <tbody *ngIf="filteredData?.length==0">
                <tr>
                  <td colspan="15" class="text-center fw-bold cell">----------------- No Data Found ----------------
                  </td>
                </tr>
              </tbody>
            </table>
          </div><!--//table-responsive-->
        </div><!--//app-card-body-->
      </div><!--//app-card-->
      <div class="d-flex" [ngClass]="specificDatas?'justify-content-between':'justify-content-end'">
        <div *ngIf="specificDatas" class="text-sm" style="font-size: 14px;">{{filteredData.length}} of
          {{specificDatas.length}}</div>
        <pagination-controls previousLabel="Prev" nextLabel="Next" [id]="chartData.chartTitile.split(' ').join('-')"
          (pageChange)="onTableDataChange($event)"></pagination-controls>
      </div>
      <!-- <div *ngIf="showPagination===true" class="d-flex justify-content-end">
        <pagination-controls previousLabel="Prev" nextLabel="Next" [id]="chartData.chartTitile.split(' ').join('-')"
          (pageChange)="onTableDataChange($event)"></pagination-controls>
      </div> -->
    </div>
  </div>
</div>

<!-- Loader -->
<ngx-loading [show]="loading"></ngx-loading>