
.btn-secondary {
    background: #fff;
    color: #5d6778;
    border: 1px solid #bcc1cb;
}

.btn-secondary:hover {
    color: #15a362;
    border: 1px solid #15a362;
    background: #fff;
}

.item-label{
    color:#5d6778;
}