<form [formGroup]="auditForm" class="row" (submit)="onAudit()">
    <div class="d-flex justify-content-between">

        <!-- heading and form status -->
        <h6>Audit Section</h6>
        <span class="status" [ngClass]="auditStatus?'bg-success':'bg-warning'" style="font-size: x-small;"
            class="badge align-self-baseline">
            {{auditStatus?'Scheduled':'Not-Scheduled'}} <fa-icon class="fa-lg fa-regular ml-2"
                [icon]="auditStatus?faCircleCheck:faCircleExclamation">
            </fa-icon>
        </span>
    </div>

    <!-- form input fields -->
    <div class="col-md-3">
        <label for="audit_report" class="form-label">Audit Report</label><sup>*</sup>
        <input type="file" placeholder="Upload Audit Report" formControlName="audit_report"
            class="form-control form-control-sm" id="audit_report"
            [ngClass]="{ 'is-invalid': audited && auditform['audit_report'].errors }">
        <div *ngIf="audited && auditform['audit_report'].errors" class="invalid-feedback">
            <div *ngIf="auditform['audit_report'].errors['required']">Audit Report is required</div>
        </div>
    </div>

    <div class="col-md-3">
        <label for="advisory_report" class="form-label">Audit Report</label><sup>*</sup>
        <input type="file" placeholder="Upload Advisory Report" formControlName="advisory_report"
            class="form-control form-control-sm" id="advisory_report"
            [ngClass]="{ 'is-invalid': audited && auditform['advisory_report'].errors }">
        <div *ngIf="audited && auditform['advisory_report'].errors" class="invalid-feedback">
            <div *ngIf="auditform['advisory_report'].errors['required']">Audit Report is required</div>
        </div>
    </div>

    <div class="col-md-3">
        <label for="food_category" class="form-label">Select Documents to Upload<sup>*</sup></label>
        <app-multi-select #multiSelect class="cursor-pointer" [options]="hraDocumentsName"
            (selectedArrayChange)="getSelectedDocs($event)" [placeHolder]="'Select Documents'"></app-multi-select>
    </div>

    <div class="col-md-3">
        <label for="payment_date" class="form-label">Upload Docs.</label><sup>*</sup>
        <br>
        <fa-icon [icon]="faFileArrowUp" class="fa-2xl text-primary cursor-pointer" (click)="openDocumentationModal()"></fa-icon>
    </div>

    <div class="col-md-3">
        <label for="summary_note" class="form-label">Summary Advisort Report</label><sup>*</sup>
        <textarea formControlName="summary_note" id="summary_note" class="form-control form-control-sm"></textarea>
    </div>

    <!-- <div class="col-md-6 col-12">
        <div class="">
            <label for="summary_advisory_report" class="form-label">Summary Advisory Report<sup>*</sup></label>
            <div class="officer-comment-block">
                <div *ngFor="let comment of officerComments" class="note">{{comment}}</div>
            </div>
        </div>
        <div class="">
            <label for="summary_note" class="form-label">Summary Note</label>
            <input type="text" class="form-control form-control-sm" id="officer_note" formControlName="summary_note">
        </div>
    </div> -->

    <div class="row mt-3">
        <div class="col-6">
            <button type="submit" class="btn btn-sm btn-primary">Submit
            </button>
        </div>
    </div>

    <ngx-loading [show]="loading"></ngx-loading>
</form>