<form [formGroup]="auditForm" class="row" (submit)="onAudit()">
    <div class="d-flex justify-content-between">

        <!-- heading and form status -->
        <h6>Audit Section</h6>
        <span class="status" [ngClass]="auditStatus?'bg-success':'bg-warning'" style="font-size: x-small;"
            class="badge align-self-baseline">
            {{auditStatus?'Scheduled':'Not-Scheduled'}} <fa-icon class="fa-lg fa-regular ml-2"
                [icon]="auditStatus?faCircleCheck:faCircleExclamation">
            </fa-icon>
        </span>
    </div>

    <!-- form input fields -->
    <div class="col-md-3">
        <label for="audit_report" class="form-label">Audit Report</label><sup>*</sup>
        <input type="file" placeholder="Upload Report" class="form-control form-control-sm" id="audit_report">
        <div *ngIf="auditform['audit_report'].errors" class="invalid-feedback">
            <div *ngIf="auditform['audit_report'].errors['required']">Audit Report is required</div>
        </div>
    </div>

    <div class="col-md-3">
        <label for="summary_advisory_report" class="form-label">Summary Advisory Report</label><sup>*</sup>
        <textarea name="summary_advisory_report" id="summary_advisory_report" class="form-control form-control-sm"></textarea>
        <div *ngIf="auditform['summary_advisory_report'].errors" class="invalid-feedback">
            <div *ngIf="auditform['summary_advisory_report'].errors['required']">Summary is required</div>
        </div>
    </div>

    <div class="col-md-3">
        <label for="advisory_report" class="form-label">Advisory Report</label><sup>*</sup>
        <input type="file" placeholder="Upload Report" class="form-control form-control-sm" id="advisory_report">
        <div *ngIf="auditform['advisory_report'].errors" class="invalid-feedback">
            <div *ngIf="auditform['advisory_report'].errors['required']">Advisory Report is required</div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-6">
            <button type="submit" class="btn btn-sm btn-primary">Submit
            </button>
        </div>
    </div>

    <ngx-loading [show]="loading"></ngx-loading>
</form>