.weekDays {
  color: rgb(255, 138, 0);
  font-weight: 400px;
  cursor: pointer;
  font-size: 18.2px;
}
.Leave-type{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 15px;
}

.leave-count{
  font-size: 20px;
  margin-bottom: 2px;
}

.date {
  font-weight: 400;
  cursor: pointer;
  line-height: 42px;
  width: 45px;
  height: 45px;
}

ul {
  list-style-type: none;
}

.calendar {
  display: flex;
  flex-direction: column;

}

.day {
  width: 40px;
  height: 40px;
  text-align: center;
  padding: 7px;
  cursor: pointer;
}

.day>span {
  font-size: 16px;
}

.Current {
  background-color: lightblue;
}

.holiday-date {
  font-size: normal;
  font-weight: bold;
}

.month {
  flex-grow: 1;
  text-align: center;
}

.leftarrow {
  transform: rotate(180deg);
}

.rightarrow,
.leftarrow {
  background: url(../../../assets/images/arrow.png);
  background-size: contain;
  width: 20px;
  height: 20px;
  margin-left: 10px;
  background-repeat: no-repeat;
  border: none;
}

.day.selected {
  background-color: green;
  color: white;
  cursor: pointer;
}

.day.unselected {
  background-color: transparent;
  color: inherit;
  cursor: pointer;
}

.lms-btn {
  text-align: center;
  width: 100%;
  float: left;
  margin-top: 3rem;
}

.clickSubmit {
  text-align: right;
  float: center;
}

.leave_area {
  width: 48%;
  float: left;
  margin: 7px 2%;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #f5f2f2;
  margin-left: 0%;
}


.half_leave {
  width: 10%;
  float: left;
  border: 2px solid #ebebeb;
  align-items: center;
  height: 100%;
  background-color: #f5f2f2;
  padding: 2px;
}

.leave_dayDate {
  width: 30%;
  float: left;
  border-right: 2px solid #ebebeb;
  text-align: center;
  height: 100%;
  padding-top: 7px;
  background-color: #f5f2f2
}

.leave_dropdown {
  width: 50%;
  float: left;
  height: 100%;
  background-color: #eeee
}

.leave_cancel {
  width: 10%;
  float: left;
  border: 1px solid #ebebeb;
  text-align: center;
  height: 100%;
  background-color: white;
  padding-top: 7px;
}

.leave_area .border {
  margin-right: 5px;
}

.fa-close {
  font-size: 1.7em;
  cursor: pointer;
  padding-top: 15px;
}

.myLeave_image {
  background-image: url(../../../assets/images/My_leave.png);
  background-size: contain;
  width: 50px;
  height: 60px;
  filter: invert(37%) sepia(92%) saturate(3896%) hue-rotate(199deg) brightness(101%) contrast(107%);
}

.annualleave_image {
  background-image: url(../../../assets/images/Annual_leave.png);
  background-size: contain;
  width: 50px;
  height: 50px;
  filter: invert(50%) sepia(82%) saturate(555%) hue-rotate(141deg) brightness(90%) contrast(82%);
}

.RH_image {
  background-image: url(../../../assets/images/restrictedleave.png);
  background-size: contain;
  width: 52px;
  height: 55px;
  filter: invert(54%) sepia(89%) saturate(388%) hue-rotate(82deg) brightness(82%) contrast(93%);
}

.bold-date {
  font-weight: bold;
}

.leave_select {
  padding-bottom: 16px;
  background-color: #eeee;
}

.HalfLeave_cricle {
  width: 80%;
  float: center;
  text-align: center;
  height: 100%;
  padding-left: 20px;
  background-position: center;
  position: relative;
}

.full-circle {
  background-image: url('../../../assets/images/full_sun.png'); 
  background-position: center;
  cursor: pointer;
  background-size: cover;
  padding-left:37px;
  position: static;
}

.left-half-circle, .right-half-circle {
  background-image: url('../../../assets/images/half_sun.png'); 
  background-size: cover;
  background-position: center;
  cursor: pointer;
  padding-left:37px;
  position: static;
}

.right-half-circle {
  transform: rotate(180deg);
  position: static;
}
@media (max-width: 767px) {
  .input-group {
    padding: 5px;
  }

  .clickSubmit {
    margin-top: 10px;
  }

  .clickCancel {
    float: right;
  }

  .leave_area{
    width: 99%;
    margin-left: 1%;
    margin-right: 0;
    padding-left: 0;
    padding-right: 5%;
    background:white ;
  }

  .app-card-header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .annualleave_image,
  .RH_image,
  .myLeave_image {
    display: none;
  }

  .availed-card {
    display: flex !important;
    flex-direction: row !important;
    width: 80%;
  }

  .select-date-card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container {
    width: 100% !important;
  }
}