.search-suggestions{
    position: absolute;
    top: 25px;
    left: 0; 
    width:315px; 
    background-color: white;
    border: 0.5px solid grey;
    border-radius: 5px;
    z-index: 100;
    font-size: 14px;
    max-height: 150px;
    overflow-y: scroll;
    text-align: center;
    padding: 0;
}

.search-suggestions li {
    margin-top: 4px;
    text-transform: capitalize;
}

.search-input {
    background-color: white;
    border: 0.5px solid grey;
    border-radius: 5px;
}