<div class="modal-header bg-secondary">
  <h6 *ngIf="this.serviceType === 'fostac'" class="modal-title text-white" id="modal-basic-title">Recipients</h6>
  <h6 *ngIf="this.serviceType === 'foscos'" class="modal-title text-white" id="modal-basic-title">Shops</h6>
  <h6 *ngIf="this.serviceType === 'HRA'" class="modal-title text-white" id="modal-basic-title">Shops</h6>

  <button type="button" class="btn-close btn-close-white" aria-label="Close" (click)="activeModal.dismiss()"></button>
</div>
<!-- *ngIf="recipientData?.length==0" -->

<div class="border-top border-dark-subtle" *ngIf="recipientCount!==listCount">
  <div *ngIf="serviceType !== 'HRA'" class="d-grid gap-2 d-md-flex justify-content-md-end align-items-center">
    <div class="form-check form-switch">
      <input class="form-check-input cursor-pointer" type="checkbox" role="switch" (change)="ChangeFormType($event)"
        id="flexSwitchCheckDefault" />
      <label class="form-check-label" for="flexSwitchCheckDefault">Upload Excel</label>
    </div>
    <fa-icon class="fa-lg cursor-pointer" style="color: #1d8b6a; margin:10px;" [icon]="faFileExcel"
      (click)="downloadCSV(this.serviceType === 'fostac'? 'fostac' : 'foscos')" title="Download Format"></fa-icon>
  </div>
  <form [formGroup]="recipientform" autocomplete="off" [ngClass]="uploadExcel?'d-none':''" (ngSubmit)="onSubmit()"
    enctype="multipart/form-data">
    <!--Foscos FORM Start-->
    <div class="modal-body" *ngIf="this.serviceType === 'foscos'">
      <div class="row">
        <div class="col-md-4">
          <label for="operatorName" class="form-label">Operator Name<sup>*</sup></label>
          <input type="text" id="operatorName" class="form-control form-control-sm" placeholder="Operator Name"
            formControlName="operatorName"
            [ngClass]="{ 'is-invalid': submitted && recipient['operatorName'].errors }" />
          <div *ngIf="submitted && recipient['operatorName'].errors" class="invalid-feedback">
            <div *ngIf="recipient['operatorName'].errors['required']">Operator Name is required</div>
          </div>
        </div>
        <div class="col-md-4">
          <label for="address" class="form-label">Address<sup>*</sup></label>
          <input type="text" placeholder="Address" formControlName="address" class="form-control form-control-sm"
            id="address" [ngClass]="{ 'is-invalid': submitted && recipient['address'].errors }" />
          <div *ngIf="submitted && recipient['address'].errors" class="invalid-feedback">
            <div *ngIf="recipient['address'].errors['required']">Address is required</div>
          </div>
        </div>
        <div class="col-md-4">
          <label for="pincode" class="form-label">Pincode<sup>*</sup></label>
          <input type="number" placeholder="Pincode" formControlName="pincode" class="form-control form-control-sm"
            id="pincode" [ngClass]="{ 'is-invalid': submitted && recipient['pincode'].errors }" />
          <div *ngIf="submitted && recipient['pincode'].errors" class="invalid-feedback">
            <div *ngIf="recipient['pincode'].errors['required']">Pincode is required</div>
            <div *ngIf="recipient['pincode'].errors['pattern']">Pincode is invalid</div>
          </div>
        </div>
        <div class="col-md-4">
          <label for="village" class="form-label">Village<sup>*</sup></label>
          <input type="text" placeholder="Village" formControlName="village" class="form-control form-control-sm"
            id="village" [ngClass]="{ 'is-invalid': submitted && recipient['village'].errors }" />
          <div *ngIf="submitted && recipient['village'].errors" class="invalid-feedback">
            <div *ngIf="recipient['village'].errors['required']">Village is required</div>
          </div>
        </div>
        <div class="col-md-4">
          <label for="tehsil" class="form-label">Tehsil<sup>*</sup></label>
          <input type="text" placeholder="Tehsil" formControlName="tehsil" class="form-control form-control-sm"
            id="tehsil" [ngClass]="{ 'is-invalid': submitted && recipient['tehsil'].errors }" />
          <div *ngIf="submitted && recipient['tehsil'].errors" class="invalid-feedback">
            <div *ngIf="recipient['tehsil'].errors['required']">Tehsil is required</div>
          </div>
        </div>

        <div class="col-md-4">
          <label for="eBill" class="form-label">Electricity Bill (jpeg or png)<sup>*</sup></label>
          <input type="file" (change)="onImageChangeFromFile($event, 'eBill')" placeholder="Electricity Bill"
            formControlName="eBill" class="form-control form-control-sm" id="eBill"
            [ngClass]="{ 'is-invalid': submitted && recipient['eBill'].errors }" />
          <div *ngIf="submitted && recipient['eBill'].errors" class="invalid-feedback">
            <div *ngIf="recipient['eBill'].errors['required']">Electricity Bill is required.(jpeg or png)</div>
            <div *ngIf="recipient['eBill'].errors['invalidFileType']">Invalid file type. Only .png, .jpg or .jpeg files
              are allowed.</div>
          </div>
        </div>
        <div class="col-md-4">
          <label for="shop_photo" class="form-label">Shop's Photo (jpeg or png)<sup>*</sup></label>
          <input type="file" (change)="onImageChangeFromFile($event, 'shopPhoto')"
            placeholder="Shop Photo(Name should be visible)" formControlName="shop_photo"
            class="form-control form-control-sm" id="shop_photo"
            [ngClass]="{ 'is-invalid': submitted && recipient['shop_photo'].errors }" />
          <div *ngIf="submitted && recipient['shop_photo'].errors" class="invalid-feedback">
            <div *ngIf="recipient['shop_photo'].errors['required']">Shop Photo is required.(jpeg or png)</div>
            <div *ngIf="recipient['shop_photo'].errors['invalidFileType']">Invalid file type. Only .png, .jpg or .jpeg
              files
              are allowed.</div>
          </div>
        </div>
        <div class="col-md-4">
          <label for="owner_photo" class="form-label">Owner's Photo (jpeg or png)<sup>*</sup></label>
          <input type="file" (change)="onImageChangeFromFile($event, 'ownerPhoto')" placeholder="Owner Photo"
            formControlName="owner_photo" class="form-control form-control-sm" id="owner_photo"
            [ngClass]="{ 'is-invalid': submitted && recipient['owner_photo'].errors }" />
          <div *ngIf="submitted && recipient['owner_photo'].errors" class="invalid-feedback">
            <div *ngIf="recipient['owner_photo'].errors['required']">Owner Photo is required.(jpeg or png)</div>
            <div *ngIf="recipient['owner_photo'].errors['invalidFileType']">Invalid file type. Only .png, .jpg or .jpeg
              files
              are allowed.</div>
          </div>
        </div>
        <div class="col-md-4">
          <label for="aadhar_photo" class="form-label">Owner's Aadhar<sup>*</sup></label>
          <input type="file" (change)="onImageChangeFromFile($event, 'aadharPhoto')" placeholder="Aadhar Photo"
            formControlName="aadhar_photo" class="form-control form-control-sm" id="aadhar_photo" multiple
            [ngClass]="{ 'is-invalid': submitted && recipient['aadhar_photo'].errors }" />
          <div *ngIf="submitted && recipient['aadhar_photo'].errors" class="invalid-feedback">
            <div *ngIf="recipient['aadhar_photo'].errors['required']">Aadhar is required.(jpeg or png)</div>
            <div *ngIf="recipient['aadhar_photo'].errors['invalidFileType']">Invalid file type. Only .png, .jpg or .jpeg
              files are allowed.</div>
          </div>
        </div>
      </div>
    </div>

    <!--Fostac FORM Start-->
    <div class="modal-body" *ngIf="this.serviceType === 'fostac'">
      <div class="row">
        <div class="col-md-4">
          <label for="name" class="form-label">Recipient Name<sup>*</sup></label>
          <input type="text" id="name" class="form-control form-control-sm" placeholder="Recipient Name"
            formControlName="name" [ngClass]="{ 'is-invalid': submitted && recipient['name'].errors }" />
          <div *ngIf="submitted && recipient['name'].errors" class="invalid-feedback">
            <div *ngIf="recipient['name'].errors['required']">Recipient Name is required</div>
          </div>
        </div>

        <div class="col-md-4">
          <label for="phoneNo" class="form-label">Mobile No.<sup>*</sup></label>
          <input type="number" placeholder="Mobile No." formControlName="phoneNo" class="form-control form-control-sm"
            id="phoneNo" [ngClass]="{ 'is-invalid': submitted && recipient['phoneNo'].errors }" />
          <div *ngIf="submitted && recipient['phoneNo'].errors" class="invalid-feedback">
            <div *ngIf="recipient['phoneNo'].errors['required']">Mobile No. is required</div>
          </div>
        </div>
        <div class="col-md-4">
          <label for="aadharNo" class="form-label">Aadhar No.<sup>*</sup></label>
          <input type="number" placeholder="Aadhar No." formControlName="aadharNo" class="form-control form-control-sm"
            id="aadharNo" [ngClass]="{ 'is-invalid': submitted && recipient['aadharNo'].errors }" />
          <div *ngIf="submitted && recipient['aadharNo'].errors" class="invalid-feedback">
            <div *ngIf="recipient['aadharNo'].errors['required']">Aadhar No. is required</div>
          </div>
        </div>
      </div>
    </div>
    <!--Fostac FORM Ends-->
    <!--HRA FORM Start -->
    <div class="modal-body" *ngIf="this.serviceType === 'HRA'">
      <div class="row">
        <div class="col-md-4">
          <label for="manager_name" class="form-label">Manager Name<sup>*</sup></label>
          <input type="text" id="manager_name" class="form-control form-control-sm" placeholder="Manager Name"
            formControlName="manager_name"
            [ngClass]="{ 'is-invalid': submitted && recipient['manager_name'].errors }" />
          <div *ngIf="submitted && recipient['manager_name'].errors" class="invalid-feedback">
            <div *ngIf="recipient['manager_name'].errors['required']">Manager Name is required</div>
          </div>
        </div>
        <div class="col-md-4">
          <label for="manager_contact" class="form-label">Manager Contact<sup>*</sup></label>
          <input type="tel" id="manager_contact" class="form-control form-control-sm" placeholder="Manager Contact"
            formControlName="manager_contact"
            [ngClass]="{ 'is-invalid': submitted && recipient['manager_contact'].errors }" />
          <div *ngIf="submitted && recipient['manager_contact'].errors" class="invalid-feedback">
            <div *ngIf="recipient['manager_contact'].errors['required']">Manager Contact is required</div>
          </div>
        </div>
        <div class="col-md-4">
          <label for="manager_email" class="form-label">Manager Email<sup>*</sup></label>
          <input type="email" id="manager_email" class="form-control form-control-sm" placeholder="Manager Email"
            formControlName="manager_email"
            [ngClass]="{ 'is-invalid': submitted && recipient['manager_email'].errors }" />
          <div *ngIf="submitted && recipient['manager_email'].errors" class="invalid-feedback">
            <div *ngIf="recipient['manager_email'].errors['required']">Manager Email is required</div>
            <div *ngIf="recipient['manager_email'].errors['email']">Invalid email format</div>
          </div>
        </div>
        <div class="col-md-4">
          <label for="address" class="form-label">Address<sup>*</sup></label>
          <input type="text" id="address" class="form-control form-control-sm" placeholder="Address"
            formControlName="address" [ngClass]="{ 'is-invalid': submitted && recipient['address'].errors }" />
          <div *ngIf="submitted && recipient['address'].errors" class="invalid-feedback">
            <div *ngIf="recipient['address'].errors['required']">Address is required</div>
          </div>
        </div>
        <div class="col-md-4">
          <label for="pincode" class="form-label">Pincode<sup>*</sup></label>
          <input type="number" id="pincode" class="form-control form-control-sm" placeholder="Pincode"
            formControlName="pincode" [ngClass]="{ 'is-invalid': submitted && recipient['pincode'].errors }" />
          <div *ngIf="submitted && recipient['pincode'].errors" class="invalid-feedback">
            <div *ngIf="recipient['pincode'].errors['required']">Pincode is required</div>
            <div *ngIf="recipient['pincode'].errors['pattern']">Pincode is invalid</div>
          </div>
        </div>
        <div class="col-md-4">
          <label for="kob" class="form-label">KOB (Kind of Business)<sup>*</sup></label>
          <select type="text" id="kob" class="form-select form-select-sm" placeholder="KOB (Kind of Business)"
            formControlName="kob" [ngClass]="{ 'is-invalid': submitted && recipient['kob'].errors }" >
            <option value="" selected disabled>Select the KOB</option>
            <option *ngFor="let kob of hraKobs" value="kob">{{kob}}</option>
          </select>
          <div *ngIf="submitted && recipient['kob'].errors" class="invalid-feedback">
            <div *ngIf="recipient['kob'].errors['required']">KOB is required</div>
          </div>
        </div>
        <div class="col-md-4">
          <label for="food_handlers" class="form-label">Number of Food Handlers<sup>*</sup></label>
          <input type="number" id="food_handlers" class="form-control form-control-sm"
            placeholder="Number of Food Handlers" formControlName="food_handlers"
            [ngClass]="{ 'is-invalid': submitted && recipient['food_handlers'].errors }" />
          <div *ngIf="submitted && recipient['food_handlers'].errors" class="invalid-feedback">
            <div *ngIf="recipient['food_handlers'].errors['required']">Number of Food Handlers is required</div>
          </div>
        </div>
        <div class="col-md-4">
          <label for="fostac_certificate" class="form-label">Fostac Certificate (jpeg or png)<sup>*</sup></label>
          <input type="file" id="fostac_certificate" class="form-control form-control-sm"
            placeholder="Fostac Certificate" formControlName="fostac_certificate"
            (change)="onImageChangeFromFile($event, 'fostacCerificate')"
            [ngClass]="{ 'is-invalid': submitted && recipient['fostac_certificate'].errors }" />
          <div *ngIf="submitted && recipient['fostac_certificate'].errors" class="invalid-feedback">
            <div *ngIf="recipient['fostac_certificate'].errors['required']">Fostac Certificate is required.(jpeg or png)
            </div>
            <div *ngIf="recipient['fostac_certificate'].errors['invalidFileType']">Invalid file type. Only .png, .jpg or
              .jpeg files
              are allowed.</div>
          </div>
        </div>
        <div class="col-md-4">
          <label for="foscos_license" class="form-label">Foscos License (jpeg or png)<sup>*</sup></label>
          <input type="file" id="foscos_license" class="form-control form-control-sm" placeholder="Foscos License"
            formControlName="foscos_license" (change)="onImageChangeFromFile($event, 'foscosLicense')"
            [ngClass]="{ 'is-invalid': submitted && recipient['foscos_license'].errors }" />
          <div *ngIf="submitted && recipient['foscos_license'].errors" class="invalid-feedback">
            <div *ngIf="recipient['foscos_license'].errors['required']">Foscos License is required.(jpeg or png)</div>
            <div *ngIf="recipient['foscos_license'].errors['invalidFileType']">Invalid file type. Only .png, .jpg or
              .jpeg
              files
              are allowed.</div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal-footer text-left">
      <div>
        <!-- <input type="file" style="display: none" #ExcelInput (change)="onExcelUpload($event)" /> -->
      </div>
      <button *ngIf="this.serviceType === 'fostac'" type="submit" class="btn btn-sm btn-outline-dark">Add
        Recipient</button>
      <button *ngIf="this.serviceType === 'foscos'" type="submit" class="btn btn-sm btn-outline-dark">Add Shop</button>

      <button *ngIf="this.serviceType === 'HRA'" type="submit" class="btn btn-sm btn-outline-dark">Add Shop</button>

    </div>
  </form>
  <form [ngClass]="uploadExcel===false?'d-none':''" (submit)="submitExcel()" [formGroup]="excelForm">
    <div class="modal-body">
      <div class="row">
        <div class="col-md-4">
          <label for="Excel" class="form-label">Upload Excel</label>
          <input type="file" id="Excel" formControlName="excel" class="form-control form-control-sm"
            (change)="onExcelUpload($event)" [ngClass]="{ 'is-invalid': excelSubmited && excelform['excel'].errors }">
        </div>
      </div>
      <div *ngIf="excelSubmited && excelform['excel'].errors" class="invalid-feedback">
        <div *ngIf="excelSubmited && excelform['excel'].errors['required']">Employee Image is required</div>
        <div *ngIf="excelSubmited && excelform['excel'].errors['invalidFileType']">Invalid file type Only .csv, .xlsx
          files are allowed.
        </div>
      </div>
    </div>
    <div class="modal-footer text-left">
      <button type="submit" class="btn btn-sm btn-outline-dark">Upload Excel</button>
    </div>
  </form>
</div>


<div class="row g-3 mb-4 mx-2 align-items-center justify-content-between"
  [ngClass]="recipientCount!==listCount?'':'mt-3'">
  <div class="col-auto">
    <h1 *ngIf="this.serviceType === 'fostac'" class="app-page-title mb-0">Recipient List
      <small>({{fboData.fboInfo.fbo_name}})</small>
    </h1>
    <h1 *ngIf="this.serviceType === 'foscos'" class="app-page-title mb-0">Shop List
      <small>({{fboData.fboInfo.fbo_name}})</small>
    </h1>
  </div>
  <div class="col-auto">
    <div class="page-utilities">
      <div class="row g-2 justify-content-start justify-content-md-end align-items-center">
        <div class="col-auto">
        </div>
        <div class="col-auto">
          <!-- <select class="form-select form-select-sm w-auto" [(ngModel)]="selectedFilter">
              <option value="byOwner">Search by owner</option>
              <option value="byName">Search by name</option>
              <option value="byContact">Search by contact</option>
              <option value="byDistrict">Search by district</option>
  
            </select> -->
        </div>
        <div class="col-auto">
          <!--  <fa-icon (click)="exportToCsv()" class="fa-2xl" style="margin: 7px 7px; color: #1957a9;" [icon]="faFileCsv"></fa-icon>
            <fa-icon class="fa-2xl" style="margin: 7px 7px; color: #c64115;" [icon]="faFilePdf"></fa-icon> -->
        </div>
      </div><!--//row-->
    </div><!--//table-utilities-->
  </div><!--//col-auto-->
</div><!--//row-->

<app-recipient-list [serviceType]="serviceType" [recipientData]="recipientData" [shopData]="shopData"
  [isfostac]="isfostac" [showPagination]="showPagination"></app-recipient-list>

<!--<ngx-loading [show]="loading"></ngx-loading>-->

<!-- <div class="tab-content mx-3" id="orders-table-tab-content">
  <div class="tab-pane fade show active" id="orders-all" role="tabpanel" aria-labelledby="orders-all-tab">
    <div class="app-card app-card-orders-table shadow-sm mb-5">
      <div class="app-card-body">
        <div class="table-responsive">
          <table class="table app-table-hover table-striped mb-0 text-left" id="data-to-export">
            <thead>
              <tr *ngIf="this.serviceType == 'fostac'">
                <th class="cell">S.No</th>
                <th class="cell">Recipient Name</th>
                <th class="cell">Phone</th>
                <th class="cell">Aadhar No.</th>
              </tr>
              <tr *ngIf="this.serviceType == 'foscos'">
                <th class="cell">S.No</th>
                <th class="cell">Operator Name</th>
                <th class="cell">Address</th>
                <th class="cell">Pincode</th>
                <th class="cell">Electricity Bill</th>
                <th class="cell">Owner Photo</th>
                <th class="cell">Shop Photo</th>
              </tr>
            </thead>
            <tbody *ngIf="recipientData?.length>0 && serviceType === 'fostac'"> -->
<!-- <tr *ngFor="let recipient of recipientData | paginate: { itemsPerPage: 10, currentPage: pageNumber }"> -->
<!-- <tr
                *ngFor="let recipients of recipientData | paginate: { itemsPerPage: 5, currentPage: pageNumber }; let sr = index">
                <td *ngIf="isfostac" class="cell"><span class="truncate">{{sr+1}}</span></td>
                <td *ngIf="isfostac" class="cell"><span class="truncate">{{recipients.name}}</span></td>
                <td *ngIf="isfostac" class="cell"><span class="truncate">{{recipients.phoneNo}}</span></td>
                <td *ngIf="isfostac" class="cell"><span class="truncate">{{recipients.aadharNo}}</span></td>
              </tr>
            </tbody>
            <tbody *ngIf="shopData?.length>0 && serviceType === 'foscos'">
              <tr
                *ngFor="let shops of shopData | paginate: { itemsPerPage: 5, currentPage: pageNumber }; let sr = index">
                <td *ngIf="!isfostac" class="cell"><span class="truncate">{{sr+1}}</span></td>
                <td *ngIf="!isfostac" class="cell"><span class="truncate">{{shops.operatorName}}</span></td>
                <td *ngIf="!isfostac" class="cell"><span class="truncate">{{shops.address}}</span></td>
                <td *ngIf="!isfostac" class="cell"><span class="truncate">{{shops.pincode}}</span></td> -->
<!-- <td *ngIf="!isfostac" class="cell"><span class="truncate">{{shops.eBill}}</span></td> -->
<!-- <td *ngIf="!isfostac" class="cell">
                  <span class="truncate"> -->
<!-- <a [href]="shops.ebillImage" [download]="shops.operatorName + '_ebill.jpg'" target="_blank">
                      <fa-icon *ngIf="shops.eBillImage" class="fa-2xl text-success cursor-pointer"
                        [icon]="faFile"></fa-icon>
                    </a>
                    <label [for]="'uploadEbill' + sr"> <fa-icon *ngIf="!shops.eBillImage" class="fa-2xl text-danger"
                        [icon]="faFile"></fa-icon></label>
                    <input type="file" [id]="'uploadEbill' + sr" (change)="uploadEbill($event, shops._id)" hidden>
                  </span>
                </td>

                <td>
                  <span class="truncate">
                    <a [href]="shops.ownerPhoto" [download]="shops.operatorName+ '_ownerPhoto.jpg'" target="_blank">
                      <fa-icon *ngIf="shops.ownerPhoto" class="fa-xl text-success cursor-pointer"
                        [icon]="faFile"></fa-icon>
                    </a>
                    <label [for]="'uploadOwnerPhoto' + sr"> <fa-icon *ngIf="!shops.ownerPhoto" class="fa-xl text-danger"
                        [icon]="faFile"></fa-icon></label>
                    <input type="file" [id]="'uploadOwnerPhoto' + sr" (change)="uploadOwnerPhoto($event, shops._id)"
                      hidden>
                  </span>
                </td>

                <td>
                  <span class="truncate"> 
                    
                    <a [href]="shops.shopPhoto" [download]="shops.operatorName + '_shopPhoto.jpg'" target="_blank">
                      <fa-icon *ngIf="shops.shopPhoto" class="fa-xl text-success cursor-pointer"
                        [icon]="faFile"></fa-icon>
                    </a>
                    <label [for]="'uploadShopPhoto' + sr"> <fa-icon *ngIf="!shops.shopPhoto" class="fa-xl text-danger"
                        [icon]="faFile"></fa-icon></label>
                    <input type="file" [id]="'uploadShopPhoto' + sr" (change)="uploadShopPhoto($event, shops._id)"
                      hidden>
                  </span>
                </td>
              </tr>
            </tbody>
            <tbody
              *ngIf="(!showPagination && serviceType === 'fostac') || (!showPagination && serviceType === 'foscos')">
              <tr>
                <td colspan="15" class="text-center fw-bold cell">----------------- No Data Found ----------------</td>
              </tr>
            </tbody>
          </table>
        </div>

      </div>
    </div>
    <div *ngIf="showPagination===true" class="d-flex justify-content-end">
      <pagination-controls previousLabel="Prev" nextLabel="Next"
        (pageChange)="onTableDataChange($event)"></pagination-controls>
    </div>
  </div>
</div> -->