.download-link{
    color: black;
    transition: all 0,4s ease-in-out;
    padding-left: 10px;
}

.download-link:hover{
    // border-color: #15a362;
    color: blue;
}

.e-bill-modal-back-blur{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00000085;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    align-items: flex-start;
}

.e-bill{
    width: 40%;
    height: 70vh;
}

.e-bill-body{
    background-color: #fff;
    border-radius:0 0 10px 10px;
    max-height: 85vh;
    overflow-y: scroll;
    text-align: right;
}

.e-bill-body img{
    margin-top: 10px;
    width: 100%;
    object-fit: cover;
}
 
//we want e bill size to be diffrent in small screen size
@media (max-width:768px) {
    .e-bill{
        width: 80%;
    }

    .e-bill-body{
        max-height: 515px;
    }
}

.title{
    font-size:11px; 
    font-weight: bold; 
    color:#5d6778;
    font-family: inherit;
}
.data{
    font-size:11px; 
    color:#5d6778;
    font-family: inherit;
}

.download-link{
    color: black;
    transition: all 0,4s ease-in-out;
    padding-bottom: 20px;
}

.download-link:hover{
    // border-color: #15a362;
    color: #15a362;
}

.e-bill-modal-back-blur{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00000085;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    align-items: flex-start;
}

.e-bill{
    width: 40%;
    height: 70vh;
}

.e-bill-body{
    background-color: #fff;
    border-radius:0 0 10px 10px;
    max-height: 85vh;
    overflow-y: scroll;
}

.e-bill-body img{
    width: 100%;
    object-fit: cover;
}
 
//we want e bill size to be diffrent in small screen size
@media (max-width:768px) {
    .e-bill{
        width: 80%;
    }

    .e-bill-body{
        max-height: 515px;
    }
}