<div class="row">
    <div class="col-12 col-lg-6 my-2"recto *ngIf="topSalesPersons">
        <div class="app-card app-card-stats-table h-100 shadow-sm">
            <div class="app-card-header p-3">
                <div class="row justify-content-between align-items-center">
                    <div class="col-auto">
                        <h4 class="app-card-title">Top Sales Persons of {{thisMonth}}</h4>
                    </div>
                </div>
            </div>
            <div class="app-card-body p-3 p-lg-4">
                <div class="table-responsive">
                    <table class="table table-borderless mb-0">
                        <thead>
                            <tr>
                                <th class="meta">Name</th>
                                <th class="meta stat-cell">Total Sales Ammount</th>
                                <th class="meta stat-cell">Total Sales Count</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let person of topSalesPersons">
                                <td class="row-name cursor-pointer">{{person.name}}</td>
                                <td class="stat-cell text-capitalize">{{person.salesAmmount | currency: 'INR'}}</td>
                                <td class="stat-cell">{{person.salesCount}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-lg-6 my-2" *ngIf="topProducts">
        <div class="app-card app-card-stats-table h-100 shadow-sm">
            <div class="app-card-header p-3">
                <div class="row justify-content-between align-items-center">
                    <div class="col-auto">
                        <h4 class="app-card-title">Top Products of {{thisMonth}}</h4>
                    </div>
                </div>
            </div>
            <div class="app-card-body p-3 p-lg-4">
                <div class="table-responsive">
                    <table class="table table-borderless mb-0">
                        <thead>
                            <tr>
                                <th class="meta cursor-pointer">Product</th>
                                <th class="meta stat-cell">Total Sale Ammount</th>
                                <th class="meta stat-cell">Total Sales Count</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let product of topProducts">
                                <td class="row-name">{{product.name}}</td>
                                <td class="stat-cell">{{product.salesAmmount | currency: 'INR'}}</td>
                                <td class="stat-cell">{{product.salesCount}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-lg-6 my-2"recto *ngIf="empUnderManagerSale">
        <div class="app-card app-card-stats-table h-100 shadow-sm">
            <div class="app-card-header p-3">
                <div class="row justify-content-between align-items-center">
                    <div class="col-auto">
                        <h4 class="app-card-title">Your Team Sales of {{thisMonth}}</h4>
                    </div>
                </div>
            </div>
            <div class="app-card-body p-3 p-lg-4">
                <div class="table-responsive">
                    <table class="table table-borderless mb-0">
                        <thead>
                            <tr>
                                <th class="meta cursor-pointer">Name</th>
                                <th class="meta stat-cell">Total Sales Ammount</th>
                                <th class="meta stat-cell">Total Sales Count</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let person of empUnderManagerSale">
                                <td class="row-name">{{person.name}}</td>
                                <td class="stat-cell">{{person.salesAmmount | currency: 'INR'}}</td>
                                <td class="stat-cell">{{person.salesCount}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>