.stat-cell {
    text-align: center;
}

.row-name {
    color: #128c54 !important;
}

.app-card-stats-table .meta {
    color: #828d9f;
    font-weight: 500;
    font-size: .875rem
}

.app-card .app-card-title {
    font-size: 1.125rem;
    margin-bottom: 0
}

.bottom{
    padding: 0;
    margin-top: 10px !important;
}