<!-- Navigation-->

<nav class="navbar navbar-expand-lg navbar-light" id="mainNav"
    style="background: linear-gradient(to left, #00173c, #011c4d); padding: 0; border-bottom: 0.5px solid #112f5d;">
    <div class="web-header-logo">
        <img class="" src="assets/images/landing_img/baharat-logo.png" width="200px">
    </div>
    <div class="container">
        <div id="sub-container">
            <!-- <a class="navbar-brand" [routerLink]="['/main']">
      <img class="logo" src="../../../assets/images/logo.png">
   </a> -->
            <!-- <a class="navbar-brand" [routerLink]="['/main']">
      <img class="" src="" height="50px">
   </a> -->
            <a class="navbar-brand">
                <img class="" src="https://www.nsws.gov.in/s3fs/2022-11/State%20Approval.svg" height="50px">
            </a>
            <div class="text" style="display: inline; color: white; font-size:x-small;">
                <h6 style="font-size: medium; color: #FF9933;">States</h6>
                Under National <span style="color: #138808;">Single Window</span>
            </div>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto py-4 py-lg-0">
                    <li class="nav-item navLinks">
                        <a class="nav-link px-lg-3 py-3 py-lg-4">
                            <fa-icon class="fa-2x fa-beat" [icon]="faLocationDot" style="color: #9d151d;"></fa-icon>
                            Kender
                        </a>
                        <!-- <a class="nav-link px-lg-3 py-3 py-lg-4" [routerLink]="isToken ? ['/home'] : ['/']">
                  <fa-icon class="fa-2x" [icon]="faHome"></fa-icon>
                  Home
               </a> -->
                    </li>
                    <li class="nav-item navLinks">
                        <a class="nav-link px-lg-3 py-3 py-lg-4" (click)="openModal()">
                            <fa-icon class="fa-2x fa-beat" [icon]="faBuilding" style="color: #9d151d;"></fa-icon>
                            Company
                        </a>
                        <!-- <a class="nav-link px-lg-3 py-3 py-lg-4" href="#about">
                  <fa-icon class="fa-2x" [icon]="faCircleInfo"></fa-icon>
                  About us
              </a> -->
                    </li>
                    <!-- <li *ngIf="!isToken" class="nav-item navLinks">
              
              <a class="nav-link px-lg-3 py-3 py-lg-4" (click)="openModal()">
                  <fa-icon class="fa-2x" [icon]="faSignIn"></fa-icon>
                  Login
              </a>
          </li> -->
                    <li class="nav-item navLinks">
                        <a class="nav-link px-lg-3 py-3 py-lg-4">
                            <fa-icon class="fa-2x fa-beat" [icon]="faPeopleGroup" style="color: #9d151d;"></fa-icon>
                            Consumer
                        </a>
                        <!-- <a class="nav-link px-lg-3 py-3 py-lg-4" href="#contact">
                  <fa-icon class="fa-2x" [icon]="faPhone"></fa-icon>
                  Contact Us
              </a> -->
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<div class="ham" (click)="isMobileNav=!isMobileNav">
    <span [ngClass]="{'clockwise-rotate': isMobileNav}"></span>
    <span [ngClass]="{'hide-span': isMobileNav}"></span>
    <span [ngClass]="{'anticlockwise-rotate': isMobileNav}"></span>
</div>

<div class="backdrop-mobile" [ngClass]="{'active-backdrop':isMobileNav}">

    <div class="mobile-nav" [ngClass]="{'mobile-active-nav':isMobileNav}">
        <ul id="menu">
            <li>
                <a class="">
                    <fa-icon class="fa-x fa-beat" [icon]="faLocationDot" style="color: #9d151d;"></fa-icon>
                    Kender
                </a>
            </li>

            <li>
                <a class="" (click)="openModal()">
                    <fa-icon class="fa-x fa-beat" [icon]="faBuilding" style="color: #9d151d;"></fa-icon>
                    Company
                </a>
            </li>

            <li>
                <a class="">
                    <fa-icon class="fa-x fa-beat" [icon]="faPeopleGroup" style="color: #9d151d;"></fa-icon>
                    Consumer
                </a>
            </li>
        </ul>
    </div>
</div>
<!-- Page Header-->
<!-- rgba(2, 27, 77, 0.87), #010e28) -->
<header class="" id=""
    style="position: relative; background: linear-gradient(to left, rgba(17, 47, 106, 0.467), #5674b04a); z-index: 10;">
    <div class="" style="width: 100%; top: 0; position: relative; z-index: 0;">
        <div class=""
            style="position: absolute; z-index: 11; width: 100%; height: 100%;background: linear-gradient(to left, rgba(17, 47, 106, 0.467), #5674b04a);">
        </div>
        <video #backgroundVidRef [autoplay]="true" [muted]="true" [loop]="true" preload="auto" style="width: 100%;">
            <source src="assets/images/landing_img/map26.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </div>
    <div class="head-content">
        <div class="" style="width: 35%; color: white;">
            <h1 class="head-text">
                Connecting <span style="color: #FF9933; font-weight: bold;">People</span> with the <span
                    style="color: #138808; font-weight: bold; line-height: 1;">Government</span>
            </h1>
            <br>
            <h4 class="h4-text connecttest">
                <span style="
          color: #F8BD39;
          border-bottom: 1px dashed #F8BD39;
      ">Connecting </span>15000+ SMEs
            </h4>
        </div>
        <div class="onboard-sec">
            <div class="web-logo">
                <img class="web-img" src="assets/images/landing_img/landing-page-logo8.png" width="150">
            </div>
            <button class="onboard-btn" (click)="openOnboardModal()">ONBOARD</button>
        </div>
    </div>

    <div class="py-4 my-4 w-100 d-flex justify-content-center"
        style="background-color:rgba(255, 255, 255, 0.0); height: 100px; position: absolute; bottom: 0px;">
        <!-- <div class="d-flex justify-content-around w-75 align-items-center h-100" style="position: absolute; top: 0;">
      <a class="pe-auto">
          <div class="icon h-75 gap-1 w-25 justify-content-end d-flex flex-column-reverse align-items-center">
              <span style="color: white; font-size: 1.2rem;">Chapter</span>
              <fa-icon class="fa-3x fa-beat" [icon]="faLocationDot" style="color: #9d151d;"></fa-icon>
          </div>
      </a>
      <a class="pe-auto" (click)="openModal()">
          <div class="icon h-75 w-25 gap-1 justify-content-end d-flex flex-column-reverse align-items-center">
              <span style="color: white; font-size: 1.2rem;">Company </span>
              <fa-icon class="fa-3x fa-beat" [icon]="faBuilding" style="color: #9d151d;"></fa-icon>
          </div>
      </a>
      <a class="pe-auto">
          <div class="icon h-75 w-25  gap-1 justify-content-end d-flex flex-column-reverse align-items-center">
              <span style="color: white; font-size: 1.2rem;">Consumer </span>
              <fa-icon class="fa-3x fa-beat" [icon]="faPeopleGroup" style="color: #9d151d;"></fa-icon>
          </div>
      </a>
  </div> -->
    </div>
</header>
<br>
<!-- Main Content-->
<div class="container px-4 px-lg-5" id="about" style="text-align: justify;">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            <!-- Post preview-->
            <div class="post-preview">
                <h2 class="post-title">Privacy Policy</h2>
            </div>
            <div>
                <p>At Connect Bharat a Subsidiary Entity of Industrial Incubation of Enterpreneurship And Skill Training Federation, we are committed to protecting the privacy and confidentiality of our users'
                    personal information. This Privacy Policy outlines how we collect, use, and safeguard the
                    information you provide to us through our website and services. By accessing our website and using
                    our services, you consent to the collection and use of your information as described in this Privacy
                    Policy.</p>

                    <p>  <b>Information Collection</b><br>
                        We may collect personal information from users when they register on our website, fill out a
                        form, or interact with our services. The types of personal information we may collect include
                        but are not limited to:

                        Name
                        Email address
                        Contact information
                        Business details
                        Login credentials</p>

                    

                    <p><b>Use of Information</b><br>
                        We may use the information we collect from users for the following purposes:

                        To personalize user experience and deliver tailored content and services
                        To improve our website and services based on user feedback and usage patterns
                        To process transactions and provide customer support
                        To send periodic emails regarding updates, promotions, and relevant information</p>

                    

                    <p><b>Information Sharing</b><br>
                        Connect Bharat a Subsidiary Entity of IIEST Federation does not sell, trade, or rent users' personal information to third parties. We
                        may share your information with trusted service providers who assist us in operating our website
                        and providing services, but only to the extent necessary to fulfill their responsibilities.

                        We may also disclose your information when required by law or to protect our rights, property,
                        or safety, or that of others.</p>

               

                    <p>     <b>Data Security</b><br>
                        We implement appropriate security measures to protect against unauthorized access, alteration,
                        disclosure, or destruction of users' personal information stored on our website. However, no
                        data transmission over the internet or electronic storage method is 100% secure, and we cannot
                        guarantee absolute security.</p>

                    

                    <p><b>Changes to this Privacy Policy</b><br>
                        Connect Bharat a Subsidiary Entity of IIEST Federation reserves the right to update or revise this Privacy Policy at any time. Any
                        changes will be effective immediately upon posting the updated Privacy Policy on our website. We
                        encourage users to review this Privacy Policy periodically for any changes.</p>


                    <p>By using our website and services, you acknowledge that you have read, understood, and agree to
                        be bound by this Privacy Policy. If you do not agree with any part of this Privacy Policy,
                        please refrain from using our website and services.</p>
            </div>
            <!-- Divider-->
        </div>
    </div>
</div>
<!-- <div class="container px-4 px-lg-5 position-relative" id="contact"> -->
<!--   <div class="row gx-4 gx-lg-5 justify-content-center">
  <div class="col-md-10 col-lg-8 col-xl-7"> -->
<!-- Post preview-->
<!-- <div class="post-preview mb-4">
          <h2 class="post-title">Contact us</h2>
      </div> -->
<!-- Divider-->
<!-- <hr class="my-4" />
  </div>
</div>-->
<!-- </div>  -->
<!-- Footer-->
<footer class="border-top">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <ul class="list-inline text-center">
                    <li class="list-inline-item">
                        <a href="">
                            <span class="fa-stack fa-lg">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="">
                            <span class="fa-stack fa-lg">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-facebook-f fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="">
                            <span class="fa-stack fa-lg">
                                <i class="fas fa-circle fa-stack-2x"></i>
                                <i class="fab fa-github fa-stack-1x fa-inverse"> </i>
                            </span>
                        </a>
                    </li>
                </ul>
                <div class="footer-nav">
                    <div class="social-media-links">
                        <ul class="social-link-list">
                            <li class="social-link">
                                <a href="https://www.instagram.com/iiest_federation/" target="_blank">
                                    <img src="assets/images/icons/social-media/insta.png" alt="Instagram">
                                    <p>Instagram</p>
                                    </a>
                            </li>
                            <li class="social-link">
                                
                                <a href="https://www.facebook.com/iiest.federation/about" target="_blank">
                                    <img src="assets/images/icons/social-media/facebook.png" alt="Facebook">
                                   <p>Facebook</p> 
                                </a>
                            </li>
                            <li class="social-link">
                                <a href="https://www.linkedin.com/in/iiest-federation9599195100/" target="_blank">
                                    <img src="assets/images/icons/social-media/linkedin.png" alt="LinkedIn">
                                    <p>LinkedIn</p>
                                </a>
                            </li>
                            <li class="social-link">
                                <a href="https://www.youtube.com/@Contact_Bharat" target="_blank">
                                    <img src="assets/images/icons/social-media/youtube.png" alt="Youtube">
                                    <p>Youtube</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <ul class="footer-nav-bar"
                        style="display: flex; justify-content: center; margin-top: 20px; margin-bottom: 20px;">
                        <li class="nav-link active"><a style="color: #157347;" (click)="routeTo('home')">Home </a> |
                        </li>
                        <li class="nav-link"><a style="color: #157347" (click)="routeTo('terms-and-conditions')">Terms &
                                Conditions </a> | </li>
                        <li class="nav-link"><a style="color: black">Privacy Policy </a> | </li>
                        <li class="nav-link"><a style="color: #157347" (click)="routeTo('refund-policy')">Refund Policy
                            </a> </li>
                    </ul>
                </div>
                <div class="small text-center text-muted fst-italic">Copyright &copy; 2024 All Rights Reserved By Connect Bharat
                </div>
            </div>
        </div>
    </div>
</footer>