.title{
    font-size:11px; 
    font-weight: bold; 
    color:#5d6778;
    font-family: inherit;
}
.data{
    font-size:11px; 
    color:#5d6778;
    font-family: inherit;
}
.employee-image{
    height: 200px;
    width: 200px;
    margin: 5px;
    border-radius: 10px;
    object-position: center;
    background-color: #e3e6e9;
}

@media (max-width: 992px) {
    .employee-image {
        height: 100px;
        width: 100px;
    }
    .title, .data{
        font-size:11px;
        margin: 1px;
    }
}

@media (max-width: 768px) {
    .profile-sec, .personalInfo-sec, .empInfo-sec {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .title, .data{
        font-size:11px; 
    }
}