.title{
    font-size:11px; 
    font-weight: bold; 
    color:#5d6778;
    font-family: inherit;
}
.data{
    font-size:11px; 
    color:#5d6778;
    font-family: inherit;
}
.employee-image{
    height: 200px;
    width: 200px;
    margin: 5px;
    border-radius: 10px;
    object-position: center;
    background-color: #e3e6e9;
}