<div *ngIf="department === 'Sales Department' || department === 'IT Department' ||department === 'PR Department'">
    <div class="container-fluid px-0" *ngIf="salesData">
        <div class="row g-4 mb-4 px-0">

            <div class="col">
                <div class="app-card app-card-stat shadow-sm h-100 sales-card">
                    <div class="app-card-body p-3 p-lg-4">
                        <h6 class="stats-type mb-1">Today's Revenue</h6>
                        <div class="">{{(salesData.today[0]?salesData.today[0].totalProcessingAmount:0) | inrAmount}}</div>
                        <div class="stats-figure d-flex flex-row justify-content-between">
                            <div class="text-xs">
                                <span class="text-success">Approved</span><br>{{(salesData.today[0]?salesData.today[0].approved:0) | inrAmount}}
                            </div>
                            <div class="text-xs">
                                <span class="text-danger">Pending</span><br>{{(salesData.today[0]?salesData.today[0].pending:0) | inrAmount}}
                            </div>
                        </div>
                        <div class="stats-meta"></div>
                    </div><!--//app-card-body-->
                </div><!--//app-card-->
            </div><!--//col-->
            <div class="col">
                <div class="app-card app-card-stat shadow-sm h-100 sales-card">
                    <div class="app-card-body p-3 p-lg-4">
                        <h6 class="stats-type mb-1">This Week Revenue</h6>
                        <div class="">{{(salesData.this_week[0]?salesData.this_week[0].totalProcessingAmount:0) | inrAmount}}</div>
                        <div class="stats-figure d-flex flex-row justify-content-between">
                            <div class="text-xs">
                                <span class="text-success">Approved</span><br>{{(salesData.this_week[0]?salesData.this_week[0].approved:0) | inrAmount}}
                            </div>
                            <div class="text-xs">
                                <span class="text-danger">Pending</span><br>{{(salesData.this_week[0]?salesData.this_week[0].pending:0) | inrAmount}}
                            </div>
                        </div>
                        <div class="stats-meta"></div>
                    </div><!--//app-card-body-->
                </div><!--//app-card-->
            </div><!--//col-->
            <div class="col">
                <div class="app-card app-card-stat shadow-sm h-100 sales-card">
                    <div class="app-card-body p-3 p-lg-4">
                        <h6 class="stats-type mb-1">{{thisMonth}} Month Revenue</h6>
                        <div class="">{{(salesData.this_month[0]?salesData.this_month[0].totalProcessingAmount:0) | inrAmount}}</div>
                        <div class="stats-figure d-flex flex-row justify-content-between">
                            <div class="text-xs">
                                <span class="text-success">Approved</span><br>{{(salesData.this_month[0]?salesData.this_month[0].approved:0) | inrAmount}}
                            </div>
                            <div class="text-xs">
                                <span class="text-danger">Pending</span><br>{{(salesData.this_month[0]?salesData.this_month[0].pending:0) | inrAmount}}
                            </div>
                        </div>
                        <div class="stats-meta"></div>
                    </div><!--//app-card-body-->
                </div><!--//app-card-->
            </div><!--//col-->
            <div class="col">
                <div class="app-card app-card-stat shadow-sm h-100 sales-card">
                    <div class="app-card-body p-3 p-lg-4">
                        <h6 class="stats-type mb-1">{{prevMonth}} Month Revenue</h6>
                        <div class="">{{(salesData.prev_month[0]?salesData.prev_month[0].totalProcessingAmount:0) | inrAmount}}</div>
                        <div class="stats-figure d-flex flex-row justify-content-between">
                            <div class="text-xs">
                                <span class="text-success">Approved</span><br>{{(salesData.prev_month[0]?salesData.prev_month[0].approved:0) | inrAmount}}
                            </div>
                            <div class="text-xs">
                                <span class="text-danger">Pending</span><br>{{(salesData.prev_month[0]?salesData.prev_month[0].pending:0) | inrAmount}}
                            </div>
                        </div>
                        <div class="stats-meta"></div>
                    </div><!--//app-card-body-->
                </div><!--//app-card-->
            </div><!--//col-->
            <div class="col">
                <div class="app-card app-card-stat shadow-sm h-100 sales-card">
                    <div class="app-card-body p-3 p-lg-4">
                        <h6 class="stats-type mb-1">This Year Revenue</h6>
                        <div class="">{{(salesData.this_year[0]?salesData.this_year[0].totalProcessingAmount:0) | inrAmount}}</div>
                        <div class="stats-figure d-flex flex-row justify-content-between">
                            <div class="text-xs">
                                <span class="text-success">Approved</span><br>{{(salesData.this_year[0]?salesData.this_year[0].approved:0) | inrAmount}}
                            </div>
                            <div class="text-xs">
                                <span class="text-danger">Pending</span><br>{{(salesData.this_year[0]?salesData.this_year[0].pending:0) | inrAmount}}
                            </div>
                        </div>
                        <div class="stats-meta"></div>
                    </div><!--//app-card-body-->
                </div><!--//app-card-->
            </div><!--//col-->
            <div class="col">
                <div class="app-card app-card-stat shadow-sm h-100 sales-card">
                    <div class="app-card-body p-3 p-lg-4">
                        <h6 class="stats-type mb-1">Total Revenue</h6>
                        <div class="">{{(salesData.till_now[0]?salesData.till_now[0].totalProcessingAmount:0) | inrAmount}}</div>
                        <div class="stats-meta"></div>
                    </div><!--//app-card-body-->
                </div><!--//app-card-->
            </div><!--//col-->
        </div>
    </div>
</div>

<!-- <div *ngIf="department === 'PR Department'">

   <b><h6>Ticket Verifications</h6></b> 

    <div class="container-fluid px-0" *ngIf="ticketData">
        <div class="row g-4 mb-4 px-0">

            <div class="col">
                <div class="app-card app-card-stat shadow-sm h-100 sales-card">
                    <div class="app-card-body p-3 p-lg-4">
                        <h6 class="stats-type mb-1">Today's Tickets</h6>
                        <div class="">{{ticketData.today[0]?ticketData.today[0].totalTickets:0}}</div>
                        <div class="stats-figure d-flex flex-row justify-content-between">
                            <div class="text-xs">
                                <span class="text-success">Verified</span><br>{{ticketData.today[0]?ticketData.today[0].completed:0}}
                            </div>
                            <div class="text-xs">
                                <span class="text-danger">Pending</span><br>{{ticketData.today[0]?ticketData.today[0].pending:0}}
                            </div>
                        </div>
                        <div class="stats-meta"></div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="app-card app-card-stat shadow-sm h-100 sales-card">
                    <div class="app-card-body p-3 p-lg-4">
                        <h6 class="stats-type mb-1">This Week Tickets</h6>
                        <div class="">{{ticketData.this_week[0]?ticketData.this_week[0].totalTickets:0}}</div>
                        <div class="stats-figure d-flex flex-row justify-content-between">
                            <div class="text-xs">
                                <span class="text-success">Verified</span><br>{{ticketData.this_week[0]?ticketData.this_week[0].completed:0}}
                            </div>
                            <div class="text-xs">
                                <span class="text-danger">Pending</span><br>{{ticketData.this_week[0]?ticketData.this_week[0].pending:0}}
                            </div>
                        </div>
                        <div class="stats-meta"></div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="app-card app-card-stat shadow-sm h-100 sales-card">
                    <div class="app-card-body p-3 p-lg-4">
                        <h6 class="stats-type mb-1">{{thisMonth}} Month Tickets</h6>
                        <div class="">{{ticketData.this_month[0]?ticketData.this_month[0].totalTickets:0}}</div>
                        <div class="stats-figure d-flex flex-row justify-content-between">
                            <div class="text-xs">
                                <span class="text-success">Verified</span><br>{{ticketData.this_month[0]?ticketData.this_month[0].completed:0}}
                            </div>
                            <div class="text-xs">
                                <span class="text-danger">Pending</span><br>{{ticketData.this_month[0]?ticketData.this_month[0].pending:0}}
                            </div>
                        </div>
                        <div class="stats-meta"></div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="app-card app-card-stat shadow-sm h-100 sales-card">
                    <div class="app-card-body p-3 p-lg-4">
                        <h6 class="stats-type mb-1">{{prevMonth}} Month Tickets</h6>
                        <div class="">{{ticketData.prev_month[0]?ticketData.prev_month[0].totalTickets:0}}</div>
                        <div class="stats-figure d-flex flex-row justify-content-between">
                            <div class="text-xs">
                                <span class="text-success">Verified</span><br>{{ticketData.prev_month[0]?ticketData.prev_month[0].completed:0}}
                            </div>
                            <div class="text-xs">
                                <span class="text-danger">Pending</span><br>{{ticketData.prev_month[0]?ticketData.prev_month[0].pending:0}}
                            </div>
                        </div>
                        <div class="stats-meta"></div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="app-card app-card-stat shadow-sm h-100 sales-card">
                    <div class="app-card-body p-3 p-lg-4">
                        <h6 class="stats-type mb-1">This Year Tickets</h6>
                        <div class="">{{ticketData.this_year[0]?ticketData.this_year[0].totalTickets:0}}</div>
                        <div class="stats-figure d-flex flex-row justify-content-between">
                            <div class="text-xs">
                                <span class="text-success">Verified</span><br>{{ticketData.this_year[0]?ticketData.this_year[0].completed:0}}
                            </div>
                            <div class="text-xs">
                                <span class="text-danger">Pending</span><br>{{ticketData.this_year[0]?ticketData.this_year[0].pending:0}}
                            </div>
                        </div>
                        <div class="stats-meta"></div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="app-card app-card-stat shadow-sm h-100 sales-card">
                    <div class="app-card-body p-3 p-lg-4">
                        <h6 class="stats-type mb-1">Total Tickets</h6>
                        <div class="">{{ticketData.till_now[0]?ticketData.till_now[0].totalTickets:0}}</div>
                        <div class="stats-figure d-flex flex-row justify-content-between">
                            <div class="text-xs">
                                <span class="text-success">Verified</span><br>{{ticketData.till_now[0]?ticketData.till_now[0].completed:0}}
                            </div>
                            <div class="text-xs">
                                <span class="text-danger">Pending</span><br>{{ticketData.till_now[0]?ticketData.till_now[0].pending:0}}
                            </div>
                        </div>
                        <div class="stats-meta"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->

<!-- this section will be showed only to hr department -->
<div class="g-2 mb-4 department-card-container row"
    *ngIf="department==='HR Department' || department === 'IT Department' ">
    <div *ngFor="let obj of departmentAndCount" class="border-0" data-toggle="tooltip"
        data-bs-custom-class="department-tooltip" data-placement="bottom" [title]="obj.department">
        <div class="app-card app-card-stat shadow-sm justify-content-center department-card cursor-pointer"
            (click)="viewDepartmentData(obj.department)">
            <div class="app-card-body p-2 p-lg-3">
                <div class="bgimage">
                    <img [src]="'assets/images/icons/departments/'+changeNameFormat(obj.department)+'.png'"
                        class="icons-element" alt="">
                </div>

                <div class="">
                    <h4 class="stats-type mb-1">{{obj.department}}</h4>
                </div>
                <div class="stats-figure">{{obj.count}}</div>
                <div class="d-flex flex-row justify-content-between">
                    <div class="text-xs">
                        <span class="text-success">Active</span><br>{{obj.active}}
                    </div>
                    <div class="text-xs">
                        <span class="text-danger">Inactive</span><br>{{obj.inactive}}
                    </div>
                </div>

            </div><!--//app-card-body-->
        </div><!--//app-card-->
    </div><!--//col-->
</div>