<div *ngIf="department === 'Sales Department' || department === 'IT Department'">
    <div class="container-fluid px-0" *ngIf="updatedSales">
        <div class="row g-4 mb-4 px-0">
            <div class="col">
                <div class="app-card app-card-stat shadow-sm h-100 sales-card">
                    <div class="app-card-body p-3 p-lg-4">
                        <h6 class="stats-type mb-1">Today&nbsp;Sales</h6>
                        <div class="">{{updatedSales[0].today.totalSales | inrAmount}}</div>
                        <div class="stats-figure d-flex flex-row justify-content-between">
                            <div class="text-xs">
                                <span class="text-success">Approved</span><br>{{updatedSales[0].today.approvedSales |
                                inrAmount}}
                            </div>
                            <div class="text-xs">
                                <span class="text-danger">Pending</span><br>{{updatedSales[0].today.pendingSales |
                                inrAmount}}
                            </div>
                        </div>
                        <div class="stats-meta text-success">
                        </div>
                    </div><!--//app-card-body-->
                </div><!--//app-card-->
            </div><!--//col-->

            <div class="col">
                <div class="app-card app-card-stat shadow-sm h-100 sales-card">
                    <div class="app-card-body p-3 p-lg-4">
                        <h6 class="stats-type mb-1">This&nbsp;Week&nbsp;Sales</h6>
                        <div class="">{{updatedSales[0].this_Week.totalSales | inrAmount}}</div>
                        <div class="stats-figure d-flex flex-row justify-content-between">
                            <div class="text-xs">
                                <span class="text-success">Approved</span><br>{{updatedSales[0].this_Week.approvedSales
                                | inrAmount}}
                            </div>
                            <div class="text-xs">
                                <span class="text-danger">Pending</span><br>{{updatedSales[0].this_Week.pendingSales |
                                inrAmount}}
                            </div>
                        </div>
                        <div class="stats-meta text-success">
                        </div>
                    </div><!--//app-card-body-->
                </div><!--//app-card-->
            </div><!--//col-->

            <div class="col">
                <div class="app-card app-card-stat shadow-sm h-100 sales-card">
                    <div class="app-card-body p-3 p-lg-4">
                        <h6 class="stats-type mb-1">Prev.&nbsp;Month&nbsp;Sales</h6>
                        <div class="">{{updatedSales[0].prev_month.totalSales | inrAmount}}</div>
                        <div class="stats-figure d-flex flex-row justify-content-between">
                            <div class="text-xs">
                                <span class="text-success">Approved</span><br>{{updatedSales[0].prev_month.approvedSales
                                | inrAmount}}
                            </div>
                            <div class="text-xs">
                                <span class="text-danger">Pending</span><br>{{updatedSales[0].prev_month.pendingSales |
                                inrAmount}}
                            </div>
                        </div>
                        <div class="stats-meta"></div>
                    </div><!--//app-card-body-->
                </div><!--//app-card-->
            </div><!--//col-->

            <div class="col">
                <div class="app-card app-card-stat shadow-sm h-100 sales-card">
                    <div class="app-card-body p-3 p-lg-4">
                        <h6 class="stats-type mb-1">This&nbsp;Month&nbsp;Sales</h6>
                        <div class="">{{updatedSales[0].this_month.totalSales | inrAmount}}</div>
                        <div class="stats-figure d-flex flex-row justify-content-between">
                            <div class="text-xs">
                                <span class="text-success">Approved</span><br>{{updatedSales[0].this_month.approvedSales
                                | inrAmount}}
                            </div>
                            <div class="text-xs">
                                <span class="text-danger">Pending</span><br>{{updatedSales[0].this_month.pendingSales |
                                inrAmount}}
                            </div>
                        </div>
                        <div class="stats-meta"></div>
                    </div><!--//app-card-body-->
                </div><!--//app-card-->
            </div><!--//col-->

            <div class="col">
                <div class="app-card app-card-stat shadow-sm h-100 sales-card">
                    <div class="app-card-body p-3 p-lg-4">
                        <h6 class="stats-type mb-1">This&nbsp;Year&nbsp;Sales</h6>
                        <div class="">{{updatedSales[0].this_year.totalSales | inrAmount}}</div>
                        <div class="stats-figure d-flex flex-row justify-content-between">
                            <div class="text-xs">
                                <span class="text-success">Approved</span><br>{{updatedSales[0].this_year.approvedSales
                                | inrAmount}}
                            </div>
                            <div class="text-xs">
                                <span class="text-danger">Pending</span><br>{{updatedSales[0].this_year.pendingSales |
                                inrAmount}}
                            </div>
                        </div>
                        <div class="stats-meta"></div>
                    </div><!--//app-card-body-->
                </div><!--//app-card-->
            </div><!--//col-->

            <div class="col">
                <div class="app-card app-card-stat shadow-sm h-100 sales-card">
                    <div class="app-card-body p-3 p-lg-4">
                        <h6 class="stats-type mb-1">Total&nbsp;Sales</h6>
                        <div class="">{{updatedSales[0].till_now.totalSales | inrAmount}}</div>
                        <div class="stats-figure d-flex flex-row justify-content-between">
                            <div class="text-xs">
                                <span class="text-success">Approved</span><br>{{updatedSales[0].till_now.approvedSales |
                                inrAmount}}
                            </div>
                            <div class="text-xs">
                                <span class="text-danger">Pending</span><br>{{updatedSales[0].till_now.pendingSales |
                                inrAmount}}
                            </div>
                        </div>
                        <div class="stats-meta"></div>
                    </div><!--//app-card-body-->
                </div><!--//app-card-->
            </div><!--//col-->
        </div>
    </div>
</div>



<!-- this section will be showed only to hr department -->
<div class="g-2 mb-4 department-card-container row"
    *ngIf="department==='HR Department' || department === 'IT Department' ">
    <div *ngFor="let obj of departmentAndCount" class="border-0" data-toggle="tooltip"
        data-bs-custom-class="department-tooltip" data-placement="bottom" [title]="obj.department">
        <div class="app-card app-card-stat shadow-sm justify-content-center department-card cursor-pointer"
            (click)="viewDepartmentData(obj.department)">
            <div class="app-card-body p-2 p-lg-3">
                <div class="">
                    <img [src]="'assets/images/icons/departments/'+changeNameFormat(obj.department)+'.png'"
                        class="icons-element" alt="">
                </div>

                <div class="">
                    <h4 class="stats-type mb-1">{{obj.department}}</h4>
                </div>
                <div class="stats-figure">{{obj.count}}</div>
                <div class="d-flex flex-row justify-content-between">
                    <div class="text-xs">
                        <span class="text-success">Active</span><br>{{obj.active}}
                    </div>
                    <div class="text-xs">
                        <span class="text-danger">Inactive</span><br>{{obj.inactive}}
                    </div>
                </div>

            </div><!--//app-card-body-->
        </div><!--//app-card-->
    </div><!--//col-->
</div>