.sales-card-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.sales-card {
    min-height: 100%;
    transition: transform 0.8s;

    & .stats-type {
        font-size: 11px;
        height: 15px;
        vertical-align: middle;
        word-wrap: break-word;
    }

    & .stats-figure {
        font-size: large;
    }

    & .stats-danger {
        color : rgb(245, 26, 26);
    }

    & .stats-success {
        color: rgb(28, 214, 28);
    }
}

.sales-card:hover {
    -ms-transform: scale(1.1);
    /* IE 9 */
    -webkit-transform: scale(1.1);
    /* Safari 3-8 */
    transform: scale(1.04);
    z-index: 1;

    color: #fff;

    background: #20809d;

    & .stats-type {
        color: #fff;
    }

    & .stats-figure {
        color: #fff;
    }

    & .stats-danger {
        color : rgb(255, 255, 255);
    }

    & .stats-success {
        color: rgb(255, 255, 255);
    }

    & .text-xs span {
        color: #fff !important;
    }
}

.department-card-container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);

}

.department-card {
    min-height: 100%;
    transition: transform 0.8s;

    & .stats-type {
        font-size: 11px;
        height: 40px;
        vertical-align: middle;
        word-wrap: break-word;
    }

    & .stats-figure {
        font-size: large;
    }
}

.department-card:hover {
    -ms-transform: scale(1.1);
    /* IE 9 */
    -webkit-transform: scale(1.1);
    /* Safari 3-8 */
    transform: scale(1.1);
    z-index: 1;
}

.icons-element {
    height: 60px;
    width: 50px;
    object-fit: fill;
    filter: grayscale(100%) sepia(100%) saturate(5000%) hue-rotate(206deg) !important;
    // filter:  grayscale(100%) sepia(100%) hue-rotate(200deg) saturate(5000%) brightness(0.8);
}

.department-card:hover {
    // background: #0069d9;
    // background: #196076;
    background: #20809d;

    & .icons-element {
        // filter: grayscale(100%) brightness(300%);
        filter: brightness(0) invert(1);
    }

    & .stats-type {
        color: #fff;
    }

    & .stats-figure {
        color: #fff;
    }

    & .text-xs{
        color: #fff;
    }

    & .text-xs span{
        color: #fff !important;
    }
}

// media queries

@media (max-width:992px) {
    .department-card-container {
        grid-template-columns: repeat(5, 1fr);
    }

    .sales-card-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width:768px) {
    .department-card-container {
        grid-template-columns: repeat(3, 1fr);
    }

    .sales-card-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width:565px) {
    .sales-card-container {
        grid-template-columns: repeat(1, 1fr);
    }
    .stat {
        margin-top: 10px;
    }
}

@media (max-width:300px) {
    .department-card-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .sales-card-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .stat {
        margin-top: 10px;
    }
}

.text-xs {
    font-size: 11px;
}
.bgimage{
   // border:2px solid black;
    width: 100%;
    
}