

$primary: #15a362;

a {
	transition: .3s all ease;
	color: $primary;
	&:hover, &:focus {
		text-decoration: none !important;
        box-shadow: none;
		outline: none !important;
	}
}



.bg-primary{
	background: red;
}

.ftco-section{
	padding: 7em 0;
}



.heading-section{
	font-size: 28px;
}


.img{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.form-control {
	font-family: inherit;
	font-size: 14px;
	border-radius: 2px;
	box-shadow: none !important;
    height: 36px;
	background: white;
	color: rgba(0,0,0,.8);
	border: 1px solid rgba(0,0,0,.1);
	&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	  color: rgba(0,0,0,.3) !important;
	}
	&::-moz-placeholder { /* Firefox 19+ */
	  color: rgba(0,0,0,.3) !important;
	}
	&:-ms-input-placeholder { /* IE 0+ */
	  color: rgba(0,0,0,.3) !important;
	}
	&:-moz-placeholder { /* Firefox 18- */
	  color: rgba(0,0,0,.3) !important;
	}
	&:focus, &:active {
		border-color: $primary !important;
	}
}
textarea.form-control {
	height: inherit!important;
}

select{
    border-radius: 0;
}

option{
    font-size: 14px;
    padding: 10px;
    border-radius: 0;
}

select option:hover{
    background: $primary !important;
}






.wrapper{
	width: 100%;
	-webkit-box-shadow: 0px 21px 41px -13px rgba(0,0,0,0.18);
	-moz-box-shadow: 0px 21px 41px -13px rgba(0,0,0,0.18);
	box-shadow: 0px 21px 41px -13px rgba(0,0,0,0.18);
}
.contact-wrap{
	background: white;
}

.info-wrap{
	background: $primary;
	color: rgba(255,255,255,.8);
	h3{
		color: white;
	}
	.dbox{
		width: 100%;
		color: rgba(255,255,255,.8);
		margin-bottom: 10px;
		&:last-child(){
			margin-bottom: 0;
		}
		p{
			margin-bottom: 0;
			span{
				font-weight: 500;
				color: white;
			}
			a{
				color: black;
			}
		}
		.icon{
			width: 50px;
			height: 50px;
			border-radius: 50%;
			border: 2px solid rgba(255,255,255,.2);
			span{
				font-size: 14px;
				color: white;
			}
		}
		.text{
			width: calc(100% - 50px);
		}
	}
}

.btn {
	padding: 12px 16px;
	cursor: pointer;
	border-width: 1px;
	border-radius: 5px;
	font-size: 14px;
	font-weight: 400;
	position: relative;
	margin-bottom: 20px;
	transition: all 0.5s ease;
    -webkit-box-shadow: 0px 10px 20px -6px rgba(0,0,0,0.12);
	-moz-box-shadow: 0px 10px 20px -6px rgba(0,0,0,0.12);
	box-shadow: 0px 10px 20px -6px rgba(0,0,0,0.12);
	&:hover, &:active, &:focus {
		outline: none !important;
		-webkit-box-shadow: 0px 10px 20px -6px rgba(0,0,0,0.22) !important;
		-moz-box-shadow: 0px 10px 20px -6px rgba(0,0,0,0.22) !important;
		box-shadow: 0px 10px 20px -6px rgba(0,0,0,0.22) !important;
	}
	&.btn-primary {
		background: $primary !important;
		border-color: $primary !important;
		color: white;
		&:hover,&:focus{
			border-color: darken($primary,10%) !important;
			background: darken($primary,10%) !important;
		}
	}
}

.contactForm{
	.label{
		color: black;
		text-transform: uppercase;
		font-size: 12px;
		font-weight: 600;
	}
	.form-control{
		border: none;
		border-bottom: 1px solid rgba(0,0,0,.1);
		padding: 0;
	}
}


//Forms style
#contactForm {
	.error {
		color: red;
		font-size: 12px;
	}
	.form-control {
		font-size: 14px;
	}
}
#message {
	resize: vertical;
}

#form-message-warning{
	background-color: rgba(161, 103, 103, 0.678)a(255, 0, 0, 0.603) !important;
	padding: 10px;
	color: red;
}

#form-message-success{
	background-color: rgba(103, 161, 137, 0.705)a(255, 0, 0, 0.603) !important;
	padding: 10px;
	color: green;
}

.sumbission-invisible{
	display: none;
}

.submitting {
	float: left;
	width: 100%;
	padding: 10px 0;
	display: none;
	font-size: 14px;
	font-weight: bold;
}

.hide-response{
	display: none !important;
}