.bg-Portal{
    background: linear-gradient(to left, #00173c, #011c4d);
    border-bottom: 0.5px solid #112f5d;
}

.onboard-form label{
   font-size: large;
}

.onboard-form input{
    background: transparent;
    color: white;
    outline-color: white !important;
}

.onboard-form input::placeholder{
    color: white;
}
