<!-- Modal Header -->
<div class="modal-header bg-Portal">
  <h6 class="modal-title text-white" id="modal-basic-title">BUSINESS</h6>
  <button type="button" class="btn-close btn-close-white" aria-label="Close" (click)="activeModal.close()"></button>
</div>

<!-- Modal Body -->
<div class="modal-body"
  style="background:linear-gradient(rgba(2, 27, 77, 0.87), #010e28); color: white; border-top: #112f5d;">

  <!-- Business Form Starts -->
  <form [formGroup]="businessForm" class="onboard-form" (ngSubmit)="submitForm()">
    <div class="row">

      <!-- Owner Name Field -->
      <div class="col-md-12 my-2">
        <label for="owner_name" class="form-label">Business Owner Name<sup>*</sup> </label>
        <input type="text" formControlName="owner_name" type="text" class="form-control"
          placeholder="Business Owner Name"
          [ngClass]="{ 'is-invalid': (submitted && businessform['owner_name'].errors)}" id="owner_name" />
        <div *ngIf="submitted && businessform['owner_name'].errors" class="invalid-feedback">
          <div *ngIf="businessform['owner_name'].errors['required']">Business Owner Name is
            Required</div>
        </div>

      </div>

       <!-- Business Entity Field -->
      <div class="col-md-12 my-2">
        <label for="business_entity" class="form-label">Business Entity<sup>*</sup> </label>
        <input formControlName="business_entity" type="text" class="form-control" placeholder="Business Entity"
          [ngClass]="{ 'is-invalid': (submitted && businessform['business_entity'].errors)}" id="business_entity">
        <div *ngIf="submitted && businessform['business_entity'].errors" class="invalid-feedback">
          <div *ngIf="businessform['business_entity'].errors['required']">Business Entity is
            Required</div>
        </div>
      </div>

      <!-- Business Category Field -->
      <div class="col-md-12 my-2">
        <label for="business_category" class="form-label">Business Category<sup>*</sup></label>
        <div class="select-wrapper">
          <select class="form-control" formControlName="business_category" id="business_category"
            [ngClass]="{ 'is-invalid': (submitted && businessform['business_category'].errors)}" id="business_category">
            <option value="" selected disabled hidden>Select Business Category &#9662;</option>
            <option value="Food Business Operator">Food Business Operator</option>
            <option value="Other">Other</option>
          </select>
        </div>
        <div *ngIf="submitted && businessform['business_category'].errors" class="invalid-feedback">
          <div *ngIf="businessform['business_category'].errors['required']">Business Category Name is
            Required</div>
        </div>
      </div>

      <!-- Manger Name Field -->
      <div class="col-md-12 my-2">
        <label for="manager_name" class="form-label">Manager Name<sup>*</sup> </label>
        <input formControlName="manager_name" type="text" class="form-control" placeholder="Manager Name"
          [ngClass]="{ 'is-invalid': (submitted && businessform['manager_name'].errors)}" id="business_entity">
        <div *ngIf="submitted && businessform['manager_name'].errors" class="invalid-feedback">
          <div *ngIf="businessform['manager_name'].errors['required']">Manager Name is
            Required</div>
        </div>
      </div>

      <!-- Manager Contact Field -->
      <div class="col-md-12 my-2">
        <label for="contact_no" class="form-label">Manager Contact<sup>*</sup> </label>
        <input formControlName="contact_no" type="number" class="form-control" placeholder="Manager Contact"
          [ngClass]="{ 'is-invalid': (submitted && businessform['contact_no'].errors)}" id="business_entity">
        <div *ngIf="submitted && businessform['contact_no'].errors" class="invalid-feedback">
          <div *ngIf="businessform['contact_no'].errors['required']">Manager Contact is
            Required</div>
            <div *ngIf="businessform['contact_no'].errors['pattern']">Manager Contact is
              Invalid</div>
        </div>
      </div>

      <!-- Ownership Type Field -->
      <div class="col-md-12 my-2">
        <label for="business_ownership_type" class="form-label">Ownership Type<sup>*</sup></label>
        <div class="select-wrapper">
          <select class="form-control" formControlName="business_ownership_type" id="business_ownership_type"
            [ngClass]="{ 'is-invalid': (submitted && businessform['business_ownership_type'].errors)}">
            <option value="" selected disabled hidden>Select Business Type &#9662;</option>
            <option value="Single Shop Owner">Single Shop Owner</option>
            <option value="Multi Shop Owner">Multi Shop Owner</option>
          </select>
        </div>
        <div *ngIf="submitted && businessform['business_ownership_type'].errors" class="invalid-feedback">
          <div *ngIf="businessform['business_ownership_type'].errors['required']">Business Type is
            Required</div>
        </div>
      </div>

      <!-- Email Field -->
      <div class="col-md-12 my-2">
        <label for="email" class="form-label">Email<sup>*</sup> </label>
        <input formControlName="email" type="text" class="form-control" placeholder="Email" id="email"
        [ngClass]="{ 'is-invalid': (submitted && businessform['email'].errors)}">
        <div *ngIf="submitted && businessform['email'].errors" class="invalid-feedback">
          <div *ngIf="businessform['email'].errors['required']">Email is
            Required</div>
            <div *ngIf="businessform['email'].errors['email']">Invalid Emai.</div>
        </div>
        <!-- <div *ngIf="submitted && function['email'].errors"></div> -->
      </div>
    </div>

    <!-- Select Onboarding Officer -->
    <div class="col-md-12 my-2">
      <label for="onboard_by" class="form-label">Onboarding Officer<sup>*</sup></label>
      <div class="select-wrapper">
        <select class="form-control" formControlName="onboard_by" id="onboard_by"
          [ngClass]="{ 'is-invalid': (submitted && businessform['onboard_by'].errors)}">
          <option value="" selected disabled hidden>Select Onboarding Officer &#9662;</option>
          <option *ngFor="let emp of empList" [value]="emp.employee_id">{{emp.employee_name}} ({{emp.employee_id}})</option>
        </select>
      </div>
      <div *ngIf="submitted && businessform['onboard_by'].errors" class="invalid-feedback">
        <div *ngIf="businessform['onboard_by'].errors['required']">Onboarding Officer is
          Required</div>
      </div>
    </div>
    <div class="col-md-12 my-2">
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
    <!-- Business Form Ends -->
    <!-- loader -->
  <ngx-loading [show]="loading"></ngx-loading>
</div>