<div class="modal-header bg-Portal">
    <h6 class="modal-title text-white" id="modal-basic-title">BUSINESS</h6>
    <button type="button" class="btn-close btn-close-white" aria-label="Close" (click)="activeModal.close()"></button>
</div>
<!-- style="background:linear-gradient(rgba(2, 27, 77, 0.87), #010e28)" -->
<div class="modal-body" style="background:linear-gradient(rgba(2, 27, 77, 0.87), #010e28); color: white; border-top: #112f5d;">

    <form class="onboard-form">
        <div class="row">
            <div class="col-md-12 my-2">
                <label class="form-label">BO Name<sup>*</sup> </label>
                <input id="fboname" type="text" class="form-control" placeholder="BO Name">
            </div>
            <div class="col-md-12 my-2">
                <label class="form-label">Owner Name<sup>*</sup> </label>
                <input type="text" class="form-control" placeholder="Owner Name">
            </div>
            <div class="col-md-12 my-2">
                <label class="form-label">Contact No.<sup>*</sup> </label>
                <input type="number" class="form-control" placeholder="Contact No.">
            </div>
            <div class="col-md-12 my-2">
                <label class="form-label">Email<sup>*</sup> </label>
                <input type="email" class="form-control" placeholder="Email">
            </div>
        </div>
    </form>

</div>