
<div class="row">
    <div class="col-md-6">
        <label for="food_category" class="form-label">Select Documents to Upload<sup>*</sup></label>
        <app-multi-select #multiSelect class="cursor-pointer" [options]="foscosDocumentsName"
            [placeHolder]="'Select Documents'" (selectedArrayChange)="getSelectedDocs($event)"></app-multi-select>
        <!-- <div *ngIf="verified && verificationform['food_category'].errors" class="invalid-feedback">
                  <div *ngIf="verificationform['food_category'].errors">Food categories are required</div>
                </div> -->
    </div>


    <div class="col-md-3">
        <label for="payment_date" class="form-label">Upload Docs.</label><sup>*</sup>
        <br>
        <fa-icon [icon]="faFileArrowUp" class="fa-2xl text-primary" (click)="openDocumentationModal()"></fa-icon>
    </div>
</div>