<div class="" id="msdd">
    <div class="display py-1 px-0 form-control form-control-sm" [ngClass]="{'display-focus': isdropped, 'invalid-display': invalid, 'invalid-display-focus':invalid && isdropped}"
        (click)="onDisplayClick($event) ">
        <div *ngIf="selected.length > 0" class="tags mx-1 px-2">
            {{selected[0]}}
        </div>
        <div *ngIf="selected.length > 1" class="tags">
            {{'+' + (selected.length - 1).toString()}}
        </div>
        <!-- <fa-icon *ngIf = "invalid" class="fa-1x fa-thin danger" [icon]="faCircleExclamation"></fa-icon> -->
        <svg *ngIf = "invalid" style="color: #dc3545; position: absolute; right: 30px; top: 5px;" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-circle" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
            <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0z"/>
          </svg>
        <fa-icon class="fa-1x down-icon" [ngClass]="{'rotateUp':isdropped}" [icon]="faAngleDown"></fa-icon>
    </div>
    <div class="checks form-control px-0 pb-0" (click)="onCheckClick($event)" [ngClass]="{'option-dropped': isdropped}"
        [ngStyle]="{'bottom': -checksTop + 'px'}">
        <div class="check px-3" [ngClass]="{'disabled': obj.count > 2}" *ngFor="let obj of all" style="height: 25px;">
            <input type="checkbox" [(ngModel)]="obj.checked" (click)="onclicked($event)" class="myCheckbox"
                [value]="obj.count" [id]="obj.name" [disabled]="obj.count > 2"/>
            <label [for]="obj.name"> {{obj.name}}</label>
        </div>
    </div>
</div>
<div *ngIf="invalid" [ngClass]="{'invalid-submit': invalid}">Product Name is required</div>